<h2>Kernwaarde leerstijlen&trade;</h2>
<br/>
<p>
    <span>Op het moment dat we de kernwaarden van een persoon kennen, krijgen we een goed inzicht in de <b><i>
        leerstijlen</i></b>  van die persoon. We weten dat iedereen in staat is om tot een bepaald niveau te leren
in elke leerstijl. Maar wanneer dat leren in overeenstemming gaat met de
primaire leerstijl, zal dat leren makkelijker en met veel meer plezier gaan dan
wanneer het leren gebeurt in een leerstijl die van nature minder goed bij het
individu aansluit.</span>
</p>
<p><span>&nbsp;<br/><br/><br/></span></p>
<h1>
    <span>De vier leerstijlen</span></h1>
<p>
    <span>De leerstijl van een individu is direct
gerelateerd aan zijn/haar kernwaarde. Wanneer leermomenten aansluiten bij, of
in harmonie zijn met de kernwaarden van het individu, gaat het leren makkelijk,
is het leuk en heeft het leren blijvende resultaten. Wanneer de leermomenten
komen op een manier die tegengesteld is aan de leerstijl van het individu, is
het leren zwaar, saai en irritant. Het kost dan veel te veel energie en het
leereffect verdwijnt zodra de “les” voorbij is.</span>
</p>
<p>
    <span>We onthouden alles dat onze
kernwaarden ondersteunt of bevestigd. Dingen die onze kernwaarden niet
ondersteunen of bevestigen vergeten we heel makkelijk. De reden hiervoor is
simpel. We zijn allemaal geprogrammeerd om op een bepaalde consequente manier
het leven te benaderen. Dit is gebaseerd op ons unieke recept van de
kernwaarden. We hebben allemaal deze waarden, maar wel in verschillende
verhoudingen. Onze strategie is gebaseerd op deze kernwaarden en we weten intuïtief
dat we onze eigenwaarde en zelfrespect ontwikkelen wanneer we “werken” binnen
deze structuur van kernwaarden. Ook weten we intuïtief dat we onze bijdrage aan
de samenleving leveren als we in overeenstemming met deze kernwaarden
functioneren.</span>
</p>
<p>
    <span>Wanneer we bezig zijn met het leren van zaken die
onze kernwaarden ondersteunen en er op gericht zijn om voldoening te krijgen in
deze kernwaarden, zijn we vol enthousiasme, energie en motivatie. Als we deze
lessen toepassen op ons verlangen om een bijdrage aan de samenleving te
leveren, neemt onze eigenwaarde en zelfrespect toe, neemt vervolgens ons
zelfvertrouwen toe en presteren we op ons hoogste niveau van productiviteit, creativiteit
en effectiviteit. Wanneer de lessen in overeenstemming zijn met onze kernwaarden
neemt ons verlangen en vermogen om te leren toe.</span></p>
<h1>
    <span>1. Builders – De "beslis-en-doe" leerstijl</span></h1>
<p>
    <span>De Beslis en Doe leerstijl is de
meest moeilijke leerstijl…….. De drijfveren van deze personen is om
beslissingen te nemen op basis van een (onderbuik) gevoel om vervolgens actie te ondernemen.. Ze willen –NU- dingen
veranderen. Ze willen hun eigen kracht ervaren in hun eigen dagelijkse leven.</span>
</p>
<p>
    <span>Creëer wedstijden waarbij veel
snelle beslissingen, op basis van weinig informatie, genomen moeten worden. Snelle
actie – zoals fysieke wedstrijden die een gevoel van persoonlijke kracht en
bekwaamheid geven. Bijvoorbeeld het in teamverband, stapelen van grote blokken
om zo de hoogste stapel of de stapel die het meeste gewicht kan dragen, te
maken. Voorbeelden zijn fysieke spellen en wedstrijden en oefeningen in
leiderschap, namelijk het vermogen om duidelijk commando’s over te brengen en
ervoor te zorgen dat het team samenwerkt om een korte termijn doel te
bereiken.</span>
</p>
<p>
    <span>De leerstijl van deze mensen heeft
een connectie met kracht (de toepassing van persoonlijke energie voor een juist
effect) nodig. Wat er ook in het klaslokaal gebeurt, het moet te maken hebben
met het vooruitzicht van een krachtig effect of de directe toepassing van
persoonlijke kracht (op een vriendelijke manier gebrachte opdrachten of orders).
De katalysator hiervoor is vertrouwen. Dit vertrouwen zegt: “<i>Ik weet wat ik moet doen, Ik zal de
resultaten behalen die ik voor ogen heb en ik weet wat de volgende stap moet
zijn</i>”. Wanneer beslis en doe personen zich in een situatie bevinden die de
elementen van vertrouwen, snel beslissingen nemen en fysieke, tastbare gevolgen
nodig hebben, zullen zij zich zeer voldaan voelen.</span>
</p>
<p>
    <b><span>Vormen van Communicatie die niet werken voor Builders (beslis en do mensen)</span></b>
</p>
<p>
    <span>Wanneer je tegen “beslis-en-doe” personen zegt dat ze moeten gaan zitten en luisteren, zullen ze niet alleen
niet luisteren, maar waarschijnlijk ook opstaan. Deze mensen zijn handeling georiënteerd.
Geef hen een tastbare opdracht of situaties waarin beslissingen genoemd moeten worden. Verwacht geen
één-op-één samenwerking op vertrouwelijk niveau, tenzij
het er specifieke beslissingen genomen moeten worden die leiden naar concrete
actie en meetbare resultaten.</span>
</p>
<p>
    <span>Geef “beslis-en-doe” individuen situaties waarin assertiviteit en spontane reacties vereist is. Vraag hen niet
mooie plaatjes te tekenen, maar op de achterkant van een bierviltje een
strategie te schetsen die leidt tot een beslissende actie. Vraag hen niet om op
zichzelf onderzoek te doen of om mee te doen in lange (meer dan 10 minuten)
brainstormsessies of het bijwonen van lange voordrachten. Geef hen het
vooruitzicht om snel actie te kunnen ondernemen voor elke korte presentatie of
bijeenkomst. Je kan hen beter geen langdurige videobeelden laten zien.</span>
</p>

<h1><span>2. Merchants – De "praat-en-luister" leerstijl</span></h1>
<p>
    <span>De Praat en Luister leerstijl is een
energieke, leuke en team georiënteerde leerstijl. De meest prettige lesmethodes
in deze leerstijl omvatten spellen, rollenspellen, korte groeps- en individuele
presentaties met veel schema’s, illustraties, en filmpjes. Maar ook korte (5-10
minuten) instructies met een directe toepassing van het onderwerp in een leuke
oefening. Het delen van persoonlijke dingen in kleine groepen of in één op één
gesprekken zijn voor deze groep mensen belangrijk en gewenst.</span>
</p>
<p>
    <span>
	De Kernwaarde van deze leerstijl is
Liefde (koesteren en voeden van de kernwaarden van anderen en zichzelf) en
waarheid (de dingen zien zoals ze werkelijk zijn, de manier waarop mensen met
elkaar omgaan). Alles wat gaat over deze zaken is interessant. Elke methode die
deze waarden gebruikt heeft de voorkeur
van deze mensen. <a href="#aBook">Om een grondig en volledig begrip te krijgen van deze principes kunt u de
onderstaande leidraad aanschaffen.</a>
</span>
</p>
<p>
    <span><b>Vormen van communicatie die niet werken voor Merchants (praten en luisteren)</b></span></p>
<p>
    <span>“Praat-en-luister” personen kunnen
geen geduld opbrengen voor droge data of informatie overdracht sessies. Ze
vervelen zich snel en raken gefrustreerd door onderzoek en “eenzame” opdrachten.
Boeken en literatuur moet voor deze mensen niet hooggeleerd en theoretisch
zijn. Luisteren naar lange voordrachten of presentaties is funest voor de
aandacht. Als er in klassikale sessies geen ruimte is voor uitgebreide
gesprekken of socratische discussies (mening geven, argumenteren,
concretiseren, samenvatten en goed luisteren) dan kun je deze mensen er moeilijk
bij betrekken. Deze mensen nemen al pratend beslissingen. Ze komen tot
oplossingen door discussies. Zij houden ervan om anderen te steunen in dat
proces. Het leereffect is het grootst wanneer deze elementen prominent aanwezig
zijn. Merchants worden in verlegenheid gebracht door het direct meten van
resultaten. Ze houden niet van persoonlijke conflicten. Ze verzetten zich tegen
het openlijk moeten aanhoren van kritiek. Ze houden van intensieve, veel
energie vragende, maar vriendschappelijke spellen, sporten of situaties. Maar
vraag hen niet om persoonlijke reacties, om directer te zijn of om zich te haasten in
hun praat en luister proces met anderen.</span>
</p>
<h1><span>3. Innovators- De "observeer-en-los-op" leerstijl</span></h1>
    <p>
    <span>De kern van deze leerstijl is
complexe en moeilijke uitdagingen. Situaties met veelzijdige en gevarieerde
uitkomsten, brainstormen, gekonkel, vergaren van informatie door gebruik te
maken van alle 5 de zintuigen (dus niet gedetailleerd onderzoek). Deze
elementen moeten aanwezig zijn om de aandacht te trekken en te houden van de
observerende, probleemoplossende persoon. Doordachte mysteries of raadsels,
puzzels, beoordelingen van systemen en aanbevelingen, het dagelijkse echte
leven, ernstige of taaie verhalen met complexe en samenhangende slimmigheden
maken de “observeer-en-los-op” leerstijl creatief en aansprekend.</span> 
    </p>
    <p>
        <span>De kernwaarde die in deze leerstijl
geëerd moet worden is Wijsheid. Deze mensen hebben het nodig om een complexe
situatie te evalueren. Complexe en moeilijke problemen intrigeren deze mensen
en hun zelfrespect is significant gebaseerd op de grootte, belang en de
moeilijkheid van de problemen die ze oplossen.</span>
    </p>
    <p>
        <span>Ze moeten gevraagd worden om hun
eigen individuele beoordelingen te maken om zo hun eigen intellectuele krachten
te ontwikkelen. Ook moeten zij de gelegenheid krijgen om hun observaties te
delen en te brainstormen om met een wijs antwoord of wijze oplossing te kunnen
komen. Ze zijn competitief met hun ideeën en het geeft hen voldoening wanneer
hun oplossingen geaccepteerd en geïmplementeerd worden. Ze gedijen op interactieve
sessies waar ze ideeën kunnen spuien en waar oplossingen bedacht moeten worden.
Ze zijn bereid en in staat om begaan te blijven met mensen. Daarom zijn
discussies over het algemeen zeer energiek en confronterend zonder
strijdluchtig te zijn. Alle leermomenten waarbij observeren, begrijpen en het
hebben van wijsheid nodig zijn, zullen dit type mens boeien en intrigeren.</span>
    </p>
    <p>
        <b><span>Vormen van communicatie die niet werken bij een Innovator</span></b>
    </p>
    <p>
        <span>
		
		</span>
    </p>
    <p>
        <span>Het is ineffectief als je
“observeer-en-los-op&quot; mensen spontane, veel energie vereisende oefeningen
aanbiedt, die hen niet in de gelegenheid geven om een comfortabel niveau te
ontwikkelen voor het proces en de omgeving of geen tijd geven om de juiste
oplossing/reactie te bedenken. Geef hen geen gemakkelijke problemen om op te
lossen. Geef hen geen antwoorden. Laat hen zelf de antwoorden bedenken en
formuleren. Geef hen geen herhalende opdrachten of eenvoudige verwerking of
omzetting van getallen in andere vormen - geen analyse. Deze mensen willen
creatief en slim bezig zijn. Met deze mensen kan uren gesproken worden als er
veel boeiende vragen gesteld worden en een goede socratische (mening geven,
argumenteren, concretiseren, samenvatten en goed luisteren) dialoog kan
plaatsvinden.</span>
    </p>
	    <p>
        <span>
			Geef hen ruim de tijd om hun beoordeling te maken en om hun oplossingen daaruit af te leiden. Huiswerk is
goed voor deze mensen. Om tot hun beste Wijsheden te komen moeten zij zich in
alle stilte afzonderen. Geef deze mensen geen irrationele of emotionele docent
die op macht uit is. In dat geval zal de innovator simpelweg niet meedoen, of
de boel verstoren door het stellen van gênante verhorende vragen. Kleineer hen
niet in hun ideeën en dwing hen niet om snelle beslissingen te nemen anders kan
je weldoordachte feedback of zelfs bespotting verwachten. Wanneer
zij niet de kans krijgen om iets te beoordelen, vragen te stellen, hun
observaties en experimenten te verwerken voelen zij zich slecht en respectloos
behandeld en zullen ze zich koppig en onhandelbaar opstellen.
		</span>
    </p>
	
    <h1><span>4. Bankers – De "lees-en-analyseer" leerstijl</span></h1>
    <p>
        <span> De &quot;lees-en-analyseer&quot; leerstijl is zeer eenvoudig. Alles moet worden gebracht met details,
informatie, grafieken, schema’s en statistieken. Wanneer je deze personen niets
concreets geeft om uit het hoofd te leren maak je je niet populair. De kern
ingrediënten bij deze leerstijl is leesstof die harde bewijzen levert met de
mogelijkheid om deze te analyseren, te ontleden en te herschikken. Methodieken,
wiskunde, historisch bewijs en nauwkeurige experimenten boeien en intrigeren
deze personen. De Banker wil graag alles schriftelijk vastleggen.</span>
    </p>
    <p>
        <span>De Kernwaarde van deze personen is
Kennis (het hoe en waarom van dingen). Hen iets proberen te leren, zonder dat
het onderbouwd kan worden, of zonder dat zij het kunnen onderbouwen, heeft volstrekt
geen zin. Bankers (&quot;lees-en-analyseer&quot; individuen) waarderen
rechtvaardigheid. Zij vinden het prettig wanneer zij gevraagd worden om het
niveau van rechtvaardigheid en gepaste antwoorden in bepaalde situaties te
bepalen. Ook houden zij ervan om kennis over te
brengen op anderen. Geef hen veel gelegenheid om hun kennis te demonstreren of
onrechtvaardigheid te identificeren en te bewijzen.</span>
    </p>
    <p>
        <b><span>Vormen van communicatie die niet werken bij Bankers</span></b>
    </p>
    <p>
        <span>Het heeft geen nut om van Bankers
spontaniteit te verwachten, of hen mee te laten doen aan rollenspellen of niet
voorbereide presentaties. Zij willen graag gelijk hebben en perfect zijn. Breng
hen niet in situaties waar zij onwetend, onkundig of dom zouden kunnen lijken.
Geef hen niet een grote hoeveelheid gesproken informatie, maar geef het hen
zwart op wit. Geef hen geen informatie die ze niet kunnen gebruiken of
informatie beneden hun niveau van ontwikkeling. Laat hen zelf het werk doen om
de informatie of de data te vergaren, analyseren en verwerken in een analytisch
schrijven of zo iets dergelijks.</span>
    </p>
    <p>
        <span>Vraag hen niet om halsoverkop
beslissingen te nemen en verwacht geen intieme of relationele samenwerking.
Vraag niet om oplossingen voor complexe abstracte problemen. Deze mensen zijn
concreet en lineair in hun denken.</span>
    </p>
