
<p>
Wat betekent dit? Dit betekent dat jouw primaire kernwaarde <em>INNOVATOR</em> is 
- De aan de kernwaarde <em>INNOVATOR</em> gekoppelde energie is <em>wijsheid</em>. <em>Wijsheid</em> is de vaardigheid om de manier waarop dingen in elkaar zitten te zien en te onderscheiden wat te doen. 
Je kunt nauwkeurig situaties beoordelen en oplossingen aandragen. 
Jouw secundaire kernwaarde is <em>MERCHANT</em> - De aan de kernwaarde <em>MERCHANT</em> gekoppelde energie is <em>Liefde</em>. <em>Liefde</em> in deze zin is het toewerken naar een geïnspireerde visie van wat kan worden, door het voeden van de kernwaarden in jezelf en in anderen. 
Je gedijt in het opbouwen van relaties en je houdt ervan om de mensen om je heen een geïnspireerde visie te geven.
</p>