<!doctype html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width">
    <meta http-equiv="Cache-Control" content="no-cache, no-store, must-revalidate" />
    <meta http-equiv="Pragma" content="no-cache" />
    <meta http-equiv="Expires" content="0" />
</head>
<body>
    <div style="margin: 0 auto;padding: 8% 0;text-align: center;">
        <p class='loading-message'><h1>We are currently upgrading our website (ws).</h1><br/>We will inform you once the upgrade is completed.</p>
    </div>
</body>
</html>
