<?xml version="1.0"?>
<configuration>
  <configSections>
    <section name="nlog" type="NLog.Config.ConfigSectionHandler, NLog" requirePermission="false" /> 
<!--    <section name="securitySwitch" type="SecuritySwitch.Configuration.Settings, SecuritySwitch" /> -->
    <sectionGroup name="customConfig">
      <section name="QuadrantConfig" type="TP.CVI.QuadrantConfiguration"/>
      <section name="QuadrantTPPConfig" type="TP.CVI.QuadrantTPPConfiguration"/>
      <section name="ChartConfig" type="TP.CVI.ChartConfiguration"/>
      <section name="QuadrantFreeCVIConfig" type="TP.CVI.QuadrantFreeCVIConfiguration"/>
    </sectionGroup>  
  </configSections>

<!--
  <securitySwitch>
    <paths>
      <add path="~/Handlers/ProgressiveReport.ashx" ignoreCase="true"/>
      <add path="~/Handlers/Report.ashx" ignoreCase="true"/>
      <add path="~/Handlers/Image.ashx" ignoreCase="true"/>
      <add path="~/CVIReportFiles/" ignoreCase="true"/>
      	<add path="~/api/ssl/" ignoreCase="true"/>
	<add path="~/handlers/ssl/" ignoreCase="true"/>
    </paths>
  </securitySwitch>
 -->

  <appSettings>
    <add key="WSURL" value="http://ws.taylorprotocols.com/"/>
    <add key="SharedFolderUrl" value="http://members.taylorprotocols.com/"/>
    <add key="SharedFolder" value="D:\inetpub\wwwroot\members.taylorprotocols.com\"/>
    <add key="ReportFiles" value="D:\inetpub\wwwroot\ws.taylorprotocols.com\CVIReportFiles\"/>
    <add key="Images" value="D:\inetpub\wwwroot\ws.taylorprotocols.com\Images\"/>
    <add key="DefaultPCRAfid" value="100"/>
    <add key="CloneTestId" value="33857"/>
    <add key="Select.Pdf.License" value="o4iSg5GWkoOWlIOSlI2Tg5CSjZKRjZqampo=" />
  </appSettings>
  <connectionStrings>
    <!-- <add name="ConnectionString" connectionString="DRIVER={MySQL ODBC 5.3 Unicode Driver};  SERVER=54.146.145.12; UID=cvias2_taylor; PASSWORD=tayl0r1; DATABASE=tplive; Charset=utf8;OPTION=3"/> -->
	<add name="ConnectionString" connectionString="DSN=TPLive;" />
	<!-- <add name="ConnectionString" connectionString="DRIVER={MySQL ODBC 8.0 Unicode Driver};Server=erep.cluster-cqvo9pzis3jq.us-east-1.rds.amazonaws.com;Port=3306;Database=tplive;Uid=cvias2_taylor;Pwd=tayl0r1;persist security info=True" providerName="MySql.Data.MySqlClient" /> -->
    <!--
	<add name="ConnectionString" connectionString="DRIVER={MySQL ODBC 5.1 Driver} ; SERVER=localhost; UID=cvias2_taylor; PASSWORD=tayl0r1; DATABASE=tplive; Charset=utf8;OPTION=3"/>
     --> 
  </connectionStrings>
  <customConfig>
    <QuadrantConfig minSize="500" maxSize="2000" defaultSize="500">
      <coreValues>
        <add name="Builder" color="Red" text="Builder" alt="POWER" text_de-DE="Erbauer" alt_de-DE="Macht"  text_nl-NL="Builder" alt_nl-NL="Kracht" text_es-ES="Constructor" alt_es-ES="Poder"/>
        <add name="Merchant" color="Blue" text="Merchant" alt="LOVE" text_de-DE="Kaufmann" alt_de-DE="Liebe" text_nl-NL="Merchant" alt_nl-NL="Liefde" text_es-ES="Comerciante" alt_es-ES="Amor"/>
        <add name="Banker" color="#23FF34" text="Banker" alt="KNOWLEDGE" text_de-DE="Bewahrer" alt_de-DE="Wissen" text_nl-NL="Banker" alt_nl-NL="Kennis" text_es-ES="Banquero" alt_es-ES="Conocimiento"/>
        <add name="Innovator" color="Magenta" text="Innovator" alt="WISDOM" text_de-DE="Erneuerer" alt_de-DE="Weisheit" text_nl-NL="Innovator" alt_nl-NL="Wijsheid" text_es-ES="Innovador" alt_es-ES="Sabiduría"/>
      </coreValues>
    </QuadrantConfig>
    <QuadrantTPPConfig minSize="500" maxSize="2000" defaultSize="500">
      <coreValues>
        <add name="Builder" color="Red" text="Builder"/>
        <add name="Merchant" color="Blue" text="Merchant"/>
        <add name="Banker" color="#23FF34" text="Banker"/>
        <add name="Innovator" color="Magenta" text="Innovator"/>
      </coreValues>
    </QuadrantTPPConfig>
    <ChartConfig minSize="780" maxSize="2000" defaultSize="700" aspectRatio="0.5">
      <AxisFont Family="Arial" Size="10" Color="Black" />
      <HeaderFont Family="Arial" Size="11" Color="BlueViolet" />
      <coreValues>
        <add name="Builder" color="Red" text="Builder" text_de-DE="Erbauer" text_nl-NL="Builder" text_es-ES="Constructor"/>
        <add name="Merchant" color="Blue" text="Merchant" text_de-DE="Kaufmann" text_nl-NL="Merchant" text_es-ES="Comerciante"/>
        <add name="Banker" color="#23FF34" text="Banker" text_de-DE="Bewahrer" text_nl-NL="Banker" text_es-ES="Banquero"/>
        <add name="Innovator" color="Magenta" text="Innovator" text_de-DE="Erneuerer" text_nl-NL="Innovator" text_es-ES="Innovador"/>
        <add name="Intuitive" color="#ffc000" text="Intuitive" text_de-DE="Intuitiver" text_nl-NL="Intuïtieve" text_es-ES="Intuitivo"/>
        <add name="Cognitive" color="#c00000" text="Cognitive" text_de-DE="Kognitiver" text_nl-NL="Cognitieve" text_es-ES="Cognitivo"/>
        <add name="Creative" color="#8064a2" text="Creative" text_de-DE="Kreativer" text_nl-NL="Creatieve" text_es-ES="Creativo"/>
        <add name="Practical" color="#984807" text="Practical" text_de-DE="Praktischer" text_nl-NL="Praktische" text_es-ES="Práctico"/>
        <add name="Community" color="#4f6228" text="Community" text_de-DE="Gemeinschafts" text_nl-NL="Gemeenschap" text_es-ES="Comunitario"/>
        <add name="Independent" color="#868686" text="Independent" text_de-DE="Unabhängiger" text_nl-NL="Onafhankelijke" text_es-ES="Independiente"/>
      </coreValues>
    </ChartConfig>
    <QuadrantFreeCVIConfig minSize="500" maxSize="2000" defaultSize="500">
      <coreValues>
        <add name="Builder" color="#ec0502" text="Builder" alt="POWER" text_de-DE="Erbauer" alt_de-DE="Macht" text_nl-NL="Builder" alt_nl-NL="Kracht" text_es-ES="Constructor" alt_es-ES="Poder"/>
        <add name="Merchant" color="#00318d" text="Merchant" alt="LOVE" text_de-DE="Kaufmann" alt_de-DE="Liebe" text_nl-NL="Merchant" alt_nl-NL="Liefde" text_es-ES="Comerciante" alt_es-ES="Amor"/>
        <add name="Banker" color="#076f00" text="Banker" alt="KNOWLEDGE" text_de-DE="Bewahrer" alt_de-DE="Wissen" text_nl-NL="Banker" alt_nl-NL="Kennis" text_es-ES="Banquero" alt_es-ES="Conocimiento"/>
        <add name="Innovator" color="#c61ee5" text="Innovator" alt="WISDOM" alt_de-DE="Weisheit" text_de-DE="Erneuerer" text_nl-NL="Innovator" alt_nl-NL="Wijsheid" text_es-ES="Innovador" alt_es-ES="Sabiduría"/>
      </coreValues>
    </QuadrantFreeCVIConfig>
  </customConfig>
  <system.web>
    <!-- 
            Set compilation debug="true" to insert debugging 
            symbols into the compiled page. Because this 
            affects performance, set this value to true only 
            during development.
        -->
    <compilation debug="true">     
    </compilation>
    <!--
            The <authentication> section enables configuration 
            of the security authentication mode used by 
            ASP.NET to identify an incoming user. 
        -->
    <authentication mode="Windows"/>
    <!--
            The <customErrors> section enables configuration 
            of what to do if/when an unhandled error occurs 
            during the execution of a request. Specifically, 
            it enables developers to configure html error pages 
            to be displayed in place of a error stack trace.

        <customErrors mode="RemoteOnly" defaultRedirect="GenericErrorPage.htm">
            <error statusCode="403" redirect="NoAccess.htm" />
            <error statusCode="404" redirect="FileNotFound.htm" />
        </customErrors>
        -->
    <!-- <customErrors mode="RemoteOnly" defaultRedirect="https://members.taylorprotocols.com/Error.aspx"/> -->
    <httpModules>
      <add name="ScriptModule" type="System.Web.Handlers.ScriptModule, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>

      <!-- for IIS <= 6.x, IIS 7.x + Classic Mode, and Web Development Server (Cassini) -->
      <!-- <add name="SecuritySwitch" type="SecuritySwitch.SecuritySwitchModule, SecuritySwitch" /> -->
    </httpModules>
  </system.web>
  <runtime>
    <NetFx40_LegacySecurityPolicy enabled="true"/>
  </runtime>
  <system.webServer>
    <validation validateIntegratedModeConfiguration="false"/>
    <modules>
      <remove name="ScriptModule"/>
      <add name="ScriptModule" preCondition="managedHandler" type="System.Web.Handlers.ScriptModule, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>

      <!-- for IIS 7.x + Integrated Mode -->
      <!-- <add name="SecuritySwitch" type="SecuritySwitch.SecuritySwitchModule, SecuritySwitch" /> -->
    </modules>  
  </system.webServer>

  <system.serviceModel>
    <!--<basicHttpBinding>
      <binding name="ServiceOrderJobWorkflowEndpoint" />
    </basicHttpBinding>-->
    <behaviors>
      <serviceBehaviors>
        <behavior name="TP.CVI.ServiceBehavior">
          <serviceMetadata httpGetEnabled="true"/>
          <serviceDebug includeExceptionDetailInFaults="true"/>
        </behavior>
      </serviceBehaviors>
      <endpointBehaviors>
        <behavior name="ServiceAspNetAjaxBehavior">
          <webHttp/>
          <!--<enableWebScript/>-->
        </behavior>
      </endpointBehaviors>
    </behaviors>
    <services>
      <service behaviorConfiguration="TP.CVI.ServiceBehavior" name="TP.CVI.Service">
        <endpoint address="" binding="webHttpBinding" contract="TP.CVI.IService" behaviorConfiguration="ServiceAspNetAjaxBehavior"/>
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange"/>
      </service>
    </services>
  </system.serviceModel>

  <!-- NLog Configuration Settings -->
  <nlog internalLogLevel="Debug">
    <extensions>
      <add assembly="NLog.Extended"/>
    </extensions>
    <targets>
      <target name="file" type="File" layout="[${level}][${longdate}] ${logger}: ${message}" fileName="D:\inetpub\wwwroot\ws.taylorprotocols.com\Logs\log_${shortdate}.txt"/>
    </targets>
    <rules>
      <logger name="*" minlevel="Debug" appendTo="file"/>
    </rules>
  </nlog>
</configuration>
