van jouw kernwaarde energie komt voort uit kracht en wijsheid.</p>
                </div>
            </div>
            <div class="clearfix" id="topResults">
                <div class="checkOver">
                    <div id="congrats">
                        <p> 
                            <b>#FirstName#</b>, het CVI assessment toont aan dat je een <strong class="qTitlew">
                                #DominantValues#</strong> bent.</p>
<p>
Wat betekent dit? Dit betekent dat jouw primaire kernwaarde BUILDER is - De  aan de kernwaarde BUILDER gekoppelde energie is kracht. Kracht is persoonlijke energie die geïnvesteerd wordt om een positief verschil te maken. Je onderneemt consequent actie om resultaten te verkrijgen. Jouw secundaire kernwaarde is INNOVATOR - De aan de kernwaarde INNOVATOR gekoppelde energie is wijsheid. Wijsheid is de vaardigheid om de manier waarop dingen in elkaar zitten te zien en te onderscheiden wat te doen. Je kunt nauwkeurig situaties beoordelen en oplossingen aandragen.
</p>