de su energía derivada de sus valores primarios viene de Poder y Sabiduría.</p>
                </div>
            </div>
            <div class="clearfix" id="topResults">
                <div class="checkOver">
                    <div id="congrats">

                        <p>
						El evaluador the IVP encontró que usted es <strong class="qTitlew">Constructor-Innovador</strong>.</p>

<p>
¿Qué significa esto? Significa que su valor primario es CONSTRUCTOR. El valor dominante del constructor es poder. El poder es una energia persona invertida para hacer un cambio positivo. Toma acción constantemente para obtener resultados. Su valor secundario es de innovador. --El valor primario del innovador es la sabiduría. La sabiduría es la habilidad de ver las cosas como son, y discernir qué hacer al respecto. Evalúa con precisión las situaciones y aporta soluciones.
</p>