de su energía derivada de sus valores primarios viene de Amor y Sabiduría.</p>
                </div>
            </div>
            <div class="clearfix" id="topResults">
                <div class="checkOver">
                    <div id="congrats">
                        <p>
						El evaluador the IVP encontró que usted es <strong class="qTitlew">Comerciante-Innovador</strong>.</p>

<p>
¿Qué significa esto? Significa que su valor primario es COMERCIANTE. El valor dominante del comerciante es amor. El amor en este sentido es trabajar hacia una visión inspirada de lo que será, nutriendo los valores primarios de sí mismo y en otros. Busca relaciones para proveerles una visión inspiradora. Su segundo valor primario es INNOVADOR-- la energía del innovador es la sabiduría. La sabiduría es la capacidad de ver las cosas como son, y discernir qué hacer al respecto. Evaluar con precisión situaciones y aportar soluciones. 
</p>