	<div class="imgLeft">
		<img src="../CVIReportFiles/PCR_1200/images/definitions.png"></img>
	</div>

 <h2>Kernwaarden en Bijdrage Typen</b></h2><br />
<table>
    <tr>
        <td>     
        <b>Kernwaarden<br/></b>
        </td>
    </tr>
    <tr>
        <td>
            De kernwaardenindex (Core Value Index, CVI) geeft een nauwkeurig en accuraat beeld
van de kernwaarden van een persoon. De CVI kwadranten geven aan hoe die persoon
binnen elk van de 4 kernwaarden scoort:
        </td>
    </tr>
    <tr>
        <td>
            <table>
                <tr>
                    <td style="width:160px">
                        <b>Kwadrant</b>
                    </td>
                    <td>
                     <b>Kernwaarde</b>
                    </td>
                </tr>              
                <tr>
                    <td>
                        Builder
                    </td>
                    <td>
                        Kracht
                    </td>
                </tr>
                <tr>
                    <td>
                        Merchant
                    </td>
                    <td>
                        Liefde
                    </td>
                </tr>
                <tr>
                    <td>
                        Innovator
                    </td>
                    <td>
                        Wijsheid
                    </td>
                </tr>
                <tr>
                    <td>
                        Banker
                    </td>
                    <td>
                        Kennis
                    </td>
                </tr>
            </table>
        </td>
    </tr>
  </table>
<br/>

<p><span>
De scores in elk kwadrant geven de relatieve sterkte van die kernwaarde aan ten opzichte
van die in andere kwadranten. Over het algemeen scoort een persoon hoger op één
kernwaarde met een tweede kernwaarde direct daaronder die eveneens een
belangrijk deel uitmaakt van hun “opmaak”. De meeste mensen scoren hoger en
dichter bij elkaar op twee kwadranten vergeleken met de overige twee kwadranten.
De hoogste kernwaarde is de dominante kernwaarde. De op één na hoogste kernwaarde is
de secundaire kernwaarde. Op twee na hoogste kernwaarde noemen we de tertiaire
kernwaarde.
</span></p>
<p><span><b>Builder</b></span></p>

<p><span>
De kernwaarde energie van een “Builder” is “kracht”. Kracht is de persoonlijke
energie die wordt ingezet om een verschil te maken en een positief resultaat te
creëren. Deze kernwaarde wordt ondersteunt door de katalysator “Vertrouwen”. Dit
vertrouwen is de overtuiging van die een persoon heeft om te kunnen zeggen: ”<i>Ik weet wat ik moet doen, Ik weet dat wat ik
ga doen het juiste is en ik weet wat ik vervolgens moet doen</i>”.
</span></p>

<p><span>
Builders zijn een gerespecteerde groep mensen. Zij zijn krachtige personen die graag blijvende
nalatenschap creëren voor zichzelf en hun bedrijvigheden. Builders doen, nemen beslissingen en gaan voor resultaten.
Zij nemen de ambities van de Merchants, de ideeën van de Innovator en de feiten
en cijfers van de Bankers en produceren resultaten door hun persoonlijke
energie. Builders leiden door een voorbeeld te zijn en door middel van
vastomlijnde opdrachten of commando’s. Het is hun stijl om direct actie te ondernemen
en passen hun persoonlijke energie toe om een gewenst resultaat te behalen.
</span></p>

<p><span><b>Merchant</b></span></p>

<p><span>
De kernwaarde van een Merchant is Liefde. Liefde is het stimuleren en het voeden
van de kernwaarden in zichzelf en in anderen. Deze kernwaarde wordt ondersteunt
door de katalysator “Waarheid”. De “waarheid” is in staat om de dingen te zien
zoals ze werkelijk zijn.
</span></p>

<p><span>
Merchants zijn verbluffende verkopers. Maar bovenal zijn zij risico-nemers, Visionairs en
de handelaren die nieuwe markten aanboren. Merchants zien eindeloos veel
mogelijkheden. Zij cultiveren voeden en moedigen het najagen van rijkdom kunst
en schoonheid aan. Merchants motiveren en inspireren Builders, Innovators en
Bankers. Merchants bouwen teams en sluiten deals. Merchants leiden door liefde
en opgetogenheid. Zij vragen anderen om hulp bij het verwezenlijken van hun
unieke visie. Hun strategie is het aantrekken van anderen tot hun visie en het
cultiveren van de kernwaarden in anderen.
</span></p>

<p><span><b>Innovator</b></span></p>

<p><span>
De kernwaarde van de Innovator is Wijsheid. Wijsheid is de capaciteit om te zien
hoe dingen zijn en weten wat er aan gedaan moet worden. Deze kernwaarde wordt
ondersteunt door de katalysator “Compassie”. Compassie is het vermogen in
situaties te kunnen doorzien en begrijpen waarom anderen de dingen doen die ze
doen en hoe ze reageren.
</span></p>

<p><span>
Innovators dragen continu bij aan de samenleving door hun capaciteit om problemen op te
lossen. Zij observeren en begrijpen situaties en streven naar effectieve
oplossingen. Als anderen beweren dat iets onmogelijk is, komen Innovators met
een mogelijkheid en vragen dan: ”Wat als…?” Innovators houden projecten
draaiende door met alternatieve oplossingen te komen voor Builders, Merchants
en Bankers. Innovators vonden altijd een betere manier om iets te doen.
</span></p>
<p><span>
Ze leiden door te brainstormen, innovatie, strategisch denken en door te komen met
effectieve strategieën. Ze leiden door uithoren en voorzien in cruciale
antwoorden voor ernstige of zorgwekkende situaties. Hun strategie is om
terughoudend te zijn, alles goed te observeren om vervolgens toe te werken naar
een persoonlijk begrip van de gegeven situatie of probleem. Vanuit dit
persoonlijke begrip zijn ze in staat met wijze oplossingen en effectieve
strategieën te komen.
</span></p>
<p><span><b>Banker</b></span></p>
<p><span>
De kernwaarde van de Banker is Kennis. Kennis is het “Hoe” en het “Waarom” van
dingen. Deze kernwaarde wordt ondersteunt door de katalysator
“Rechtvaardigheid” Rechtvaardigheid is de eerlijke en billijke weg.
</span></p>
<p><span>
Bankers verkrijgen en conserveren de meest belangrijke kennis. Ze nemen persoonlijk
verantwoordelijkheid voor het verzamelen, veiligstellen en beschermen de meest
belangrijke middelen of bronnen van de samenleving. Ze nemen alle beschikbare data
in hun gebied van inspanning op. Ze organiseren gedachten en informatie om
anderen te helpen meer effectief te zijn. Ze betwisten de levensvatbaarheid van
nieuwe denkrichtingen en wegen door het aanhalen van in het verleden behaalde
successen of mislukkingen. Ze houden het systeem in balans. Bankers weerhouden
Builders, Merchants en Innovators van buitensporige risico’s. Bankers
conserveren, analyseren en informeren. Bankers werken hard voor
rechtvaardigheid en passend gedrag. Hun strategie is om constant kennis te
vergaren om wanneer het nodig is een antwoord klaar te hebben.
</span></p>






<h3>Bijdrage Typen</h3>

<p><span>
Meestal handelen mensen vanuit hun dominante en secundaire kernwaarde. Dit is waar zij de meeste waarde aan hechten
en van waaruit zij hun successen bewerkstelligen. Men kan echter een hoger
inzicht in de materie krijgen door te bekijken hoe de kernwaarden werken in
combinatie met elkaar. Deze combinaties noemen we de bijdragen types. Er zijn 6
bijdrage types. Elk bijdrage type is afgeleid van een unieke combinatie van
twee van de kernwaarden. De bijdrage types geven een persoon meer inzicht in
hoe de kernwaarden het gedrag en acties van die persoon beïnvloeden. Meestal
herkent een persoon zichzelf in de het dominante en secundaire type, maar
sommige kwaliteiten kunnen ook in de overige typen gevonden worden. Elk
dominant en secundair bijdrage type heeft positieve strategieën, die tot succes
leiden, maar heeft ook blinde vlekken en zwakheden.
</span></p>

<p><span><b>1. Intuïtieve Type: Instinctief weten met scherp eclectisch inzicht</b></span></p>

<p><span>
Het intuïtieve bijdrage type is een combinatie van de kernwaarden van de
Builder en de Merchant. De intuïtieve score is een optelling van de
Builderscore en de Merchantscore. Het tegenovergestelde van het intuïtiever
type is het cognitieve type. Builders en Merchants zijn beide intuïtieve in hun
denken. Builders handelen graag vanuit een (onderbuik)gevoel, vanuit impuls.
Merchants, eveneens intuïtieve mensen, handelen vanuit liefde. Beide
kernwaarden vertrouwen op spontaniteit. Intuïtieve mensen handelen over het
algemeen zonder veel nadenken of twijfel. Zij neigen er naar om snel
beslissingen te nemen op basis van hoe de dingen en situaties aanvoelen. Zij
vertrouwen op hun eigen capaciteit om te weten wat ze (vervolgens) moeten doen.
</span></p>

<p><span><b>2. Onafhankelijke Type: Het verlangen en bekwaamheid om autonoom te handelen, zonder supervisie en zware beperkingen.</b></span></p>
<p><span>
Het onafhankelijke bijdrage type is een combinatie van de kernwaarden van de
Builder en Innovator. De Onafhankelijkheid score is een optelling van de
Builderscore en de Innovatorscore. Het tegengestelde van de onafhankelijke type
is het type gemeenschap. Zowel Builders als Innovators laten graag iets na.
Builders laten graag monumenten na waaruit hun krachtige aanwezigheid in de wereld blijkt. Monumenten van tastbare
materialen zoals bijvoorbeeld stenen en hout. Bij Innovators moet hun nalatenschap meer gezocht worden in systemen,
nieuwe en innovatieve producten. Onafhankelijke personen nemen graag deel aan
het oplossen van problemen. De Innovator beoordeelt graag en vindt een juiste
oplossing, terwijl de Builder instinctief weet wat te doen en wil vervolgens
direct het probleem oplossen. Beide weten een goede strategie te bepalen in een
uitdagende situatie en willen direct de juiste dingen doen. Aangezien hun
persoonlijke kracht en wijsheid hun drijfveer is, hechten zij weinig waarde aan
teamwerk.
</span></p>

<p><span><b>3.Praktische Type: Ervaring, praktijk of toepassen in plaats van theorie of veronderstellen</b></span></p>
<p><span>
Het Praktische bijdrage type is een combinatie van de kernwaarden van de
Builder en de Banker. De Praktische score is een optelling van de Builder en de
Banker score. Het tegenovergestelde van het Praktische Type is het Creatieve
Type. Builders en Bankers hechten waarde aan gelijk hebben. Deze mensen denken
dat ze er nooit naast zitten. Builders geloven dat ze het nooit fout hebben
omdat ze handelen vanuit een (onderbuik)gevoel of instinct. En wie kan het instinct nu betwisten? Bankers geloven dat ze het nooit fout hebben omdat ze
data en informatie beschikbaar hebben als bewijs voor hun acties en conclusies.
Wanneer een Praktisch persoon de juiste conclusies heeft getrokken, is hij of
zij een krachtige constante factor die een stevige en onwankelbare beweging
voorwaarts creëert. Deze persoon heeft de neiging een koers uit te zetten,
daaraan vast te houden en doet wat er nodig is om daar aan vast te kunnen
blijven houden.
</span></p>

<p><span><b>4. Creatieve type: Originaliteit, expressie, visie en inbeelden wat kan zijn</b></span></p>
<p><span>
Het Creatieve type bijdrage is een combinatie van de kernwaarden van de
Merchant en de Innovator. De Creatieve score is een optelling van de
Merchantscore en de Innovatorscore. Het tegenovergestelde van het Creatieve
type is het Praktische type. Merchants en Innovators willen graag nodig zijn
voor of hun oplossingen en technologieën of voor hun menselijkheid,
creativiteit en liefde. Deze behoefte aan waardering drijft hen tot aangaan van
lange termijn relaties en het ontwikkelen van producten of systemen die deze
lange termijn relaties ondersteunen. De kracht van een Innovator/Merchant komt
van hun onuitputtelijke bron van creativiteit. Dit creëert een diep gevoel van
optimisme. Als de droom van een Merchant niet wordt gerealiseerd, kan de
Innovator het overnemen en met de gepaste oplossingen komen Wanneer de
oplossingen van de Innovator niet perfect in lijn liggen met de visie van de
Merchant, wordt behendig een nieuwe visie geformeerd. Deze nieuwe visie kan de
oplossingen en systemen bevatten die de Innovator heeft bedacht, maar zal meer
in lijn zijn met de waarden van de Innovator/Merchant.
</span></p>

<p><span><b>5. Gemeenschap type: Geloof en vertrouwen in teamwerk en organisaties van individuen als strategische middelen voor succes</b></span></p>
<p><span>
Het Gemeenschap bijdrage type is een combinatie van de kernwaarden van de Merchant
en de Banker. De gemeenschapsscore is een optelling van de Merchant en de
Bankerscore. Het tegenovergestelde van de het Gemeenschap type is het
Onafhankelijke Type. Wanneer het doel lange termijn relaties en lange termijn
resultaten zijn, zal een Banker/Merchant anderen maximaal verzekeren van een
positieve uitkomst. De waarde van de Merchant/Banker wordt het best zichtbaar
in situaties waarin zeer technische kennis of overvloedige kennis verspreid
moet worden naar anderen, of in situaties waarin het nemen van risico’s
noodzakelijk is en de noodzaak van (letten op)details en kunnen doorpakken enorm
is. Merchants kunnen zeer goed omgaan met risico’s. Bankers overwegen altijd
hoe zij een catastrofe zullen overleven.
</span></p>

<p><span><b>6. Cognitieve Type: Proces van het vermogen van kennis en redenatie</b></span></p>
<p><span>
Het Cognitieve Bijdrage Type is een combinatie van de kernwaarden van de Innovator
en de Banker. De Cognitieve score is een optelling van de Innovatorscore en de
Banker score. Het tegenovergestelde van het Cognitieve type is het Intuïtieve
type. Innovators en Bankers nemen graag beslissingen op basis van beoordelingen
en analyses. Zij nemen beslissingen op basis van wat zij denken of weten in
plaats van op gevoel.. Banker/Innovators zijn rationele personen die handelen
vanuit feiten, aantoonbare systemen en logische gang van zaken. Een persoon met
een sterk cognitief bijdrage type kan zeer snel een situatie beoordelen en met
meerdere oplossingen of systemen komen die de gestelde doelen bevestigen.
Wanneer ideeën gevormd zijn, worden deze geanalyseerd, georganiseerd, bewezen
of aangetoond op papier geperfectioneerd en vastgelegd.
</span></p>



