de su energía derivada de sus valores primarios 
<br/>&nbsp;&nbsp;&nbsp;&nbsp;
viene de Sabiduría y Conocimiento.</p>
                </div>
            </div>
            <div class="clearfix" id="topResults">
                <div class="checkOver">
                    <div id="congrats">
					<span>
                        <p>
						El evaluador the IVP encontró que usted es <strong class="qTitlew">Innovador-Banquero</strong>.</p>

<p>
¿Qué significa esto? Significa que su valor primario es Innovador. El valor primario del Innovador es sabiduría. La sabiduría es la capacidad de ver las cosas como son, y discernir qué hacer al respecto. Evaluar con precisión situaciones y aportar soluciones. Su segundo valor primario es de Banquero. El valor primario de un banquero es conocimiento. El conocimiento es saber los hechos por medio de la investigación, medición, pruebas y registros. Usted es motivado por el “qué”, “cómo”, y "por qué" de las cosas. 
</p>