<div class="results clearfix"><a name="aWhoIAm" id="aWhoIAm"></a>
	<div class="imgRight">
		<img src="../CVIReportFiles/PCR_1200/images/WhoIAm.png"></img>
	</div>
	<h2>¿Quién soy yo?</h2>
    <p>
    Sus resultados indican que tiene tendencias a <strong class="qTitle">CONSTRUCTOR/BANQUERO</strong>. Cuando entra a un sitio, de repente hay más energía de poder y conocimiento. Usted es la presencia del poder bien informado. Es esa su misión, ser la presencia positiva del poder bien informado. Opera con  la pura capacidad intuitiva para ver lo que hay que hacer, sin necesidad de pensarlo para tomar una acción, y crear un resultado positivo. Esto se equilibra con la razón y el pensamiento cognitivo, conocer los hechos y trabajar para conservar los recursos. Mira a las circunstancias y situaciones que le rodean, a través de los ojos de la fe y la justicia. Su más alta y mejor contribución, sólo se puede hacer en situaciones en las que existe una necesidad significativa y constante, de energía eficiente.
    </p>
    <p>
    Lo que usted es, a nivel bien profundo e innato de su naturaleza humana, es el elemento más importante en su vida. Lo que usted es, en este nivel profundo, es después de todo, lo único que realmente contribuye a este mundo. Es por medio de su asignación y opciones correctas, que usted puede hacer su más grande y alta contribución. Ésta es la misión universal de todo ser humano.
    </p>
    <p>
    Entre más aprenda acerca de quién es realmente, y cómo elevar su presencia en este mundo, mayor será su éxito, felicidad y eficacia en su vida.
    </p>
    <p>
    Su energía derivada de su valor primario de <strong class="qTitle">constructor</strong> se balancea con su valor secundario del <strong class="qTitle">banquero</strong>. Sus acciones son rutinarias, casi iguales, guiadas por estas dos energías primarias. En momentos de angustia, por lo general, depende de las estrategias de conflicto de su energía dominante. En los conflictos menos críticos puede usar cualquiera de estas estrategias dada la situación.
    </p>

    <h3>
    Su energía única dominante de <strong class="qTitle">CONSTRUCTOR</strong> hace que dependa de  las siguientes estrategias, para el éxito y satisfacción.
    </h3>
    <p>
    Su valor primario primario es poder, la aplicación de la pura energía para lo bueno. Este conductor primario es apoyado por una gran fe en su propia capacidad para saber qué hacer; la fe de que sus acciones son para el bien, y que una vez que se crea el cambio, sabrá qué hacer a continuación.
    </p>
    <p>
    El completar las tareas ahora, es un conductor primario para usted. Es práctico y dispuesto a enfrentar la verdad. Haga lo que haga, lo hace sin mucha vacilación. Termina las cosas. Actúa tan pronto sabe, qué tiene que hacer. Las personas que le rodean saben que por lo general, usted está trabajando, y que trabaja mejor, cuando tiene bastante espacio para decidir y actuar.
    </p>
    <p>
    Se motiva a sí mismo fuertemente. Le gusta trabajar con cosas que son reales y tangibles. Su profundo deseo es ejercer energía personal, para hacer una diferencia positiva. Se valora en la energía que gasta en proyectos. Las cosas van mejor para usted, cuando tiene la responsabilidad por los resultados. El comenzar nuevos proyectos y empresas, le hacen feliz. Le gusta poner las cosas en movimiento.
    </p>
    <p>Decide en forma rápida e intuitiva. Sólo trabaja en cosas o proyectos que tienen un valor real. Quiere que las cosas que hace, sean para un cambio tangible. Conocer el costo y la ganancia de todas las acciones es importante para usted. Le gusta trabajar y admira a otros que trabajan. No tiene miedo de llevar las cosas a su fin; cuando ha terminado, ya está hecho, lo cual es importante, a fin de demostrar buenos resultados por la energía invertida.
    </p>
    <p>
    Hay pocas situaciones en las que se siente inadecuado. Utiliza su poder físico y personal, para conseguir lo que desea.
    </p>

    <h3>
    Su segunda energía es de <strong class="qTitle">BANQUERO</strong>, lo que apoya su energía dominante primaria de <strong class="qTitle">CONSTRUCTOR</strong>.
    </h3>
    <p>
    Su segundo valor primario es el conocimiento, apoyado por su firme deseo de crear justicia en el mundo.
    </p>
    <p>
    Le gusta seguir un curso prescrito, especialmente cuando está involucrado con la configuración del mismo. El tener la información correcta es importante para usted. Hace lo que dice que hará. Le gustan las situaciones estables, sólidas con cambios limitados. La fiabilidad de sus palabras y acciones es primario para su sentido de  respeto por sí mismo. Cuando las cosas se complican, se puede irritar. Una vez que comienza, no se da por vencido fácilmente.
    </p>
    <p>
    Disfruta ser la fuente de información y metodología probada. Le gusta conservar los recursos, y ganar control mediante la reducción del número de influencias y autoridades, en cualquier situación. Tener toda la información es importante para usted, incluso de las cosas más pequeñas. Disfruta de que  los sistemas y procesos se ejecuten sin problemas. Le  gusta entender los detalles de las situaciones y problemas. Es importante reducir posibles riesgos al cuestionar las decisiones y planes. Las decisiones eficaces, se apoyan en el análisis de las similitudes y diferencias.
    </p>
    <p>
    Se preocupa profundamente, cuando las situaciones o los comportamientos de las personas son injustos, o cuando su conocimiento se utiliza de forma incorrecta por otros. Cero movimiento, cero desperdicio de recursos, cero esfuerzo inútil; esto es lo que busca. Le gusta dar a otros ideas y metodologías probadas. Se esfuerza por un control exacto en acción y palabra. Le gusta ser el que sabe, tener la razón y ser capaz de demostrar qué es importante para usted. Cree que la gente debe obedecer la ley, y permanecer dentro de las conveniencia social.
    </p>

    <h3>CONSTRUCTOR - Su energía primaria</h3>
    <p>
    Si usted quiere que se haga algo en un negocio, asegúrese de dárselo a un constructor. Los constructores son los "hacedores" del mundo; un porcentaje significativo de empresarios y líderes de negocios son los constructores, y sin ellos, poco se conseguiría. Si un constructor tiene éxito porque hace las cosas. Sabe cómo actuar y obtener resultados. Toma  responsabilidad personal, no tiene excusas y generalmente es impaciente con los que las tienen. Toma decisiones en el momento y le gusta así. Su enfoque es a corto plazo, y conducido por la sensación de logro en el momento. 
    </p>
    <p>
    Los constructores tienen un impulso interno que les permite ser decisivos, pasar a través de obstáculos y tomar decisiones al instante, sin dudarlo. Ellos están constantemente soltando sus energías en un objetivo específico, y no están dispuestos a aceptar la derrota--al menos--, no con gracia. El impulso del constructor es ver un problema y solucionarlo de inmediato. No son grandes solucionadores de problemas. Ellos esperan que su energía y su trabajo sea la solución.
    </p>
    <p>
    Los constructores son gente poderosa. Actúan desde su instinto y confían en su propio juicio explícitamente. Esto los hace muy decisivos y puede ser muy intimidante para los demás. De hecho, la intimidación, a menudo, es inherentemente la forma principal del constructor, de conseguir el control en cualquier situación. Si el poder de su personalidad y capacidad de decisión, no es suficiente para mantener el control, pueden recurrir a la ira o la hostilidad. Cuando un constructor está fuera de control, la intimidación es una herramienta eficaz para recuperar la autoridad.
    </p>
    <p>Los constructores pueden tomar la visión de los comerciantes, las soluciones de los innovadores, la información de los banqueros, y poner todo en acción. Los constructores tienen el poder de hacer que algo suceda.
    </p>
    <p>Es obvio el por qué los constructores hacen buenos líderes empresariales. Los banqueros, comerciantes e innovadores que tienen fuertes características secundarias de constructor, también tienen éxito.
    </p>

    <h3>Los retos del constructor</h3>
    <p>
    La primera debilidad de los líderes constructores es que tienden a hacer todo, ellos mismos. No son eficaces en enseñar a otros, porque son demasiado impacientes. Los constructores están tan centrados en hacer las cosas de inmediato, que suelen crear un entorno de crisis. Ellos se mueven como bomberos, lo cual es útil, ya que su estilo administrativo puede crear un fuego tras otro.
    </p>
    <p>
    Debido a la aparente solidez de los constructores, otros tienden a no oponerse, sobre todo, cuando el constructor es el jefe. Las secretarias y los contadores están manejando pequeñas empresas, o incluso, los departamentos de grandes corporaciones, porque las estrategias del constructor para estos empleados, no les permite ejercer un control adecuado.
    </p>
    <p>
    Los constructores, no están muy sintonizados hacia las reacciones y necesidades de los demás. Los constructores no son grandes jugadores en equipo, ni sus puntos fuertes están en construir uno. Si un constructor es bueno en esto, es porque está usando la estrategia del comerciante en él (relacional) y la estrategia del innovador (soluciones), para llevar a cabo la formación de equipos en un "proyecto". Los constructores, se enfocan en  la construcción, de la misma manera que se enfocan en cualquier proyecto o tarea diaria del equipo: - “empiecen, muevanse, manos a la obra, y no esperen a que alguien los motive a hacerlo”. 
    </p>
    <p>
    Los constructores valoran la acción y los resultados por encima de todos los demás factores. Su modo de enseñar a otros es sacar a la gente del camino, tomar la herramienta en sus propias manos, y decir: "Mira cómo lo hago." Luego, se van y esperan que su "estudiante" sea tan eficiente como el constructor. Esto deja al estudiante sintiéndose inadecuado y al constructor confundido del por qué esto es así. Si los constructores entendieran, que su modo de enseñanza no es la  mejor para el trabajo, la pérdida de energía y confusión, se podría evitar de ambos lados. Los constructores confunden a menudo el tomar una acción, con el resultado. Aunque tienden a ser personas muy pragmáticas y orientadas a la conclusión, cuando se trata de su propio desempeño están tan centradas en adoptar medidas, que a menudo se les olvida cuál es su misión. A veces pierden de vista sus objetivos, cuando se presenta un problema.
    </p>
    <p>
    El actuar es igual de bueno para los constructores, como el completar un proyecto. El dar una orden para hacer algo es el "resultado" de un constructor. Han experimentado su energía, disfrutaron del trabajo y se sienten cargados de nueva energía, listos para la siguiente tarea. Ellos tienden a pasar por alto el detalle, y con frecuencia le dan menos importancia a los resultados. Cuando se les da mucha información, es como una afrenta a sus capacidades, y son impacientes con los innovadores, que pasan razonando demasiado tiempo una situación. También pueden ver a los comerciantes como poco fiables.
    </p>
    <p>
    Los constructores son impacientes con el mundo y en particular con los banqueros, los comerciantes y los innovadores. En otras palabras, ninguno de los valores o consideraciones de otros, son importantes para un constructor como los suyos propios, cuando están detrás de un resultado específico, o simplemente quiere tomar medidas.
    </p>
    <p>
    El tiempo es siempre de suma importancia para un constructor. Debido a que los constructores consideran a los comerciantes "pesos ligeros" y "flojos", porque los comerciantes valoran las relaciones altamente, los constructores no son buenos para motivarlos. Esto conduce a menudo, a que el constructor crea que el comerciante está haciéndole perder su valioso tiempo.
    </p>
    <p>
    Los constructores también tienen baja tolerancia para dar instrucciones. Son tan motivados y autosuficientes que dicha instrucción se siente como una pérdida. Además, ellos no saben cómo decirle a nadie, cómo hacer nada. Ellos prefieren hacerlo por sí mismos.
    </p>
    <p>
    Los constructores disfrutan inmensamente a los innovadores, siempre y cuando el constructor sea el que manda. Los innovadores dan a los constructores soluciones a los problemas, y los constructores son los mejores ejecutores a su alrededor. Esta relación alimenta las necesidades personales del constructor muy bien.
    </p>
    <p>
    El acabar con relaciones es un pasatiempo de los constructores inmaduros, y no tienen problema en volar las ideas o los sistemas que son demasiado cómodos, o para hacer que le obedezcan si se puede. Ya que los banqueros son reacios al riesgo, desean conocer los hechos antes de proceder, y dudan con cada decisión; los constructores ven a los banqueros como paredes que necesitan ser echadas fuera del camino y confinados al "Cuartel".
    </p>
    <p></p>
    <p>
    A los constructores les gusta la acción, la actividad y la energía, y pueden sacrificar relaciones, eficacia y la estabilidad para justificar el resultado final que buscan.
    </p>

<h3>Constructores/Banqueros</h3>
<p>
Los constructores/banqueros son de carácter fuerte, directo, eficiente, trabajador, y al mando de las personas. Las empresas que requieren un alto nivel de detalle, tienen un alto volumen de transacciones, o tienen su base en el conocimiento técnico, deben tener un constructor/banquero en el liderazgo. El compromiso del banquero y su profundo conocimiento de ser correcto, de seguimiento y el detalle, es muy valioso en estas situaciones. La capacidad de tomar las medidas adecuadas, y tomar decisiones en medio de datos masivos y volúmenes de las estadísticas y reglamentos, son los puntos fuertes del constructor.
</p>
<p>
Los  constructores/banqueros son personas difíciles de complacer. Están motivados hacia la excelencia y seguros de sí mismos, tanto en resultados prácticos, como en el ajuste legal y moral. Ellos tienden a fijarse un rumbo, mantenerse, y hacer lo que sea necesario para asegurarse que son capaces de hacerlo.
</p>
<p>
El constructor/banquero toma riesgos que están bien considerados y respaldados por la razón y los hechos (aunque no tan bien como el banquero/constructor). El constructor/banquero toma el liderazgo firme en las empresas de servicios profesionales, como firmas de contadores públicos, asociaciones de abogados y sociedades de inversión.
</p>
<p>
El constructor/banquero se presenta tal y como y a menudo son expertos en su campo. Tienden a hablar sobre sus experiencias y a hacer demandas de los demás, que se ajustan a la persona y la situación.
</p>
<p>
Cuando un constructor/banquero completa una tarea, por lo general la ha completado a tiempo, bajo presupuesto y con una excelente atención a la calidad. El constructor/banquero construye operaciones eficaces, prácticas, duraderas, y financieramente solventes. No se conforman con menos.
</p>
<p>
Por otro lado, el constructor/banquero puede ser tomado como arrogante que tiene una gran cantidad de problemas para construir un equipo alrededor de él. Lo que para el constructor en ellos, no es capaz de hacer que suceda, puede explicarse de inmediato por las estadísticas y la información generada por el lado de banquero, su energía primaria. Estas personas creen que rara vez se equivocan. Tienen dificultad en la valorar a los comerciantes. Ellos pueden sentir que el enfoque "sensiblero" es una pérdida de tiempo y también son impacientes con los innovadores. Tienden a ser variables. El constructor toma decisiones rápidas, luego se retracta en base a una nueva comprensión de la información, por lo general derivadas de los archivos informáticos que tiene; el banquero los revisa en casa, mientras los demás duermen.
</p>
<p>
El constructor/banquero está tan seguro de que tiene la razón, que es posible que no se moleste en conseguir el consenso de sus actos, o comprobar si alguien más está disfrutando el proceso del negocio. Estas personas pueden quemar las energías de otras personas, ya sea a través de comandos erráticos, u obstinada negativa a tomar una decisión. Son conocidos por tomar una decisión un día y hacerla de nuevo al otro dia, cada vez, con una orden contundente de obediencia incondicional del equipo.
</p>
<p>
El constructor/banquero está tan seguro de sí mismo y tan poco dispuesto a equivocarse, que puede dominar a los demás a su alrededor. Estas personas tienen más maneras de "ejecutar" el negocio de los puestos de segundo y tercer nivel, que cualquiera otra energía primaria.
</p>
<p>
Cuando un constructor/banquero tiene la razón en sus conclusiones, es una fuerza poderosa constante que crea un mover firme hacia adelante. Cuando se equivoca, el constructor/banquero puede ser un poco agobiante, en la defensa de su punto de vista. Él puede ver una opinión diferente, como un desafío directo a su autoridad, en lugar de verla como un punto de vista diferente. Rara vez pone en duda sus propias conclusiones, es imposible para los comerciantes e innovadores, saber cuándo ir a la batalla con el constructor/banquero. Él está tan cómodo con su obligación de actuar y tan seguro de su conocimiento, que puede salirse con la suya en casi cualquier acción que decida tomar.
</p>

 <div id="merchant-innovator">
 <p>
 <b>Su tercer valor primario es el de</b> <strong class="qTitle">COMERCIANTE</strong> <b>que le da la capacidad para responder adecuadamente a una amplia gama de situaciones</b>.
 </p>
 <p>
 Su valor de <strong class="qTitle">COMERCIANTE</strong> es lo suficientemente fuerte para darle balance a su vida para aprender a cambiar su estrategia en tiempos de alta oportunidad, o durante conflictos, lo cual  contribuirá significativamente a su éxito.
 </p>
 <p>
 Disfruta de ser una luz brillante en su mundo. No se siente bien cuando la gente que valora está distante o en conflicto. Le gusta recibir buenas recompensas y reconocimiento, por el tiempo y la energía gastada. Una estrategia central es trabajar de manera efectiva con los demás. Comparte su conocimiento e información con los demás, lo disfruta y otros lo aprecian. Es bueno en conseguir que otros trabajen con usted. El elegir sus palabras cuidadosamente, funciona bien para usted.
 </p>
 <p>
 El sentirse unido con la gente, le da confianza. Le gusta confiar en la gente y compartir con ellas libremente. Disfruta de diferentes personas y actividades. El exceso de formalidad es aburrido y restrictivo. El motivar a los demás, con su visión e ideas, es muy satisfactorio. Hablar con los demás es su manera de aprender y de enseñar. Tiene la capacidad de animar a la gente, para que se sienta esperanzada y valiente.
 </p>
 <p>
 Es importante para usted ver a la gente, y las cosas tal y como son.
 </p>

 <p>
 <b>Su cuarto nivel de</b> <strong class="qTitle">INNOVADOR</strong>, <b>le da la oportunidad de vivir una vida balanceada y de éxito</b>.
 </p>
 <p>
 No se basa en los valores de <strong class="qTitle">innovador</strong> para crear el éxito. Un aumento de diez por ciento, en su enfoque de  valores personales en este cuadrante, puede aumentar dramáticamente su rendimiento.
 </p>
 <p>
 Ve y entiende el valor relativo de las personas y las cosas. Constantemente observa y mide el valor de las personas y las cosas. Si hay cosas diferentes que se pueden unir de diferentes recursos, lo hace. Le gusta mantener una buena variedad de personas, actividades y cosas en su vida. Su inclinación de ver las cosas y esperar, es un beneficio primario. Le gusta comunicar con imágenes y descripciones. Puede ver  las cosas de otra manera para unirlas. 
 </p>
 <p>
 El encontrar la mejor solución es una de sus contribuciones principales. Le gusta considerar todas las opciones. Es capaz de ver las cosas cómo son, y sabe qué hacer al respecto. Usted es visto como un recurso valioso, para llevar a la gente hacia las ideas y la dirección correctas. Le gusta liderar a través de la presentación de alternativas inteligentes. El actuar tonta o ilógicamente, no es una experiencia común para usted. Valora y confía en sus capacidades mentales.
 </p>
 </div>

 