<div class="results clearfix"><a name="aWhoIAm" id="aWhoIAm"></a>
	<div class="imgRight">
		<img src="../CVIReportFiles/PCR_1200/images/WhoIAm.png"></img>
	</div>
	<h2>¿Quién soy?</h2>
<p>
Su puntaje indica que tiene tendencia a ser <strong class="qTitle">INNOVADOR/CONSTRUCTOR</strong>. Cuando entra en un salón, de pronto hay más sabiduría y poder. Usted es la presencia de la sabiduría poderosa. Esa es su misión, el ser la presencia eficaz de poderosa sabiduría. Usted ve las circunstancias y las situaciones a su alrededor, por medio de la compasión y la fe. Opera por medio de la razón y la intuición, viendo las cosas como son. El hacer preguntas y derivar respuestas correctas, las mejores estrategias y soluciones que funcionen. Esto es balanceado por su pura intuición. Sabe qué hacer sin pensarlo. Toma acción y trabaja para crear resultados positivos sin dudar. Su más alta y mejor contribución se puede hacer sólo en situaciones en las que hay una necesidad significativa y constante por conocimiento poderoso.
</p>
<p>
Lo que usted es, a nivel bien profundo e innato de su naturaleza humana, es el elemento más importante en su vida. Lo que usted es, en este nivel profundo, es después de todo, lo único que realmente contribuye a este mundo. Es por medio de su asignación y opciones correctas, que usted puede hacer su más grande y alta contribución. Ésta es la misión universal de todo ser humano.
</p>
<p>
Entre más aprenda acerca de quién es realmente, y cómo elevar su presencia en este mundo, mayor será su éxito, felicidad y eficacia en su vida.
</p>
<p>
Su energía derivada de su valor primario de <strong class="qTitle">Innovador</strong> se balancea con su valor secundario de <strong class="qTitle">CONSTRUCTOR</strong>. Sus acciones son rutinarias, casi iguales, guiadas por estas dos energías primarias. En momentos de angustia por lo general depende de las estrategias de conflicto de su energía dominante. En los conflictos menos críticos puede usar cualquiera de estas estrategias dada la situación.
</p>

<h3>Su energía única dominante de <strong class="qTitle">INNOVADOR</strong> hace que dependa de las siguientes estrategias, para el éxito y satisfacción.</h3>
<p>
Su valor primario que sirve como piedra angular es la Sabiduría. La comprensión y compasión son centrales para su vida.
</p>
<p>
El pensar estratégicamente es su fuerte. Ve y entiende el valor relativo de las personas y las cosas. La gente ve su inventiva e ingeniosidad. Usted se enorgullece en ver y comprender la gente y las situaciones. Su deseo de ver las cosas completas y evaluarlas es un recurso primario. El ver el potencial y la oportunidad es un talento primario. Usted se esfuerza para que la gente y las cosas funcionen juntas.
</p>
<p>
Le gusta comunicarse con visuales y descripciones. El inventar nuevos sistemas, procedimientos y cosas son puro placer. Nunca se da por vencido. Tiene una chispa y creatividad en su manera de pensar. Las situaciones y problemas complicados no son un reto para usted. El encontrar la mejor solución es una de sus primeras contribuciones. Sus gustos son variados y diversos.
</p>
<p>
Considera todas las opciones. El intercambio inteligente y rápido de ideas es un gozo personal y un método de trabajo. Le gustan las dificultades y las preguntas retantes. Puede ver las cosas como son, y sabe qué hacer al respecto. Otros le buscan por su mente rápida y sensible. Es visto como un recurso valioso para guiar a los demás hacia las ideas y direcciones correctas. Usa todo lo necesario disponible para cumplir con lo requerido. 
</p>
<p>
Valora y confía en su capacidad mental. El comprender a otros y trabajar con ellos, es clave para usted.
</p>

<p>Your cornerstone <em>core value</em> is <em>wisdom</em>. Understanding and compassion  are central to your life strategy. </p>
<p>Strategic thinking is your forte. You  see and understand the relative worth of people and things. People see your  ingenuity and resourcefulness. You pride yourself in seeing and understanding  people and situations. Development of effective responses to situations is one  of your primary contributions. Seeing potential and opportunity is a primary  talent. You strive to cause people and things to function well together.</p>
<p>You like to communicate with visuals  and descriptions. To invent new systems, processes and things is pure pleasure.  You never quit. You have wit and creativity in your thinking. Complicated  situations and problems are not a threat to you. Finding the best solution is  one of your primary contributions. Your tastes are varied and diverse.</p>
<p>You like to consider all the options.  Rapid and clever exchange of ideas is a personal joy and a method of work for  you. You like difficult situations and challenging questions. You are able to  see the ways things are, and you know what to do about it. Others look to you  for your quick and responsive mind. You are seen as a valuable resource for  leading people toward the right ideas and the right direction. You use everything that is available to meet requirements.</p>
<p>You value and rely upon your mental  abilities. Understanding others and working with them is a key asset of yours.</p>

<h3>Su energía secundaria primaria es de <strong class="qTitle">CONSTRUCTOR</strong> apoya su energía dominante de <strong class="qTitle">INNOVADOR</strong>.</h3>
<p>
Su segundo valor primario es el Poder, la aplicación de la pura energía para lo bueno. Este valor primario es apoyado por su fuerte fe y su habilidad de saber qué hacer, la fe que toma acción para lo bueno, y una vez que esa fe crea cambio, sabrá qué hacer a continuación. 
</p>
<p>
El cumplimiento de tareas ahora, es una motivación primaria para usted. Es práctico y está dispuesto a enfrentar la verdad. Actúa tan pronto sabe qué hacer. Trabaja mejor cuando tiene bastante espacio para decidir y actuar. Es importante para usted el ser auto-suficiente, sin barreras. Es fuertemente auto-motivado. 
</p>
<p>
Le gusta trabajar con cosas reales y tangibles. Su profundo deseo es soltar energía personal para hacer un cambio positivo. Le gusta el hablar clara y francamente. Las cosas van mejor cuando tiene la responsabilidad para los resultados. El comenzar un nuevo projecto y aventura le hace feliz. Le gusta poner las cosas en movimiento. Decide en forma rápida e intuitiva.
</p>
<p>
Le gusta trabajar y admira a los que lo hacen. Es importante para usted el demostrar buenos resultados por su energía invertida. Hay situaciones en la que se siente inadecuado. Usa su poder, físico y personal para obtener lo que quiere. Es importante para usted hacer las cosas bien. 
</p>

<h3>INNOVADORES - Su valor primario dominante</h3>
<p>
Los innovadores son los creadores de soluciones en este mundo. Siempre pueden pensar en algo diferente. "Tiene que haber una manera mejor", es más que su lema; los “fragmentos” del ROM (memoria de sólo lectura) son pre-programados en el receptor reticular de su cerebro. Los innovadores disfrutan el reto de un problema, especialmente a gran escala. Resuelven los problemas. Les encanta tanto esto, que odian quedarse con una solución.  "Tiene que haber una manera mejor." La declaración, "si no está roto, no lo repares", no tiene lugar en su mente.
</p>
<p>
El poder de los innovadores proviene de su falta de aceptar, que hay algo que no pueden entender. Están dispuestos a poner su ego en peligro una y otra vez, apostando su reputación de que van a ser capaces de llegar a un plan, una solución o una idea, que va a mejorar las cosas.
</p>
<p>
Además, para completar, a los innovadores les encanta desarrollar sistemas que aseguran la continuación de sus planes. Estos sistemas son los “monumentos” del innovador, tanto como una pirámide es el monumento del constructor.
</p>
<p>
Cuando todos alrededor están asustados, cuando el constructor está dando órdenes gritando, el comerciante está quejándose o vendiendo, y el banquero está predicando justicia o paciencia, el innovador tiende a aislarse, a agarrar una computadora o una pizarra limpia, y se prepara para trabajar. 
</p>
<p>
Son altamente creativos en resolver problemas. Son capaces de llegar a las cosas, desde un ángulo nuevo añadiendo elementos, sistemas o tecnologías que nadie más ha pensado añadir a la mezcla, con el fin de lograr una verdadera innovación.
</p>
<p>
Mientras que las soluciones y sistemas, que los innovadores establecen pueden ser bien fundamentados y prácticos en su concepto, los inventores por sí mismos, no son muy prácticos en su enfoque. No son buenos ejecutores, porque quieren perfeccionar todo antes de actuar. El actuar significa inventar algo más, retrasando nuevamente la implementación de sus sistemas o nuevos productos.
</p>
<p>
A los innovadores les encanta tener gente alrededor, pero no para construir un equipo. Éste es un público para su creatividad y una manera de rebotar nuevas ideas alrededor. Les encanta explorar sus últimas ideas con la gente. Ellos están tan fascinados con cada solución concebida personalmente como "potencial", que quieren que todos las aprecien con sutileza. Cuando ya han convencido a su público con esta nueva y brillante solución, les gusta añadir: "Espera, ¿qué pasaría si ...?"
</p>
<p>
Los innovadores pueden crear problemas sólo por el placer de resolverlos. Los constructores se apoyan en los innovadores, pero por lo general, los dejan esperando en el  corredor, a la mitad de una explicación por una posible solución. Los banqueros constantemente están alimentando retos a una propuesta hecha por un innovador, y lo mantiene cargado con nuevos problemas que enfrentar. Los comerciantes escuchan atentamente al innovador, y se apoyan en ellos constantemente. Esto hace que un innovador se sienta “escuchado”. Ya que un comerciante nunca dejaría a un innovador parado en el corredor, los innovadores y los comerciantes con frecuencia se convierten en grandes amigos. Sus reuniones para compartir ideas son interminables. Si no se controlan pueden convertirse en un dreno sin fin, de recursos de la empresa. 
</p>
<p>
Los innovadores son invaluables. Crean nuevos productos y sistemas, para resolver los problemas administrativos y de producción. Nunca son derrotados y son capaces de llegar a nuevas estrategias y enfoques, cuando todo el mundo se ha rendido. Se gozan tanto con esto, que odian la toma de decisiones, y en ocasiones añaden confusión al sistema inventando una manera mejor. Nada es lo suficientemente bueno, especialmente si fue concebido por otra persona, o si la solución ha estado en vigor durante unos meses.
</p>
<p>
El innovador empresario puede tener un gran éxito. Son personas que crean la “trampa” que lleva el mundo a su puerta. El problema es que realmente creen que el mundo llegará a su puerta. Y puesto que aman el resolver problemas, más que el proceso de construcción y venta de algo, tan pronto como un producto o servicio se implementa, están listos para crear otra solución mejor.
</p>

<h3>Desafíos de los innovadores</h3>
<p>
El pecado mortal de los innovadores es su desesperada necesidad de continuar el perfeccionamiento de un producto o sistema, mucho después de haber servido su propósito. Se involucran en una solución específica o un problema, mucho después de que se ha producido una solución al problema.
</p>
<p>
Los innovadores activos necesitan un constructor en ellos o con ellos, para que se decidan por una solución y la completen. Necesitan comerciantes, para que realmente hagan que otros entiendan el valor de la "solución" que están vendiendo. Y necesitan banqueros que los apoyen, para completar los detalles, ayudar a controlar los costos y obtener beneficios.
</p>
<p>
Los innovadores pueden ser personas muy obstinadas. Se niegan a moverse hasta que sienten que sus soluciones son perfectas. Y puesto que también valoran altamente la evaluación, no sólo crean una nueva solución, sino que quieren evaluar su idoneidad, su corrección, su inteligencia y su perfección. De hecho, están seguros que nadie más podría entender toda la sutileza y complejidad de su solución, de manera que no les gusta que los demás entren y exploren, por temor a que puedan haber pasado por alto un pequeño detalle.
</p>
<p>
El tomar decisiones para un innovador, se convierte en un maratón; añade más a la ecuación, prueba  sus ramificaciones y anuncia: "Puedo ver cómo esto encaja." Entonces, cuando todo el mundo considera que la decisión está tomada, el innovador puede anunciar otras consideraciones que deben ser exploradas antes de la decisión final. Los innovadores son irritables para los comerciantes y constructores, que quieren seguir adelante.
</p>
<p>
Los innovadores son muy receptivos y abiertos al cambio, si ven y comprenden que provocan tensión. Están dispuestos a actuar diferente, si ven cómo las diferentes acciones producen mejores resultados. Por este motivo, los innovadores y los constructores son compañeros de equipo maravillosos. Tienden a mantener un buen equilibrio en la orientación hacia la acción, versus la orientación hacia la perfección.
</p>
<p>
La adaptación de los innovadores también es muy apreciada por los demás compañeros. Los innovadores, no hacen distinción entre los problemas que se les pide resolver. El solucionar es suficiente para hacerlos felices. Los innovadores son elementos clave, en cada situación de negocios donde está ocurriendo un cambio. Su ingenio aporta nuevos métodos, herramientas, sistemas y mecanismos para aportar. Los innovadores, siempre están abriendo nuevas oportunidades para el éxito.
</p>
<p>
Lo contrario también es cierto para muchos innovadores. Tienden a ser muy hábiles, en la resolución de ciertos tipos de problemas. Por ejemplo, los ingenieros innovadores pueden ser genios en el diseño de un nuevo circuito electrónico, pero más como profesores distraídos cuando se trata de dar soluciones de negocios para sus departamentos.
</p>
<p>
Cuando los innovadores están fuera de control, se ponen tercos. Buscan otra manera de darle la vuelta a para que reconsidere. Reconsideran, se ponen a la defensiva y resisten el tomar una decisión. Pueden añadir otro número a la ecuación, para confundirle. Niegan los hechos, cuestionan la validez o pertinencia de los datos existentes, y se niegan a tomar medidas, o a veces simplemente se dan por vencidos, lo cual puede enfurecer otros grupos con valores esenciales distintos.
</p>
<p>
Cuando todo falla, los innovadores recurren al interrogatorio. Les gusta confundir el problema con preguntas secundarias y tangentes. Ellos saben cómo hacer preguntas, lo cual son acusaciones, más que preguntas. Saben cómo hacer que otros se sientan mal, haciendo preguntas que avergüenzan y hacen sentir mal, demostrando la ignorancia de los otros , o simplemente hacen que los demás se sientan ignorantes, confusos o inadecuados. La Interrogación es una potente estrategia, como la intimidación de los constructores, el rol de víctima "pobre de mí" de los comerciantes, o la posición distante, resistente y de crítica de los banqueros.
</p>


<h3>Los innovadores/constructores</h3>
<p>
El innovador/constructor presta atención al futuro, a la solución de problemas, sabe la mejor respuesta, adopta medidas, hace demandas, y produce resultados deseados. Las situaciones de negocios que requieren estructuras o sistemas duraderos a ser construidos, deben tener un poder de innovador/constructor en la cabecera. Ya sea que  el requisito es hacer algo sencillo, --complejo, o  tomar un sistema simple y hacerlo más fuerte y sensible a las necesidades actuales, el innovador/constructor es la persona para ese trabajo.
</p>
<p>
El innovador/constructor concibe soluciones apropiadas, y toma acción inmediata. Implementar una solución al problema, es una manera rica de recompensa para el constructor, y ver el nuevo producto o sistema trabajando es la alabanza más grande para el innovador. Tenemos en el innovador/constructor, una persona que diseña un monumento y luego lo construye.
</p>
<p>
Estas poderosas personalidades son buenas aisladas. Ellos florecen en independencia y bromas bajo la dirección de alguien más. Si se les da una idea general de un problema a resolver o un monumento a edificar, encontrarán la manera de hacerlo. Sólo deles el visto bueno y dé un paso atrás. Sin un campo abierto para trabajar, su energía se convierte de creatividad a la evasión inteligente de restricciones, ira e invisibilidad.
</p>
<p>
“¿Qué estará diseñando ahora?” y “¿A dónde está ahora?” son preguntas que a veces se hacen los que rodean al innovador/constructor.
</p>
<p>
Los Innovadores / constructores no se intimidan por casi nada, excepto las relaciones íntimas y hablar a multitudes. Tienden a ser ingeniosos, inteligentes y inventivos. Por lo general son capaces de enseñar a otros (innovadores), y son de gran alcance en el mando (constructor). Derivan sus propias soluciones y las ponen en práctica sin dudar.
</p>
<p>
En entornos rápidamente cambiantes, cuando fallan las situaciones y en oportunidades de extremo crecimiento, los innovadores/constructores son los líderes.
</p>
<p>
El innovador/constructor creen que ellos tienen las respuestas para todo y el poder para hacer cualquier cosa. Su valor primario de energía desarrolla una irrefutable y sólida solución después de la otra, y el constructor en él, empuja a todos fuera de su camino mientras que implementan el plan, o pronuncian su edicto, “sólo hazlo”, y, añaden: “si no lo puedes hacer, consigo a alguien más que pueda”.
</p>
<p>
Ya que los constructores son impacientes con el mundo, consideran el enseñar como un “cuidado de niños”. Los innovadores/constructores están convencidos de que son auto-suficientes. Como son impacientes, tampoco tienen tiempo para ser enseñados o retados, entonces se sienten que sus ideas son las únicas con mérito.
</p>


 <div id="merchant-banker">
	<p><b>Su tercer nivel de energía primaria</b> <strong class="qTitle">COMERCIANTE</strong> <b>le da la capacidad de responder de manera apropiada a un amplio espectro de situaciones.</b></p>
	<p>Su valor primario es el amor. El desarrollar y mantener relaciones es central en la estrategia de su vida. Trabaja constantemente para conocer y comprender la verdad sobre usted y los demás.</p>
	<p>Sus valores como <strong class="qTitle">COMERCIANTE</strong> son lo suficientemente fuertes como para traer equilibrio a su vida. El aprender a cambiar su estrategia a este valor principal en tiempos de gran oportunidad o durante conflictos contribuirá significativamente a su éxito.</p>
	<p>Usted disfruta siendo una luz brillante en su mundo. Una estrategia central para usted es trabajar eficazmente con los demás. Le gusta trabajar y otros disfrutan trabajar con usted. Es bueno para conseguir que otros trabajen para usted y con usted. El elegir sus palabras cuidadosamente funciona bien para usted. El tener un sentimiento de unión con las personas le da confianza. Le gustan las responsabilidades nuevas en su vida y le gusta ser empuje en la vida de los demás.
	</p>
	<p>Le gusta confiar en las personas y compartir con ellos libremente. Disfruta de muchas personas y actividades diferentes. La discusión libre y abierta es un elemento importante en su estilo de liderazgo. Es muy satisfactorio para usted el motivar a otros con sus visiones e ideas. Hablar con otros es su forma de aprender y de enseñar. Pocas veces se siente derrotado; ve un buen potencial en la mayoría de las situaciones. Le gusta energizar y motivar a otros para que trabajen con usted.
	</p>
	<p>Usted tiene la capacidad de ayudar a las personas a sentirse esperanzadas y valientes. Es importante para usted ver a las personas y las cosas como realmente son.
	</p>

	<p><b>Su cuarto nivel de energía primaria de</b> <strong class="qTitle">BANQUERO</strong> <b>le da la oportunidad de vivir una vida balanceada y exitosa.</b></p>
	<p>Su valor primario es el conocimiento, apoyado por su fuerte deseo de crear justicia en el mundo.</p>
	<p>Le gusta actuar de acuerdo con un conocimiento específico y evidencia histórica. Es importante para usted tener la información correcta. Hace lo que dice que hará. Usted trabaja diligentemente para reunir recursos y guardarlos. Le gustan las situaciones constantes y estables con cambios limitados. La vida es más fácil cuando las personas y las cosas son razonablemente similares. La confiabilidad de sus palabras y acciones es crítica para el respeto que se tiene a usted mismo.</p>
	<p>Cuando las cosas se complican, usted puede ser irritable. Se rodea de hechos, cifras y datos. Una vez que comienza, no se rinde fácilmente. Disfruta siendo la fuente de información y metodología probada. El conocer el pasado le proporciona evidencia para el futuro.  Si no hay planes escritos y una descripción durante los procesos creativos no tiene sentido para usted. Le es importante tener toda la información, incluso en  las cosas pequeñas.</p>
	<p>Las decisiones eficaces son respaldadas por un análisis de similitudes y diferencias. Le gusta ser el que sabe; tener la razón y poder demostrar que es importante para usted.</p>
 </div>
 