<div class="results clearfix"><a name="aWhoIAm" id="aWhoIAm"></a>
	<div class="imgRight">
		<img src="../CVIReportFiles/PCR_1200/images/WhoIAm.png"></img>
	</div>
	<h2>¿Quién soy?</h2>
    <p>
    Su puntaje indica que tiene tendencia a <strong class="qTitle">COMERCIANTE/INNOVADOR</strong>. Cuando entra en un salón, de pronto hay más amor y sabiduría. Es la presencia de sabiduría amorosa. Esa es su misión, el ser la presencia eficaz poderosa de la  sabiduría amorosa. Mira a las circunstancias y a las situaciones a su alrededor, por medio de los ojos de la verdad y la compasión. Opera por medio de la razón y el pensamiento cognitivo, para aprender la verdad de la gente, y lo que necesitan y quieren. Se enfoca en nutrir y apoyar otros y usted mismo. Este es un balance de su razonamiento/intuitivo para ver las como son las cosas. Observa situaciones hasta que entienden, proveyendo la mejores respuestas, estrategias y soluciones. Su más alta y mejor contribución puede hacerse sólo en situaciones en las que hay una necesidad significativa y constante de sabiduría amorosa.
    </p>
    <p>
    Lo que usted es, a nivel bien profundo e innato de su naturaleza humana, es el elemento más importante en su vida. Lo que usted es en este nivel profundo, es, después de todo, lo único que realmente contribuye a este mundo. Es por medio de su asignación y opciones correctas, que usted puede hacer su más grande y alta contribución. Ésta es la misión universal de todo ser humano.
    </p>
    <p>
    Entre más aprenda acerca de quién es realmente, y cómo optimizar su presencia en este mundo, mayor será su éxito, felicidad y eficacia en su vida.
    </p>
    <p>
    Su valor dominante de <strong class="qTitle">COMERCIANTE</strong> es balanceado por el de <strong class="qTitle">INNOVADOR</strong>, su valor secundario.  Sus acciones son rutinarias, casi iguales, guiadas por estos dos valores primarios. En momentos de angustia, por lo general, se basa en las estrategias conflictivas de su valor dominante. En conflictos menos críticos, puede usar cualquier estrategia dada la situación.
    </p>

    <h3>Su notable valor primario --dominante de <strong class="qTitle">COMERCIANTE</strong>-- hace que siga estrategias para el éxito y satisfacción.</h3>
    <p>
    Su valor primario es el amor. El construir y sostener relaciones es central para la estrategia de su vida. Usted esta constantemente trabajando para saber y entender la verdad acerca de usted y otros.
    </p>
    <p>
    Le gusta tener una buena conexión entre lo que esta haciendo hoy y lo que ve en su futuro. Le gusta descubrir nuevas posibilidades y las busca constantemente. No se siente bien cuando la gente que valora esta distante o en conflicto. Usted tiene un entusiasmo natural y le gusta estar en situaciones que son atractivas y llenas de energía. 
    </p>
    <p>
    No hay un plan potencial, idea o posibilidad que se le pase. Una estrategia central para usted es trabajar eficazmente con los demás. Comparte su conocimiento e información con los demás; lo disfruta y otros lo aprecian.
    </p>
    <p>
    Usted es bueno en conseguir que otros trabajen para y con usted. El escoger palabras cuidadosamente le funciona. El sentido de unidad con otros le da confianza. Le gusta una nueva responsabilidad en su vida, y le gusta ser responsable de otros. Le gusta confiar en la gente y compartir con ellos libremente cantidad de gentes y actividades. El encanto y el entusiasmo son parte de su arsenal para el éxito.
    </p>
    <p>
    El exceso de formalidad es aburrida y restrictiva. La discusión libre y abierta es un elemento importante en su liderazgo. El motivar a los demás con sus visiones e ideas es muy satisfactorio. El hablar con los demás es su forma de aprender y enseñar. Algo nuevo e inspirador todos los días, es el “condimento” de su vida. El ser de gran valor para los demás y ver un alto valor en los demás es una preocupación primordial. Tiene la capacidad de ayudar a que la gente se siente optimista y valiente.
    </p>
    <p>
    Es importante para usted el ver a la gente y las cosas como son.
    </p>

    <h3>Su valor secundario primario es de <strong class="qTitle">INNOVADOR</strong> lo cual apoya su valor dominante de <strong class="qTitle">COMERCIANTE</strong>.</h3>
    <p>
    Su segundo valor primario es sabiduría. La comprensión y la compasión son centrales para la estrategia de su vida.
    </p>
    <p>
    El pensar estratégicamente es su fuerte. Ve y entiende el valor relativo de la gente y las cosas. El desarrollar respuestas eficaces a situaciones es una de sus contribuciones primarias. Si cosas diferentes de diferentes fuentes, se pueden reunir, usted lo va a hacer. Se esfuerza por hacer que las personas y cosas que funcionan bien juntas. Le gusta mantener una buena mezcla de personas, actividades y cosas en su vida. Su deseo de ver las cosas completas y esperar es un activo principal.
    </p>
    <p>
    Le gusta comunicarse con imágenes y descripciones. La gente le busca para la creación y mejora de la secuencia del trabajo y los procedimientos. Tiene el ingenio y creatividad en su forma de pensar. Puede ver otra manera de unir las cosas. Es importante para usted, ver, mirar y escuchar antes de actuar. El encontrar la mejor solución es una de sus contribuciones principales. Le gusta considerar todas las opciones.
    </p>
    <p>
    El cambiar rápida e inteligentemente las ideas, es una alegría personal y un método de trabajo para usted. Es capaz de ver cómo son las cosas, y sabe qué hacer al respecto. Usted es visto como un recurso valioso, para llevar a la gente hacia las ideas y la dirección correctas. Le gusta liderar con alternativas inteligentes. El actuar tonta o ilógicamente no es común para usted. Usa todo lo que esté disponible para cumplir con los requisitos. Valora y confía en sus capacidades mentales.
    </p>

    <h3>COMERCIANTE - Su valor dominante</h3>
    <p>
    Los comerciantes son constructores de equipo excepcionales. Motivan la gente, y constantemente están emocionados por nuevas ideas, y nunca preguntan si algo es posible. De hecho, el tener una idea es causa celebración y recompensa en lo que se refiere a los comerciantes. Creen que nada pasa sin una buena idea.
    </p>
    <p>
    El poder de los comerciantes viene de su voluntad para pensar, considerar y exponer una buena idea después de la otra. Ellos piensan, a medida que hablan, cambiando y modificando su visión a tiempo. Debido a que cada negocio es un organismo en constante cambio, los comerciantes son un recurso invaluable.
    </p>
    <p>
    Su entusiasmo es contagioso, y la gente trabaja mejor cuando se sienten con energía. A diferencia de los constructores, los comerciantes reciben poca satisfacción de su propia energía. Los comerciantes buscan infectar el mundo alrededor de ellos con entusiasmo hacia una visión común. No sólo crean equipos, sino que también inspiran, motivan y dirigen equipos hacia oportunidades reales (y, a veces imaginarias).
    </p>
    <p>
    Los comerciantes también tienen aprecio por la cultura, el arte, la literatura, la calidad de presentaciones, y la estética. Sin la mente comercial en un negocio, el trabajo puede convertirse en un abismo caótico de dictados de un constructor, de unas hojas de cálculo e informes de un banquero, o diagramas del innovador y de manuales técnicos.
    </p>
    <p>
    Los comerciantes atraen a otros, un valioso activo en los negocios.
    </p>
    <p>
    Los comerciantes venden. Ya sea que estén involucrados en ventas como una función de negocios o no, los comerciantes se venden tanto a ellos mismos como a cualquier otra persona. Los comerciantes se ocupan de sus amigos y clientes. Alimentan relaciones a largo plazo. De hecho, tienden a valorar las relaciones más que los resultados.
    </p>
    <p>
    Un líder empresarial o de negocios que es predominantemente un comerciante va a generar una energía increíble y obtener recompensas casi instantáneas. No puede vivir sin algún tipo de recompensa (retroalimentación personal, el dinero o la validación de una idea) por mucho tiempo. Sin embargo, las recompensas provienen de diversas direcciones y rara vez se relacionan la visión a largo plazo del comerciante. Un comerciante está dispuesto a revisar su visión a largo plazo tan a menudo como sea necesario, incluso más de lo necesario.
    </p>
    <p>
    Los comerciantes obtienen resultados, pero indirectamente. Son los que ayudan a otros a ver oportunidad. Primeramente, ven oportunidades que todavia no estan ahi. Les gusta comenzar algo nuevo tan seguido como sea posible. Terminan proyectos porque no quieren decepcionar a alguien, no porque valoren el terminar y obtener resultados. El estar en el juego es lo que hace sentir bien a un comerciante.  
    </p>
    <p>
    Los empresarios que son comerciantes tienden a edificar diversidad de compañías. Pocas oportunidades se les pasan. Sin un banquero en sus hombros que los frene, ellos pueden ser temerarios. También le ayuda al comerciante el tener características de banquero, y algo de innovador para resolver problemas y tener estrategias. Sin este balance, tienden a comenzar muchas cosas, terminar pocas, y pasar un buen tiempo haciéndolas, aunque tienen poco que mostrar por sus esfuerzos después.
    </p>
    <p>
    Los comerciantes actúan por amor, con energía y buscan emociones. Odian la redundancia, especialmente en sus patrones de actividad. Les gusta que los miren cuando están actuando, envisionando, enseñando, o inspirando, pero no les gusta ser medidos, evaluados, probados o criticados.
    </p>
    <p>
    Debido a que los comerciantes valoran la visión y las relaciones por encima de todo, ven el futuro cuando otros están atrapados en el pasado o en una crisis actual. Saben cómo vender su visión a los demás y crear una tremenda energía emocionando a otros con sus ideas. Y, contrario a la opinión de los constructores, los comerciantes tienden a ser realistas, sin desviar su visión a conclusiones.
    </p>
    <p>
    Sus conclusiones son inherentemente sueltas y sin detalles, por lo que los banqueros también se cohiben cada vez que el comerciante tiene una nueva visión. Sin embargo, a los innovadores les encanta estar rodeado de un comerciante porque tienen un nuevo problema para resolver o una nueva solución para explorar. Reúne los sistemas necesarios y pasos que un comerciante puede ver débilmente, y luego pasar el plan a un constructor.
    </p>

<h3>Los retos del comerciante</h3>
<p>
Los comerciantes, sin embargo, necesitan sentir que sus contribuciones son importantes y especiales. Piensan bien alto de sí mismos, creyendo que todo el mundo los ama. Si no creyeran eso, no pueden hacer mucho. Pueden ser una alegría tenerlos alrededor, pero no están impulsados para completar tareas. Son grandes iniciadores, pero débiles para terminar. Sin un constructor alrededor para hacer que las cosas sucedan, y un banquero para que las cosas no se salgan de rumbo, un comerciante estará constantemente buscando más negocios de los que puede manejar, pero no para cerrar acuerdos. 
</p>
<p>
Los comerciantes se frustran fácilmente y no reciben bien el rechazo. Los innovadores tienen que ayudar a los comerciantes constantemente a ver un nuevo enfoque porque los comerciantes tienden a pensar que el “caer bien” es todo lo que se necesita. Los comerciantes experimentan angustia cuando perciben que no son apreciados. Casi todo lo que un constructor o banquero hace, --hace que el comerciante se sienta poco apreciado.
</p>
<p>
Los comerciantes tienen buen éxito en la construcción de su equipo, pero fallan en dar a sus miembros el poder de controlar sus caprichos y la necesidad de estimulación constante.  Para que los líderes de comerciantes tengan una empresa fuerte o departamento, tienen que dar a alguien el derecho y la autoridad para mantener al jefe en su puesto. Necesitan novedad constante y estimulación fuera del trabajo.  "Mira a ver qué haces con tu vida", como le dirían algunos.
</p>
<p>
Si tiene éxito en manejar a un comerciante, es debido a la lealtad de esa persona y su deseo de mantener la relación con usted. También puede ser prometiendo que en el futuro va a ver tener en cuenta otra de sus ideas.
</p>
<p>
Cuando los comerciantes se sienten fuera de control, cargados o devaluados, tienen varias estrategias eficaces para tomar el control de nuevo. Se quejan, un “sonido” que atrae la atención y la simpatía de todos los otros comerciantes a corto plazo. Se quejan, un sonido que atrae la atención y la simpatía de todos los otros comerciantes al alcance del oído. Tratan de convencer, manipular y se avergüenzan para que usted retroceda.
</p>
<p>
Si todo lo demás falla, los comerciantes exageran o cambian el tema para una visión del futuro. Si se les maltrata, (de acuerdo a sus patrones) juzgan que usted esta por debajo de ellos. Continúan vendiendo, sin permitir que otros hablen. Se miran inocentes, hablan inocente, y les atrae cualquiera que los mire y los apoyen. Lo amaran hasta la muerte, y se lo ganaran a su lado porque el mantener la relación es lo que más valoran. 
</p>
<p>
Si eso no funciona, trata de avergonzarlo respecto por cómo le está tratando, haciendo que usted se vea como el "malo" ante los ojos de los observadores. Los comerciantes descontentos hacen mala cara hasta que todo el mundo cede. Tienden a ser grandes mártires. Conocen el drama "pobre de mí", muy bien. Son grandes actores. Por ejemplo, se pueden detectar los comerciantes en un juego de baloncesto por su éxito en conseguir violaciones contra sus oponentes.
</p>

<h3>Comerciante/Innovador</h3>
<p>
El comerciante/innovador lidera con una visión a largo plazo combinada con soluciones creativas para todos los problemas. Construye equipos y sistemas. El poder del comerciante/innovador deriva de su inexhausto pozo de creatividad. Esto crea un sentido profundo de optimismo. Si el sueño del comerciante no se reconoce, el innovador puede entrar y llegar a una solución apropiada. Cuando las soluciones del innovador no se alinean con la visión del comerciante, una nueva visión es hábilmente formada abarcando soluciones y sistemas que el innovador ha concebido con todos los valores básicos previstos y deseados por el comerciante/innovador.  
</p>
<p>
Esta creatividad constante hace del comerciante/innovador son un recurso invaluable en compañías en donde la tecnología esta cambiando rápidamente o la competencia pone nuevas demandas en el mercado y las ventas de la compañía. El comerciante/innovador es por lo general representante de ventas. Puede vender cualquier cosa porque construye relaciones, entiende sus productos y sabe cómo hacerlo funcionar ampliamente según las necesidades del cliente.
</p>
<p>
El comerciante / innovador no se deja intimidar por problemas de ninguna magnitud. De hecho, su estima personal se basa en el tamaño, la opresión y la dignidad de los problemas que tiene ante él. Busca oportunidades para demostrar su destreza resolviendo problemas o, cambiando difíciles, en riesgo.
</p>
<p>
El comerciante / innovador le gusta ser necesario ya sea por sus soluciones y tecnología, o por su humanidad, creatividad y amor. Esta urgencia de ser necesitado lo lleva a formar relaciones a largo plazo y a desarrollar productos y sistemas, que aseguran longevidad de relaciones formadas.
</p>
<p>
Los comerciantes/innovadores van a cualquier parte, hacen cualquier cosa. Incluso son capaces de funcionar durante largos períodos de tiempo de lejos, un tanto aislados, siempre y cuando el sentido de conexión y valor personal se mantenga al lado del comerciante. Para el innovador, la resolución de problemas de cualquier asignación lo llevará lejos, siempre y cuando la oportunidad de observar a los demás evaluando y valorando su trabajo una vez esté terminado.
</p>
<p>
A pesar de su habilidad de sostenerse independiente, prospera mejor en un ambiente de equipo. Es un excelente constructor de equipo y el mejor maestro. No solo es bueno para crear un plan de estudios basado en la lógica y la sensatez, sino poner atención al ambiente, entretenimiento, niveles de energía, y motivación mientras crean situaciones de aprendizaje emocionantes y provocativas.  
</p>
<p>
Un comerciante/innovador puede ser un vendedor increíble o un poderoso empresario si se equilibra con suficientes características del constructor para ver el trabajo hasta el final. 
</p>
<p>
Sin embargo, el comerciante/innovador, sin restricciones, puede ser infructífero para sí mismo y para la sociedad. Se pueden perder en un éxtasis considerando el cuadro final. El comerciante esta constantemente pensando en nuevas posibilidades para proyectos y nuevas aventuras, y el innovador busca tales retos. 
</p>
<p>
Los innovadores odian el proceso de resolver un problema a su fin. El resolver problemas es su más alto placer, podría decirse que la valoran este juego por encima de sexo y películas. Un innovador/comerciante le gusta lo nuevo y todo lo suscitado  antes de “planeado”. Si usted es un comerciante/innovador, asegúrese de rodearse con constructores de alta energía quien lo empujaran a “llevarlo a cabo”, y unos cuantos banqueros sensatos que le ayudarán a sentar sus ideas con la pregunta "¿En serio?"
</p>
<p>
El comerciante/innovador esta constantemente elevado con nuevas ideas en mejorar sistemas para el personal. Sin embargo, el concepto y estrategia de crear son más importantes que la aplicación en sí del innovador.
</p>
<p>
El comerciante/innovador pude puede crear tanto desilusión como oportunidad. Nadie gana trabajando con ellos por mucho tiempo, a menos que existan limitaciones y un fuerte equipo de constructores y banqueros alrededor para hacerlos cumplir.  Si usted es un comerciante/innovador y esta leyendo esto, debe tener un poco de constructor o banquero. Asegúrese de nutrir esa parte en usted, o rodéese con ese tipo de personalidad.
</p>
<p>
Como líderes de compañías, el comerciante/innovador nunca dejan de vender o de resolver el futuro. Ellos se venden a si mismos y a otros cuando todos están de acuerdo. Puede haber poca atención al detalle porque la siguiente idea toma el 110% de toda la energía y las cosas que quedan en el aire. Los comerciantes/innovadores tienden a guardar tanta energía alrededor de ellos que atraen a otros. A los constructores y los banquero les gusta esta relación simbiótica. 
</p>
