<div class="results clearfix"><a name="aWhoIAm" id="aWhoIAm"></a>
	<div class="imgRight">
		<img src="../CVIReportFiles/PCR_1200/images/WhoIAm.png"></img>
	</div>
	<h2>¿Quién soy?</h2>
    <p>
    Sus resultados indican que tiene tendencias a <strong class="qTitle">COMERCIANTE/BANQUERO</strong>. Cuando entra a un sitio, de repente hay más amor y conocimiento. Usted es la presencia del amor bien informado. Esta es su misión, la presencia eficaz del amor bien informado. Mira las circunstancias y situaciones a su alrededor por medio de los ojos de la verdad y la justicia. Ve a la gente intuitivamente por lo que son, y cognitivamente intenta entender lo que necesitan y desean. Trabaja para nutrir y apoyarlos y a usted mismo. Esto se equilibra con su capacidad de razonar y el pensar cognitivamente, conocer los hechos y trabajar para conservar recursos. Su más alta y mejor contribución sólo puede hacerse en situaciones en las que existe una necesidad significativa y constante de amor bien informado.
    </p>
    <p>
    Lo que usted es, a nivel bien profundo e innato de su naturaleza humana, es el elemento más importante en su vida. Lo que usted es, en este nivel profundo, es después de todo, lo único que realmente contribuye a este mundo. Es por medio de su asignación y opciones correctas, que usted puede hacer su más grande y alta contribución. Ésta es la misión universal de todo ser humano.
    </p>
    <p>
    Entre más aprenda acerca de quién es realmente, y cómo elevar su presencia en este mundo, mayor será su éxito, felicidad y eficacia en su vida.
    </p>
    <p>
    Su energía derivada de su valor primario de <strong class="qTitle">comerciante</strong> se balancea con su valor secundario de <strong class="qTitle">banquero</strong>. Sus acciones son rutinarias, guiadas por estas dos energías primarias. En momentos de angustia por lo general depende en las estrategias de conflicto de su energía dominante. En los conflictos menos críticos puede usar cualquiera de estas estrategias dada la situación.
    </p>

    <h3>Su energía única dominante de <strong class="qTitle">COMERCIANTE</strong> hace que dependa de  las siguientes estrategias, para el éxito y satisfacción.</h3>
    <p>
    Su valor fundamental es amor. El construir y mantener relaciones es vital para la estrategia de su vida. Esta constantemente trabajando para saber y entender la verdad acerca de sí mismo y otros. 
    </p>
    <p>
    Le gusta tener una buena conexión entre lo que esta haciendo hoy y lo que ve en su futuro. Disfruta de ser una luz brillante en su mundo. Le gusta descubrir nuevas posibilidades y las busca constantemente. No se siente bien cuando la gente que valora esta distante o en conflicto. Le gusta recibir recompensas y reconocimiento por el tiempo y la energía gastada. No hay plan potencial, idea o posibilidad que se le pase. Una estrategia central para usted es trabajar eficazmente con otros. 
    </p>
    <p>
    Le gusta trabajar, y a otros les gusta trabajar con usted. Comparte su conocimiento e información con otros; le gusta y otros lo aprecian. Esta en casa con ideas imperceptibles y creativas. Es bueno para hacer que otros trabajen para usted y con usted. El escoger palabras cuidadosamente le funciona. El sentido de unidad con otros le da confianza. Le gusta una nueva responsabilidad en su vida, y le gusta ser responsable de otros.  
    </p>
    <p>
    Le gusta la variedad de gentes y actividades. El encanto y el entusiasmo son parte de su arsenal para el éxito. El motivar a otros con su visión e ideas es muy satisfactorio. El hablar con otros es su manera de aprender y enseñar. Algo nuevo e inspirador todos los días, es el sabor de su vida. Tiene la capacidad de ayudar a la gente a que se sienta optimista y valiente. Trabaja por la armonía; ese es su deseo.
    </p>
    <p>
    Es importante para usted el ver a la gente y las cosas tal como son.
    </p>

    <h3>Su segunda energía de <strong class="qTitle">BANQUERO</strong> apoya su energía dominante primaria de <strong class="qTitle">COMERCIANTE</strong>.</h3>
    <p>
    Su segundo valor fundamental es el conocimiento apoyado por su fuerte deseo de crear justicia en el mundo.
    </p>
    <p>
    Le gusta seguir un rumbo fijo, especialmente cuando está involucrado. El tener la información correcta es importante para usted.  Hace lo que dice que va a hacer. Trabaja diligentemente para reunir recursos y cuidarlos. Le gustan las soluciones sólidas con cambios limitados. La fiabilidad de sus palabras y acciones es fundamental para su auto-respeto. Cuando las cosas se complican, se  irrita. Se rodea con hechos, figuras y datos. El saber el pasado le provee evidencia para el futuro. 
    </p>
    <p>
    La creación de planes sin un plan efectivo y descripción no tiene sentido. Le gusta conservar recursos y ganar control reduciendo el número de influencias y autoridad en cualquier situación. El tener toda la información es importante para usted, aun en las cosas pequeñas. Le gusta entender los detalles de las situaciones y problemas. Se preocupa profundamente cuando las situaciones o el comportamiento de la gente no es justo, o cuando el conocimiento es usado incorrectamente por otros. 
    </p>
    <p>
    Cero movimiento, cero desperdicio de recursos, cero  esfuerzo inútil; esto es lo que usted busca. Le gusta proveer a otros con ideas probadas y metodología. Usted es una fuerza constante en su mundo. Le gusta ser el que sabe; le gusta tener la razón y ser capaz de demostrar que es importante para usted. Cree que la gente debe obedecer la ley y permanecer dentro de las conveniencias sociales.
    </p>


<h3>COMERCIANTE --su valor dominante</h3>
<p>
Los comerciantes son constructores de equipo excepcionales. Motivan la gente, y constantemente están emocionados por nuevas ideas, y nunca preguntan si algo es posible. De hecho, el tener una idea es causa celebración y recompensa en lo que se refiere a los comerciantes. Creen que nada pasa sin una buena idea.
</p>
<p>
El poder de los comerciantes viene de su voluntad para pensar, considerar y exponer una buena idea después de la otra. Ellos piensan, a medida que hablan, cambiando y modificando su visión a tiempo. Debido a que cada negocio es un organismo en constante cambio, los comerciantes son un recurso invaluable.
</p>
<p>
Su entusiasmo es contagioso, y la gente trabaja mejor cuando se sienten con energía. A diferencia de los constructores, los comerciantes reciben poca satisfacción de su propia energía. Los comerciantes buscan infectar el mundo alrededor de ellos con entusiasmo hacia una visión común. No sólo crean equipos, sino que también inspiran, motivan y dirigen equipos hacia oportunidades reales (y, a veces imaginarias).
</p>
<p>Los comerciantes también tienen aprecio por la cultura, el arte, la literatura, la calidad de presentaciones, y la estética. Sin la mente comercial en un negocio, el trabajo puede convertirse en un abismo caótico de dictados de un constructor, de unas hojas de cálculo e informes de un banquero, o diagrama del innovador y de manuales técnicos.
</p>
<p>Los comerciantes atraen a otros, un valioso activo en los negocios.
</p>
<p>
Los comerciantes venden. Ya sea que estén involucrados en ventas como una función de negocios o no, los comerciantes se venden tanto a ellos mismos como a cualquier otra persona. Los comerciantes se ocupan de sus amigos y clientes. Alimentan relaciones a largo plazo. De hecho, tienden a valorar las relaciones más que los resultados.
</p>
<p>
Un líder empresarial o de negocios que es predominantemente un comerciante va a generar una energía increíble y obtener recompensas casi instantáneas. No puede vivir sin algún tipo de recompensa (retroalimentación personal, el dinero o la validación de una idea) por mucho tiempo. Sin embargo, las recompensas provienen de diversas direcciones y rara vez se relacionan la visión a largo plazo del comerciante. Un comerciante está dispuesto a revisar su visión a largo plazo tan a menudo como sea necesario, incluso más de lo necesario.
</p>
<p>
Los comerciantes obtienen resultados, pero indirectamente. Son los que ayudan a otros a ver oportunidad. Primeramente, ven oportunidades que todavia no estan ahi. Les gusta comenzar algo nuevo tan seguido como sea posible. Terminan proyectos porque no quieren decepcionar a alguien, no porque valoren el terminar y obtener resultados. El estar en el juego es lo que hace sentir bien a un comerciante.  
</p>
<p>
Los empresarios que son comerciantes tienden a edificar diversidad de compañías. Pocas oportunidades se les pasan. Sin un banquero en sus hombros que los frene, ellos pueden ser temerarios. También le ayuda al comerciante el tener características de banquero, y algo de innovador para resolver problemas y tener estrategias. Sin este balance, tienden a comenzar muchas cosas, terminar pocas, y pasar un buen tiempo haciéndolas, aunque tienen poco que mostrar por sus esfuerzos después.
</p>
<p>
Los comerciantes actúan en base al amor, con energía y buscan la emoción. Odian la redundancia, especialmente es sus propios patrones de actividad. Por lo general les gusta que los miren mientras actúan, envisionando, enseñando, o inspirando, pero no les gusta ser medidos, evaluados, comprobados, o criticado.
</p>
<p>
Debido a que los comerciantes valoran la visión y las relaciones por encima de todo, ven el futuro cuando otros están atrapados en el pasado o en una crisis actual. Saben cómo vender su visión a los demás y crear una tremenda energía emocionando a otros con sus ideas. Y, contrario a la opinión de los constructores, los comerciantes tienden a ser realistas, sin desviar su visión a conclusiones.
</p>
<p>
La conclusiones son inherentemente sueltas y sin detalles, por lo que los banqueros también se cohiben cada vez que el comerciante tiene una nueva visión. Sin embargo, a los innovadores les encanta estar rodeado de un comerciante porque tienen un nuevo problema para resolver o una nueva solución para explorar. Reúne los sistemas necesarios y pasos que un comerciante puede ver débilmente, y luego pasar el plan a un constructor.
</p>

<h3>Los retos del comerciante</h3>
<p>
Los comerciantes, sin embargo, necesitan sentir que sus contribuciones son importantes y especiales. Piensan bien alto de sí mismos, creyendo que todo el mundo los ama. Si no creyeran eso, no pueden hacer mucho. Pueden ser una alegría tenerlos alrededor, pero no están impulsados para completar tareas. Son grandes iniciadores, pero débiles para terminar. Sin un constructor alrededor para hacer que las cosas sucedan, y un banquero para que las cosas no se salgan de rumbo, un comerciante estará constantemente buscando más negocios de los que puede manejar, pero no un seguimiento para cerrar acuerdos. 
</p>
<p>
Los comerciantes se frustran fácilmente y no reciben bien el rechazo. Los innovadores tienen que ayudar a los comerciantes constantemente a ver un nuevo enfoque porque los comerciantes tienden a pensar que el “caer bien” es todo lo que se necesita. Los comerciantes experimentan angustia cuando perciben que no son apreciados. Casi todo lo que un constructor o banquero hace, --hace que el comerciante se sienta poco apreciado.
</p>
<p>
Los comerciantes tienen buen éxito en la construcción de su equipo, pero fallan en dar a sus miembros el poder de controlar sus caprichos y la necesidad de estimulación constante.  Para que los líderes de comerciantes tengan una empresa fuerte o departamento, tienen que dar a alguien el derecho y la autoridad para mantener al jefe en su puesto. Necesitan novedad constante y estimulación fuera del trabajo.  "Mira a ver qué haces con tu vida", como le dirían algunos.
</p>
<p>
Si tiene éxito en manejar a un comerciante, es debido a la lealtad de esa persona y su deseo de mantener la relación con usted. También puede ser prometiendo que en el futuro va a ver tener en cuenta otra de sus ideas.
</p>
<p>
Cuando los comerciantes se sienten fuera de control, cargados o devaluados, tienen varias estrategias eficaces para tomar el control de nuevo. Se quejan, un sonido que atrae la atención y la simpatía de todos los otros comerciantes al alcance del oído. Tratan de convencer, manipular y se avergüenzan para que usted retroceda.
</p>
<p>
Si todo lo demás falla, los comerciantes exageran o cambian el tema para una visión del futuro. Si se les maltrata, (de acuerdo a sus patrones) juzgan que usted esta por debajo de ellos. Continúan vendiendo, sin permitir que otros hablen. Se miran inocentes, hablan inocente, y les atrae cualquiera que los mire y los apoyen. Lo amaran hasta la muerte, y se lo ganaran a su lado porque el mantener la relación es lo que más valoran. 
</p>
<p>
Si eso no funciona, trata de avergonzarlo respecto por cómo le está tratando, haciendo que usted se vea como el "malo" ante los ojos de los observadores. Los comerciantes descontentos hacen mala cara hasta que todo el mundo cede. Tienden a ser grandes mártires. Conocen el drama "pobre de mí", muy bien. Son grandes actores. Por ejemplo, se pueden detectar los comerciantes en un juego de baloncesto por su éxito en conseguir violaciones contra sus oponentes.
</p>

<h3>El comerciante/ banquero</h3>
<p>
El comerciante / banquero es altamente visionario, emocionado, arriesgado, con un alto requisito para información, la seguridad y la preservación de los recursos. Son buenos constructores de equipos y gestores de activos, confiables. El valor del comerciante/banquero, se ve mejor cuando se requiere conocimiento altamente técnico, o que difunda a otras personas o situaciones en las que el riesgo, detalle y seguimiento es extremo. Los comerciantes manejan el riesgo muy bien, y los banqueros siempre están considerando, cómo van a sobrevivir la catástrofe. El comerciante/banquero, por lo tanto, es  capaz  de arriesgarse, mejor que cualquier otra energía primario, y sobrevivir.
</p>
<p>
Debido a que el impulso del comerciante es soñar y avanzar hacia un futuro más brillante, el equilibrio en el comerciante/banquero puede ser un beneficio inmenso. La naturaleza del banquero es estar buscando constantemente maneras de asegurar la longevidad, la supervivencia y la fuerza del dinero en efectivo. La inspiración del comerciante, será modulada a un conjunto más racional de actividades por la mente del banquero, y hará  de ésta una energía primaria que pone muchas cosas en marcha, completándolas casi a la perfección. 
</p>
<p>
La capacidad del comerciante/banquero, de mantener muchas actividades al mismo tiempo y desarrollar una resistencia inigualable, le asegura permanecer en el juego más tiempo que los demás. También les permite ir detrás de más oportunidades, y tener algo que mostrar a largo plazo. 
</p>
<p>
Cuando las relaciones y los resultados a largo plazo son el resultado deseado, un comerciante/banquero en liderazgo, proporcionará la máxima garantía de un resultado positivo.
</p>
<p>
Por otra parte, el comerciante/banquero, también es propenso a una “doble personalidad”, la cual se demuestra de diferentes maneras y situaciones. Cuando cambia hacia su papel de comerciante es encantador, imaginativo y lleno de energía. A menudo puede ser una sorpresa para la gente de negocios, ya que a veces entierra sus características comerciantes, por temor a ser percibido como "suave" o poco profesional.
</p>
<p>
Otra forma en que esta "doble personalidad" ocurre, es cuando el comerciante/banquero anuncia planes y visiones un día, y al día siguiente  es como el peor enemigo, debido al banquero que existe dentro de él, y que desempeña  el papel de abogado del diablo. Esto causa confusión entre el equipo. El banquero/comerciante tiende a ser impaciente para que las cosas se muevan, para luego dirigir a otros a su alrededor, satisfacer su necesidad de banquero, y tener la información y validación total. Pueden tener grandes ideas, pero también pueden sabotearlas con sus demandas de tener perfecta prueba de la aplicación.
</p>
<p>
Cliff el narrador peculiar de una comedia de T.V.  llamada ‘Cheers’ es un buen ejemplo de un banquero/comerciante de bajo rendimiento. Ha recogido y cosechado miles de pedacitos de información, algunas de gran interés, y las ha pasado a otros en un millón de pedacitos que a nadie le interesan. Entonces el comerciante dentro de él, toma el control y exige la atención, haciendo gala de su conocimiento, como en un escenario tratando de entretener e impresionar a las multitudes. Él es la personificación de un banquero/comerciante en su peor momento.
</p>
<p>
El comerciante/banquero tiende a enojarse o está indeciso un día y, solícito al siguiente, con creatividad inspiradora y armonía. La ira proviene del banquero que espera la perfección en la ejecución. La solicitud proviene del comerciante que no quiere parecer una persona enojada, por temor a que todos sus amigos se desaparezcan. Los comerciantes/banqueros son agradables desde una distancia, pero muy difíciles el trabajar o vivir con ellos. 
</p>

<div id="innovator-builder">
<p>
<b>Su tercer nivel de energía primaria es</b> <strong class="qTitle">INNOVADOR</strong>, <b>le da la capacidad para responder adecuadamente en una amplia gama de situaciones</b>. 
</p>
<p>
Su valor primario es sabiduría. La comprensión y la compasión son centrales para la estrategia de vida.
</p>
<p>
Su valor de <strong class="qTitle">INNOVADOR</strong> es lo suficientemente fuerte para lograr equilibrio en su vida. El aprender a cambiar su estrategia para esta energía primaria, en épocas de alta oportunidad o durante conflictos, contribuirán de manera significativa a su éxito.
</p>
<p>
Ve y entiende el valor relativo de las personas y las cosas. Valora lo que ve y entiende a las personas y situaciones. El desarrollo de respuestas eficaces a algunas situaciones, es una de sus principales contribuciones. Observa constantemente y mide el valor de las personas y las cosas. Busca que las personas y las cosas funcionen bien, juntas. Su disposición a ver las cosas completas y balancearlas es su principal activo.
</p>
<p>Le gusta comunicarse con imágenes y descripciones. Inventar nuevos sistemas, procesos y cosas es de mucho placer. La gente le busca para la creación y mejora de la secuencia del trabajo y los procedimientos. Es importante para usted, ver, mirar y escuchar antes de actuar. El encontrar la mejor solución es una de sus contribuciones principales. Le gusta considerar todas las opciones. El cambiar rápida e inteligentemente las ideas, es una alegría personal y un método de trabajo para usted.
</p>
<p>
Le gustan las situaciones difíciles y las preguntas desafiantes. Es capaz de ver cómo son las cosas, y sabe qué hacer al respecto. Usted es visto como un recurso valioso, para llevar a la gente hacia las ideas y la dirección correctas. Usa todo lo que esté disponible para cumplir con los requisitos.
</p>
<p>
<b>Su cuarto nivel de energía primaria es de</b> <strong class="qTitle">CONSTRUCTOR</strong>, <b>el cual le da la oportunidad de vivir una vida equilibrada y exitosa</b>.
</p>
<p>
Usted se valora en saber qué hacer. Se valora en la energía que emana en proyectos. Se valora con conversación directa y franca. El comenzar nuevos proyectos y aventuras le hacen feliz. Le gusta poner las cosas en movimiento. Decide rápida e intuitivamente. Quiere que lo que haga sea para hacer una diferencia tangible.
</p>
<p>Le gusta poner las cosas y a la gente a trabajar. El conocer el costo y la ganancia de todas las acciones es importante para usted. Le gusta trabajar y admira a otros que trabajan. Es importante para usted demostrar buenos resultados de la energía invertida. Hay pocas situaciones en las que se siente inadecuado. Utiliza su poder, físico y personal para conseguir lo que desea. Las personas que le rodean saben que usted se basa en lo emocional, y es capaz de despertar emociones en los demás.
</p>
<p>Es importante para usted hacer lo correcto.</p>

 </div>