de su energía derivada de sus valores primarios 
<br/>&nbsp;&nbsp;&nbsp;&nbsp;
viene de Sabiduría y Poder.</p>
                </div>
            </div>
            <div class="clearfix" id="topResults">
                <div class="checkOver">
                    <div id="congrats">
					<span>
                        <p>
						El evaluador the IVP encontró que usted es <strong class="qTitlew">Innovador-Constructor</strong>.</p>
						
<p>
¿Qué significa esto? Significa que su valor primario es INNOVADOR. El valor dominante del innovador es la sabiduría. La sabiduría es la capacidad de ver las cosas como son, y discernir qué hacer al respecto. Evaluar con precisión situaciones y aportar soluciones. Su segundo valor primario es CONSTRUCTOR-- la energía que mueve al constructor es el poder. El poder es una energía personal invertida para hacer una diferencia positiva. Usted toma constantemente acción para obtener resultados.
</p>