<div class="results clearfix"><a name="aWhoIAm" id="aWhoIAm"></a>
	<div class="imgRight">
		<img src="../CVIReportFiles/PCR_1200/images/WhoIAm.png"></img>
	</div>
	<h2>¿Quién soy?</h2>
    <p>
    Sus resultados indican que tiene tendencias a <strong class="qTitle">COMERCIANTE / CONSTRUCTOR</strong>. Cuando entra a un sitio, de repente hay más amor y poder. Usted es la presencia del amor poderoso. Esta es su misión, la presencia eficaz del amor poderoso. Mira las circunstancias y situaciones a su alrededor por medio de los ojos de la fe y la verdad. Opera por intuición para ver lo que hay que hacer, sin necesidad de pensarlo para tomar una acción, y crear un resultado positivo. Esto se balancea por su punto de vista del mundo intuitivo y razonamiento, mirando la verdadera naturaleza de la gente, sus necesidades y esperanzas. Su más alta y mejor contribución sólo puede hacerse en situaciones en las que existe una necesidad significativa y constante de amor poderoso.
    </p>
    <p>
    Lo que usted es, a nivel bien profundo e innato de su naturaleza humana, es el elemento más importante en su vida. Lo que usted es, en este nivel profundo, es después de todo, lo único que realmente contribuye a este mundo. Es por medio de su asignación y opciones correctas, que usted puede hacer su más grande y alta contribución. Ésta es la misión universal de todo ser humano.
    </p>
    <p>
    Entre más aprenda acerca de quién es realmente, y cómo elevar su presencia en este mundo, mayor será su éxito, felicidad y eficacia en su vida.
    </p>
    <p>
    Su energía derivada de su valor primario de <strong class="qTitle">comerciante</strong> se balancea con su valor secundario de <strong class="qTitle">constructor</strong>. Sus acciones son rutinarias, guiadas por estas dos energías primarias. En momentos de angustia por lo general depende en las estrategias de conflicto de su energía dominante. En los conflictos menos críticos puede usar cualquiera de estas estrategias dada la situación.
    </p>

    <h3>Su energía única dominante de <strong class="qTitle">COMERCIANTE</strong> hace que dependa de las siguientes estrategias, para el éxito y satisfacción.</h3>
    <p>
    Su valor primario es amor. El construir y mantener relaciones es vital para la estrategia de su vida. Esta constantemente trabajando para saber y entender la verdad acerca de sí mismo y otros. 
    </p>
    <p>
    Le gusta tener un buen sentido de conexión entre lo que está haciendo hoy, y lo que ve en su futuro. No necesita una prueba absoluta, conocimiento y entendimiento para reaccionar. Le gusta ser la luz en su mundo. No se siente bien, cuando la gente que valora está distante o en conflicto. Tiene un entusiasmo natural y le gusta estar en situaciones que son atractivas y llenas de energía. Quiere recibir buenas recompensas y reconocimiento por el tiempo y la energía gastada. Ningún plan potencial, idea o posibilidad se le pasa. 
    </p>
    <p>
    Le gusta trabajar, y a otros les gusta trabajar con usted. Esta en casa con ideas imperceptibles y creativas. Es bueno para hacer que otros trabajen para usted y con usted. El escoger palabras cuidadosamente le funciona. El hacer presentaciones le da ánimo. Le gusta una nueva responsabilidad en su vida, y le gusta ser responsable de otros. Le gusta confiar en la gente y compartir con ellos libremente.  
    </p>
    <p>
    Le encanta la variedad de gentes y actividades. El exceso de formalidad es aburrido y restrictivo. Busca nuevas oportunidades, especialmente si participa en ellas creando cambio en el proceso. El motivar a los demás con su visión e ideas es muy satisfactorio. El hablar con los demás es su forma de aprender y enseñar. Algo nuevo e inspirador todos los días, le da sabor a su vida. Rara vez se siente derrotado; ve un gran potencial en la mayoría de las situaciones. 
    </p>
    <p>
    Le gusta dar energía y motivar a otros para trabajar con usted. Esta dispuesto a arriesgarse en pensamiento y acción. Es importante para usted ver a la gente y las cosas como son.
    </p>

<h3>Su segundo valor primario es de <strong class="qTitle">CONSTRUCTOR</strong> el cual apoya su energía dominante de <strong class="qTitle">COMERCIANTE</strong>.</h3>
<p>
Su segundo valor primario es poder, la aplicación de energía para lo bueno. Esta fuerza primaria es apoyada por su fuerte fe para saber qué hacer, su fe y sus acciones son para lo bueno, y una vez su fe crea un cambio, sabrá qué hacer después. 
</p>
<p>
Se enorgullece en saber qué hacer. Lo que hace, lo hace sin dudar. Actúa tan pronto sabe qué hacer. Trabaja mejor cuando tiene espacio suficiente para decidir y actuar. Es importante ser auto-suficiente, sin barreras. El dar instrucciones le nace. Se enorgullece en la energía que ha gastado en proyectos. 
</p>
<p>
Las cosas van mejor cuando tiene la responsabilidad para los resultados. El comenzar nuevos proyectos y aventuras le hace feliz. Le gusta poner las cosas en movimiento. Toma decisiones rápida e intuitivamente. Si puede, trata con las cosas una a la vez. Solo trabaja en cosas o proyectos que tienen valor. Desea que las cosas que hace --hagan una diferencia tangible. 
</p>
<p>
El saber el costo y la ganancia de todas las acciones es importante para usted. Le gusta trabajar y admira a los que trabajan. No tiene miedo de traer las cosas a su fin; cuando acaba, acaba. Le gusta hablar claramente, diciendo la verdad y pidiendo lo que desea. Hay pocas situaciones en las que se siente inadecuado. Usa su poder, físico y personal para obtener lo que quiere. Es para importante para usted hacer lo correcto.
</p>

<h3>COMERCIANTE --su valor dominante</h3>
<p>
Los comerciantes son constructores de equipo excepcionales. Motivan la gente, y constantemente están emocionados por nuevas ideas, y nunca preguntan si algo es posible. De hecho, cada idea es una posibilidad. A decir verdad, una idea es causa celebración y recompensa en lo que se refiere a los comerciantes. Creen que nada pasa sin una buena idea.
</p>
<p>
El poder de los comerciantes viene de su voluntad para pensar, considerar y exponer una buena idea después de la otra. Ellos piensan, a medida que hablan, cambiando y modificando su visión a tiempo. Debido a que cada negocio es un organismo en constante cambio, los comerciantes son un recurso invaluable.
</p>
<p>
Su entusiasmo es contagioso, y la gente trabaja mejor cuando se sienten con energía. A diferencia de los constructores, los comerciantes reciben poca satisfacción de su propia energía. Los comerciantes buscan infectar el mundo alrededor de ellos con entusiasmo hacia una visión común. No sólo crean equipos, sino que también inspiran, motivan y dirigen equipos hacia oportunidades reales (y, a veces imaginarias).
</p>
<p>
Los comerciantes también tienen aprecio por la cultura, el arte, la literatura, la calidad de presentaciones, y la estética. Sin la mente comercial en un negocio, el trabajo puede convertirse en un abismo caótico de dictados de un constructor, de unas hojas de cálculo e informes de un banquero, o diagramas del innovador y de manuales técnicos.
</p>
<p>
Los comerciantes atraen a otros, un valioso activo en los negocios.
</p>
<p>
Los comerciantes venden. Ya sea que estén involucrados en ventas como una función de negocios o no, los comerciantes se venden tanto a ellos mismos como a cualquier otra persona. Los comerciantes se ocupan de sus amigos y clientes. Alimentan relaciones a largo plazo. De hecho, tienden a valorar las relaciones más que los resultados.
</p>
<p>
Un líder empresarial o de negocios que es predominantemente un comerciante va a generar una energía increíble y obtener recompensas casi instantáneas. No puede vivir sin algún tipo de recompensa (retroalimentación personal, el dinero o la validación de una idea) por mucho tiempo. Sin embargo, las recompensas provienen de diversas direcciones y rara vez se relacionan con la visión a largo plazo del comerciante. Un comerciante está dispuesto a revisar su visión a largo plazo tan a menudo como sea necesario, incluso más de lo necesario.
</p>
<p>
Los comerciantes obtienen resultados, pero indirectamente. Son los ayudan a otros a ver oportunidad. Primeramente, ven oportunidades que todavia no estan ahi. Les gusta comenzar algo nuevo tan seguido como sea posible. Terminan proyectos porque no quieren decepcionar a alguien, no porque valoren el terminar y obtener resultados. El estar en el juego es lo que hace sentir bien a un comerciante.  
</p>
<p>
Los empresarios que son comerciantes tienden a edificar diversidad de compañías. Pocas oportunidades se les pasan. Sin un banquero en sus hombros que los frene, ellos pueden ser temerarios. También le ayuda al comerciante el tener características de banquero, y algo de innovador para resolver problemas y tener estrategias. Sin este balance, tienden a comenzar muchas cosas, terminar pocas, y pasar un buen tiempo haciéndolas, aunque tienen poco que mostrar por sus esfuerzos después.
</p>
<p>
Los comerciantes actúan por amor, con energía y buscan emociones. Odian la redundancia, especialmente en sus patrones de actividad. Les gusta que los miren cuando están actuando, envisionando, enseñando, o inspirando, pero no les gusta ser medidos, evaluados, probados o criticados.
</p>
<p>
Debido a que los comerciantes valoran la visión y las relaciones por encima de todo, ven el futuro cuando otros están atrapados en el pasado o en una crisis actual. Saben cómo vender su visión a los demás y crear una tremenda energía emocionando a otros con sus ideas. Y, contrario a la opinión de los constructores, los comerciantes tienden a ser realistas, sin desviar su visión a conclusiones.
</p>
<p>
Sus conclusiones son inherentemente sueltas y sin detalles, por lo que los banqueros también se cohiben cada vez que el comerciante tiene una nueva visión. Sin embargo, a los innovadores les encanta estar rodeado de un comerciante porque tienen un nuevo problema para resolver o una nueva solución para explorar. Reúne los sistemas necesarios y pasos que un comerciante puede ver débilmente, y luego pasar el plan a un constructor.
</p>


<h3>Los retos del comerciante</h3>
<p>
Los comerciantes, sin embargo, necesitan sentir que sus contribuciones son importantes y especiales. Piensan bien alto de sí mismos, creyendo que todo el mundo los ama. Si no creyeran eso, no pueden hacer mucho. Pueden ser una alegría tenerlos alrededor, pero no están impulsados para completar tareas. Son grandes iniciadores, pero débiles para terminar. Sin un constructor alrededor para hacer que las cosas sucedan, y un banquero para que las cosas no se salgan de rumbo, un comerciante estará constantemente buscando más negocios de los que puede manejar, pero no para cerrar acuerdos. 
</p>
<p>
Los comerciantes se frustran fácilmente y no reciben bien el rechazo. Los innovadores tienen que ayudar a los comerciantes constantemente a ver un nuevo enfoque porque los comerciantes tienden a pensar que el “caer bien” es todo lo que se necesita. Los comerciantes experimentan angustia cuando perciben que no son apreciados. Casi todo lo que un constructor o banquero hace, --hace que el comerciante se sienta poco apreciado.
</p>
<p>
Los comerciantes tienen buen éxito en la construcción de su equipo, pero fallan en dar a sus miembros el poder de controlar sus caprichos y la necesidad de estimulación constante.  Para que los líderes de comerciantes tengan una empresa fuerte o departamento, tienen que dar a alguien el derecho y la autoridad para mantener al jefe en su puesto. Necesitan novedad constante y estimulación fuera del trabajo.  "Mira a ver qué haces con tu vida", como le dirían algunos.
</p>
<p></p>
<p>
Si tiene éxito en manejar a un comerciante, es debido a la lealtad de esa persona y su deseo de mantener la relación con usted. También puede ser prometiendo que en el futuro va a ver tener en cuenta otra de sus ideas.
</p>
<p>
Cuando los comerciantes se sienten fuera de control, cargados o devaluados, tienen varias estrategias eficaces para tomar el control de nuevo. Se quejan, un “sonido” que atrae la atención y la simpatía de todos los otros comerciantes a corto plazo. Tratan de convencer, manipular y se avergüenzan para que usted retroceda.
</p>
<p>
Si todo lo demás falla, los comerciantes exageran o cambian el tema para una visión del futuro. Si se les maltrata, (de acuerdo a sus patrones) juzgan que usted esta por debajo de ellos. Continúan vendiendo, sin permitir que otros hablen. Se miran inocentes, hablan inocente, y les atrae cualquiera que los mire y los apoyen. Lo amaran hasta la muerte, y se lo ganaran a su lado porque el mantener la relación es lo que más valoran. 
</p>
<p>
Si eso no funciona, trata de avergonzarlo respecto por cómo le está tratando, haciendo que usted se vea como el "malo" ante los ojos de los observadores. Los comerciantes descontentos hacen mala cara hasta que todo el mundo cede. Tienden a ser grandes mártires. Conocen el drama "pobre de mí", muy bien. Son grandes actores. Por ejemplo, se pueden detectar los comerciantes en un juego de baloncesto por su éxito en conseguir violaciones contra sus oponentes.
</p>


<h3>El comerciante/constructor</h3>
<p>
El comerciante/constructor tiene alta energía; es líder espontáneo, animado, muy capaz de desarrollar equipos y conseguir lealtad, así como instrucciones. Cuando la situación requiere a alguien a arremangarse y ponerse a trabajar, manteniendo siempre las relaciones de alta calidad y motivará y enseñará a otros a unirse y funcionar bien. Esta valiosa combinación alineada con la visión, la formación, los resultados y las relaciones sólidas, crean una fuerza irresistible.
</p>
<p>
Estas personas saben cómo trabajar y cómo conseguir que otros trabajen con ellos. El constructor en ellos es un hacedor, y si hay demasiado trabajo para una sola persona, el comerciante en ellos motivará y enseñará a otros a unirse y funcionar bien. Esta valiosa combinación de acción, alineados con la visión, capacitación y relaciones sólidas crea una fuerza irresistible.
</p>
<p>
Sus acciones hacen que su visión valga la pena, y su enseñanza suelta nueva energía y entusiasmo, y expande la capacidad de los que lo rodean. Su decisión genera resultados finales, el eje central de cualquier compañía, mientras que su cuidado constante para edificar relaciones construye confianza y lealtad entre en el equipo. Su creatividad es una fuerza para ser reconocida y añade aprecio y valor al trabajo en cuestión.  
</p>
<p>
El comerciante/constructor no es bueno aislado; necesita personas alrededor. El lado constructor requiere una persona para demostrar y mandar, mientras que el lado del comerciante necesita un público, y alguien con quien compartir la visión y todos los éxitos y fracasos correspondientes. A los comerciantes también les gusta enseñar la visión y valor (que para ellos es parte de su construcción de monumentos), y continuamente se esfuerzan por construir relaciones de calidad, que a su vez crean relaciones nuevas, continuas.
</p>
<p>
Si se requiere la construcción de un equipo rápidamente, o la apertura de un nuevo territorio de ventas, o si se está lanzando una nueva empresa, un constructor/comerciante es el candidato más probable para tener éxito. 
</p>
<p>
Sin embargo, el comerciante/constructor tiende a creer en su propio punto de vista y se enamora fácilmente con sus propias ideas. Pueden tomar acciones dramáticas, que pueden dejar un rastro de arranques, fracasos y decepciones detrás de ellos. Crean un campo de rastrojo para los innovadores a la hora de la verdad, y un vacío sin fin  de datos. que sólo un banquero corrige. El constructor/comerciante puede parecer a veces como dos personas en una. En un momento son halagos, bromas e inspirador; luego, sin pestañear, cambiar a fanfarronería. "Hazlo”, demandan.
</p>
<p>
Una escena común: un comerciante/constructor toma una decisión rápida y establece un curso de acción. Entonces, cuando es desafiado por su equipo puede negar responsabilidad, cambiar de opinión, establecer un nuevo curso de acción, cargar el equipo exigiendo resultados, y tener una nueva idea con pocas palabras sin perder el ritmo.
</p>
<p>
Estas personas son explosivas y el estar al lado de ellos es emocionante; pero, si usted tiene un corazón débil, evitelos de la misma manera que las personas con marcapasos evitan los microondas. Un comerciante/constructor fuerte es bueno para conseguir, que otros hagan cosas que no le gusta hacer y hacerles creer que son felices haciéndolo. Esto es tanta fuerza, como puede ser una debilidad.
</p>



 <div id="banker-innovator">
 <p><b>#####Your third level</b> <strong class="qTitle">BANKER</strong> <b><em>core energy</em> gives you the ability to respond appropriately to a broad spectrum of situations.</b></p>
 <p>Having the right information is important to you. You do what you say you will do. When things get messy, you may get testy. You surround yourself with facts, figures and data. Once started, you don't give up easily. You enjoy being the source of information and proven methodology. Knowing the past provides evidence for the future.</p>
 <p>Having all of the information is important to you, even the small things. You like to understand the details of situations and issues. Effective decisions are supported by analysis of similarities and differences. You care deeply when situations or the behaviors of people are unfair, or when your <em>knowledge</em> is used incorrectly by others. Your <em>knowledge</em> is generally available to others. You like to be the one who knows; being right and being able to prove it is important to you.</p>

 <p><b>Your fourth level</b> <strong class="qTitle">INNOVATOR</strong> <b><em>core energy</em> gives you the opportunity to live a balanced and successful life.</b></p>
 <p>You do not rely significantly on <strong class="qTitle">INNOVATOR</strong> values to create success. A ten percent increase in your focus on your personal values in this quadrant may dramatically increase your performance.</p>
 <p>You see and understand the relative worth of people and things. Seeing potential and opportunity is a primary talent. You like to maintain a good mix of people, activities and things in your life. It is important for you to watch, look and listen before you act. Finding the best solution is one of your primary contributions. You like to consider all the options. Rapid and clever exchange of ideas is a personal joy and a method of work for you.</p>
 <p>You are able to see the ways things are, and you know what to do about it. You are seen as a valuable resource for leading people toward the right ideas and the right direction. Acting foolishly or illogically is not a common experience for you. Your use everything that is available to meet requirements. Understanding others and working with them is a key asset of yours.</p>
 </div>