de su energía derivada de sus valores primarios 
<br/>&nbsp;&nbsp;&nbsp;&nbsp;
viene de Conocimiento y Sabiduría.</p>
                </div>
            </div>
            <div class="clearfix" id="topResults">
                <div class="checkOver">
                    <div id="congrats">

                        <p>
						El evaluador the IVP encontró que usted es <strong class="qTitlew">Banquero-Innovador</strong>.</p>

<p>
¿Qué significa esto? Significa que su valor primario es Banquero. El valor dominante del banquero es conocimiento. El conocimiento es saber los hechos por medio de la investigación, medición, pruebas y registros. Usted es motivado por el “qué”, “cómo”, y "por qué" de las cosas. Su segundo valor primario es innovador-- la energía primaria que mueve al innovador es la sabiduría. La sabiduría es la habilidad de ver las cosas como son, y discernir qué hacer al respecto.  Evaluar con precisión situaciones y aportar soluciones. 
</p>