de su energía derivada de sus valores primarios
<br/>&nbsp;&nbsp;&nbsp;&nbsp;
viene de Conocimiento y Poder.</p>
                </div>
            </div>
            <div class="clearfix" id="topResults">
                <div class="checkOver">
                    <div id="congrats">

                        <p>
						El evaluador the IVP encontró que usted es <strong class="qTitlew">Banquero-Constructor</strong>.</p>

<p>
¿Qué significa esto? Significa que su valor primario es Banquero. El valor dominante del banquero es conocimiento. El conocimiento es saber los hechos por medio de la investigación, medición, pruebas y registros. Usted es motivado por el “qué”, “cómo”, y "por qué" de las cosas. Su segundo valor primario es construtor-- la energía que mueve al constructor es el poder. El poder es la energía personal que se invierte para hacer un diferencia positiva. Usted esta tomando acción constantemente para obtener resultados. 
</p>