

de su energía derivada de sus valores primarios <br/>&nbsp;&nbsp;&nbsp;&nbsp;
viene de Sabiduría y Amor.</p>
                </div>
            </div>
            <div class="clearfix" id="topResults">
                <div class="checkOver">
                    <div id="congrats">

                        <p>
						El evaluador the IVP encontró que usted es <strong class="qTitlew">Innovador-Comerciante</strong>.</p>

<p>
¿Qué significa esto? Significa que su valor primario es INNOVADOR. El valor dominante del innovador es sabiduría. La sabiduría es la capacidad de ver las cosas como son, y discernir qué hacer al respecto. Evaluar con precisión situaciones y aportar soluciones. Su segundo valor primario es COMERCIANTE-- la energía que mueve al comerciante es el amor. El amor en este sentido es trabajar hacia una visión inspirada de lo que será, nutriendo los valores primarios de sí mismo y en otros. Busca relaciones para proveerles una visión inspiradora.
</p>