de su energía derivada de sus valores primarios 
<br/>&nbsp;&nbsp;&nbsp;&nbsp;
viene de Amor y Poder.</p>
                </div>
            </div>
            <div class="clearfix" id="topResults">
                <div class="checkOver">
                    <div id="congrats">

                        <p>
						El evaluador the IVP encontró que usted es <strong class="qTitlew">Comerciante-Constructor</strong>.</p>

<p>
¿Qué significa eso? Significa que su valor primario es Comerciante. --La energía derivada de su valor primario es amor. El amor es este sentido esta trabajando hacia un visión inspirada de lo que puede ser, nutriendo su valor primario y el otros. Busca construir relaciones y proveer una visión inspiradora para aquellos que lo rodean. Su segundo valor primario es CONSTRUCTOR-- la energía que mueve al constructor es el poder. El poder es una energía personal invertida para hacer una diferencia positiva. Toma la acción constantemente para obtener resultados.
</p>