<div class="results clearfix"><a name="aWhoIAm" id="aWhoIAm"></a>
	<div class="imgRight">
		<img src="../CVIReportFiles/PCR_1200/images/WhoIAm.png"></img>
	</div>
	<h2>¿Quién soy?</h2>
    <p>
    Su puntaje indica que tiene tendencia a <strong class="qTitle">INNOVADOR/BANQUERO</strong>. Cuando entra en un salón, de pronto hay más sabiduría y conocimiento. Usted es la presencia de sabio conocimiento. Esa es su misión, el ser la presencia eficaz de sabio conocimiento. Mira a las circunstancias y a las situaciones a su alrededor, por medio de la justicia y la compasión. Opera por medio de la razón y el conocimiento, sabiendo los hechos y trabaja para conservar los recursos. Esto se compensa con su capacidad intuitiva de ver qué esta pasando a su alrededor, preguntar y debatir hasta comprender totalmente, luego trabajar para desarrollar una respuesta correcta con la mejor estrategia. Su más alta contribución puede ser hecha sólo en situaciones en las que hay un sabio conocimiento.
    </p>
    <p>
    Lo que usted es, a nivel bien profundo e innato de su naturaleza humana, es el elemento más importante en su vida. Lo que usted es en este nivel profundo, es, después de todo, lo único que realmente contribuye a este mundo. Es por medio de su asignación y opciones correctas, que usted puede hacer su más grande y alta contribución. Ésta es la misión universal de todo ser humano.
    </p>
    <p>
    Entre más aprenda acerca de quién es realmente, y cómo optimizar su presencia en este mundo, mayor será su éxito, felicidad y eficacia en su vida.
    </p>
    <p>
    Su valor dominante de <strong class="qTitle">INNOVADOR</strong> es balanceado por el de <strong class="qTitle">BANQUERO</strong>, su valor secundario.  Sus acciones son rutinarias, casi iguales, guiadas por estos dos valores primarios. En momentos de angustia, por lo general, se basa en las estrategias conflictivas de su valor dominante. En conflictos menos críticos, puede usar cualquier estrategia dada la situación.
    </p>

    <h3>Su dominante valor primario único de INNOVADOR-- hace que dependa de las siguientes estrategias para su éxito y cumplimiento.</h3>
    <p>
    Su segundo valor primario es la sabiduría. La comprensión y la compasión son primarios para su estrategia de vida. 
    </p>
    <p>
    El pensar estratégicamente es su fuerte. Ve y entiende el valor de las personas y las cosas.  Se enorgullece en ver y comprender la gente y las situaciones. Observa consistentemente y mide el valor de las personas y las cosas. Si puede reunir cosas de diferentes recursos, lo hace. Se esfuerza para que la gente y las cosas funcionen juntas. Le gusta mantener variedad de gente, actividades y cosas en su vida.
    </p>
    <p>
    Su deseo de ver las cosas completas y evaluarlas es un recurso primario. Le gusta comunicarse con visuales y descripciones. El inventar nuevos sistemas, procedimientos y cosas son puro placer.  La gente le busca para la creación y mejora del flujo de trabajo y los procedimientos. Puede ver otras maneras de hacer que las cosas funcionen juntas. El encontrar la mejor solución es una de sus contribuciones primarias. El intercambio inteligente y rápido de ideas es un gozo personal y un método de trabajo.
    </p>
    <p>
    Puede ver las cosas como son, y sabe qué hacer al respecto. Es visto como un recurso valioso para llevar a la gente hacia las ideas y la dirección correctas. Le gusta guiar por medio de presentaciones con alternativas inteligentes. El actuar tonta o ilógicamente no es común para usted. Usa todo lo que esta disponible para cumplir con los requisitos. Valora y confía en su capacidad mental. El comprender a otros y trabajar con ellos, es clave para usted.
    </p>

    <h3>Su energía secundaria primaria es de <strong class="qTitle">BANQUERO</strong> apoya su energía dominante de <strong class="qTitle">INNOVADOR</strong>.</h3>
    <p>
    Su segundo valor primario es conocimiento, apoyado por su fuerte deseo que crear justicia en el mundo.
    </p>
    <p>
    Le gusta seguir un rumbo fijo, especialmente cuando está involucrado. Le gusta actuar de acuerdo con evidencias específicas de conocimiento e historia. El tener la información correcta es importante para usted. Hace lo que dice que va a hacer. La fiabilidad de sus palabras y acciones es primario para respetarse así mismo. Cuando las cosas se complican, se irrita. Se rodea con hechos, figuras y datos. 
    </p>
    <p>
    Disfruta de ser la fuente de información y metodología probada. Conocer el pasado proporciona evidencia para el futuro. Cree en la medición y en la presentación de datos de medición como una herramienta de liderazgo eficaz. El tener toda la información es importante para usted, incluso las cosas más pequeñas. La estructura social y los gestos adecuados son buenas para el alma. Disfruta de la labor de mantenimiento de los sistemas y procesos que se ejecutan sin problemas. Le gusta entender los detalles de las situaciones y los problemas.
    </p>
    <p>
    Cero movimiento, cero desperdicio de recursos, cero  esfuerzo inútil; esto es lo que busca. Le gusta proveer a otros con ideas probadas y metodología. Por lo general, su conocimiento está disponible para otros. Es una fuerza constante en su mundo. Le gusta ser el que sabe, tener la razón y ser capaz de demostrar que es importante para usted.
    </p>

    <h3>INNOVADORES - Su valor dominante</h3>
    <p>
    Los innovadores son los creadores de soluciones en este mundo. Siempre pueden pensar en algo diferente. "Tiene que haber una manera mejor", es más que su lema; los “fragmentos” del ROM-- (memoria para leer solamente) son pre-programados en el receptor reticular de su cerebro. Los innovadores disfrutan el reto de un problema, especialmente a gran escala. Resuelven los problemas. Les encanta tanto esto, que odian quedarse con una solución. "Tiene que haber una manera mejor." La declaración: "si no está roto, no pierdas tiempo", no tiene lugar en su mente.
    </p>
    <p>
    El poder de los innovadores proviene de su falta de aceptar, que hay algo que no pueden entender. Están dispuestos a poner su ego en peligro una y otra vez, apostando su reputación de que van a ser capaces de llegar a un plan, una solución o una idea, que va a hacer las cosas mejor.
    </p>
    <p>
    Además, para completar, a los innovadores les encanta desarrollar sistemas que aseguran la continuación de sus planes. Estos sistemas son los “monumentos” del innovador, tanto como una pirámide es el monumento del constructor.
    </p>
    <p>
    Cuando todos alrededor están asustados, cuando el constructor está dando órdenes gritando;, el comerciante está quejándose o vendiendo, y el banquero está predicando justicia o paciencia, el innovador tiende a aislarse, agarrar una computadora o una pizarra limpia, y se prepara para trabajar. 
    </p>
    <p>
    Son altamente creativos en resolver problemas. Son capaces de llegar a las cosas, desde un ángulo nuevo añadiendo elementos, sistemas o tecnologías que nadie más ha pensado añadir a la mezcla, con el fin de lograr una verdadera innovación.
    </p>
    <p>
    Mientras que las soluciones y sistemas, que los innovadores establecen pueden ser bien fundamentados y prácticos en su concepto, los propios inventores, no son muy prácticos en su enfoque. No son buenos ejecutores, porque quieren perfeccionar todo antes de actuar. El actuar significa inventar algo más, retrasando de nuevo la implementación de sus sistemas o nuevos productos.
    </p>
    <p>
    A los innovadores les encanta tener gente alrededor, pero no para construir un equipo. Éste es un público para su creatividad y una manera de rebotar ideas alrededor. Les encanta explorar sus últimas ideas con la gente. Ellos están tan fascinados con cada solución concebida personalmente como "potencial", que quieren que todos las aprecien con sutileza. Cuando ya han convencido a su público con esta nueva y brillante solución, les gusta añadir: "Espera, ¿qué pasaría si ...?"
    </p>
    <p>
    Los innovadores pueden crear problemas sólo por el placer de resolverlos. Los constructores se apoyan en los innovadores, pero por lo general, los dejan esperando en el  corredor, a la mitad de una explicación acerca de una posible solución. Los banqueros alimentan retos a una propuesta hecha por un innovador, y lo mantiene cargado con nuevos problemas que enfrentar. Los comerciantes escuchan atentamente al innovador, y se apoyan en ellos constantemente. Esto hace que un innovador se sienta “escuchado”. Ya que un comerciante nunca dejaría a un innovador parado en el corredor, se convierten en grandes amigos. Sus reuniones para compartir ideas son interminables. Si no se controlan pueden convertirse en un conducto sin fin, de recursos de la empresa. 
    </p>
    <p>
    Los innovadores son invaluables. Crean nuevos productos y sistemas, para resolver los problemas administrativos y de producción. Nunca son derrotados y son capaces de llegar a nuevas estrategias y enfoques, cuando todo el mundo se ha rendido. Se gozan tanto con esto, que odian la toma de decisiones, y en ocasiones añaden confusión al sistema inventando una manera mejor. Nada es lo suficientemente bueno, especialmente si fue concebido por otra persona, o si la solución ha estado en vigor durante unos meses.
    </p>
    <p>
    El innovador empresario puede tener un gran éxito. Son personas que crean la “trampa” que lleva el mundo a su puerta. El problema es, que realmente creen que el mundo llegará a su puerta. Y puesto que aman el resolver problemas, más que el proceso de construcción y venta de algo, tan pronto como un producto o servicio se implementa, están listos para crear otra solución mejor.
    </p>


<h3>Desafíos de los innovadores</h3>
<p>
El pecado mortal de los innovadores es su desesperada necesidad de continuar el perfeccionamiento de un producto o sistema, mucho después de haber servido su propósito. Se involucran en una solución específica o un problema, mucho después de que ha producido una solución al problema.
</p>
<p>
Los innovadores activos necesitan un constructor en ellos o alrededor de ellos, para que se decidan en una solución y la complete. Necesitan comerciantes, para que realmente hagan que otros entiendan el valor de la "solución" que están vendiendo. Y necesitan banqueros que los apoyen, completando los detalles, ayudar a controlar los costos y obtener ganancias.
</p>
<p>
Los innovadores pueden ser personas muy obstinadas. Se niegan a moverse hasta que sienten que sus soluciones son perfectas. Y puesto que también valoran la evaluación, no sólo crean una nueva solución, sino que quieren evaluar su idoneidad, su corrección, su inteligencia y su perfección. De hecho, están seguros que nadie más podría entender toda la sutileza y complejidad de su solución, de manera que no les gusta que los demás entren y exploren, por temor a que puedan haber pasado por alto un pequeño detalle.
</p>
<p>
El tomar decisiones para un innovador, se convierte en un maratón; añade más a la ecuación, prueba sus ramificaciones y anuncia: "Puedo ver cómo esto encaja." Entonces, cuando todo el mundo considera que la decisión está hecha, el innovador puede anunciar otras consideraciones que deben ser exploradas antes de la decisión final. Los innovadores son irritables para los comerciantes y constructores, que quieren seguir adelante.
</p>
<p>
Los innovadores son muy receptivos y abiertos al cambio, si ven y comprenden que provocan tensión. Están dispuestos a actuar diferente, si ven cómo las medidas producen mejores resultados. Por este motivo, los innovadores y los constructores son compañeros de equipo maravillosos. Tienden a mantener un buen equilibrio en la acción, en vez de la perfección.
</p>
<p>
La adaptación de los innovadores también es muy apreciada por los demás compañeros. Los innovadores, no hacen distinción entre los problemas que se les pide resolver. El solucionar es suficiente para hacerlos felices. Los innovadores son elementos clave, en cada situación de negocios donde está ocurriendo un cambio. Su ingenio aporta nuevos métodos, herramientas, sistemas y mecanismos para aportar. Los innovadores, siempre están abriendo nuevas oportunidades para el éxito.
</p>
<p>
Lo contrario también es cierto para muchos innovadores. Tienden a ser muy hábiles, en la resolución de ciertos tipos de problemas. Por ejemplo, los ingenieros innovadores pueden ser genios en el diseño de un nuevo circuito electrónico, pero distraídos cuando se trata de dar soluciones de negocios para sus departamentos.
</p>
<p>
Cuando los innovadores están fuera de control, se ponen tercos. Buscan otra manera de darle la vuelta, para que reconsidere. Reconsideran, se ponen a la defensiva y resisten el tomar una decisión. Pueden añadir otro número a la ecuación, para confundirle. Niegan los hechos, cuestionan la validez o pertinencia de los datos existentes, y se niegan a tomar medidas, o a veces simplemente se dan por vencidos, lo cual puede enfurecer a otros grupos energéticos primarios.
</p>
<p>
Cuando todo falla, los innovadores recurren al interrogatorio. Les gusta confundir el problema con preguntas secundarias y tangentes. Ellos saben cómo hacer preguntas, lo cual son acusaciones, más que preguntas. Saben cómo hacer que otros se sientan mal, haciendo preguntas que avergüenzan y hacen sentir mal, demostrando la ignorancia de los otros , o simplemente hacen que los demás se sientan ignorantes, confusos o inadecuados. La Interrogación es una potente estrategia, como la intimidación de los constructores, el de víctima "pobre de mí", de los comerciantes, o la posición distante resistente y de crítica de los banqueros.
</p>

<h3>Innovador/banquero</h3>
<p>
El innovador/banquero guía a través de soluciones creativas, un análisis cuidadoso, hechos, detalles, el trabajo constante y el pensamiento claro. El innovador/banquero, se basa racionalmente, trabaja con hechos, sistemas comprobados y lógica. Esta energía primaria puede evaluar rápidamente una situación, y llegar a múltiples soluciones o sistemas de apoyo, a objetivos establecidos. Una vez concebidas, las ideas se analizan, se organizan, se demuestran en papel y se perfeccionan en un documento.
</p>
<p>
Cualquier negocio, que necesite soluciones creativas en una situación muy exigente y práctica, podrá apreciar las contribuciones de un innovador/banquero. Cuando la situación requiere la reducción de buenos conceptos de diseño, y luego la reducción de documentación y control de calidad, el innovador/banquero es irreemplazable. 
</p>
<p>
El poder del banquero/innovador, en el área del producto o diseño del sistema, hace eco de los puntos fuertes del comerciante/banquero, de arriesgar un negocio. El innovador/banquero es quien impone lo tecnológico o los sistemas. A medida que el innovador se esfuerza por crear el mejor producto final posible, el banquero, su otra parte de energía primaria, se preocupa constantemente de los detalles.
</p>
<p>
El innovador/banquero, por lo tanto, es la energía primaria que empuja los límites del nuevo producto o el desarrollo del sistema, que viene con innovaciones que funcionan verdaderamente. No hay nada más valioso para un equipo de diseño de ingeniería, que la innovación equilibrada de diseñar tal innovación a la perfección, para terminar con la documentación, a través de la producción, prueba y garantía de calidad.
</p>
<p>
Es probable, que los banqueros/innovadores hayan desarrollado negocios de compra y venta de acciones, en la bolsa  de valores. Éste es un excelente ejemplo de la innovación, en reducción de riesgo.
</p>
<p>
Sin embargo, los innovadores/banqueros tienen dificultades para tomar decisiones. El decir "no" sin pensar, no es tomar una decisión. La información proporciona evidencia para crear nuevas soluciones, y las nuevas soluciones necesitan prueba, lo cual sólo se puede derivar de más información, que hace del proceso un circuito sin fin. Si es un banquero/innovador y presidente de una empresa (o jefe de un departamento), entonces su camino hacia el éxito es a través de atraer comerciantes y constructores, con personalidades lo suficientemente fuertes, para actuar en su propia autoridad y no esperar a que usted tome una decisión. También deben estar dispuestos a decir, qué parte de la información que usted cree que se "necesita", no es necesaria con el fin de hacer las cosas.
</p>
<p>
Cuando los innovadores/banqueros se encierran en "no tomar decisiones hoy", hay pocas esperanzas de sacarlos de allí. El lado innovador se pone terco y se aísla de los demás, hasta que "pueda resolver esto", y el lado banquero pone en marcha un prolongado ciclo de recolección y análisis de datos, que "sólo yo puedo manejar." Esta postura es prácticamente impenetrable, a menos que un constructor valiente, se arriesgue  y tome acción no autorizada, y un comerciante se quede en el disturbio para ayudar a resolver las relaciones, y mantener a todos enfocados en los objetivos corporativos. 
</p>
<p>
Es prácticamente imposible hacer  que un innovador/banquero, actúe espontáneamente. Incluso los comerciantes no prevén que esto suceda, al menos no más de una vez en la vida.
</p>

 <div id="merchant-builder">

 <p>
 <b>Su tercer nivel primario de</b> <strong class="qTitle">COMERCIANTE</strong>, <b>le da la capacidad para responder adecuadamente a una amplia gama de situaciones</b>.
 </p>
 <p>
 Su valor primario es el amor. El construir y sostener relaciones es primario para la estrategia de su vida. Está constantemente trabajando para conocer y entender la verdad, sobre sí mismo y otros.
 </p>
 <p>
 Sus valores de CONSTRUCTOR son lo suficientemente fuertes, como para lograr el equilibrio en su vida. Aprender a cambiar su estrategia, a esta energía primaria en épocas de alta oportunidad o durante conflictos, contribuirán de manera significativa a su éxito.
 </p>
 <p>
 Nada se siente bien, cuando la gente que valora está distante o en conflicto. Tiene un entusiasmo natural, y le gusta estar en situaciones que son atractivas y llenas de energía.  Quiere recibir buenas recompensas y reconocimiento por el tiempo y la energía gastada. Ningún plan potencial, idea o posibilidad se le escapa. Una estrategia central para usted, es trabajar de manera eficaz con los demás y es importante ser reconocido como un amigo. Le gusta trabajar, y a los demás les gusta trabajar con usted. 
 </p>
 <p>
 Conseguir lo que quiere de los demás es una negociación suave y un arreglo amistoso. El sentirse unido con la gente le da confianza. Le gusta ser el responsable en la vida de los demás. Disfruta de diferentes personas y actividades. La discusión libre y abierta es un elemento importante en su estilo de liderazgo. Motivar a los demás, con sus visiones e ideas es muy satisfactorio. Hablar con los demás, es su forma de aprender y enseñar.
 </p>
 <p>
 Algo nuevo e inspirador todos los días es el aliño de su vida. Tiene la capacidad de ayudar a la gente, a que se sienta optimista y valiente. Es importante para usted ver a la gente y las cosas como realmente son.
 </p>

 <p><b>####Your fourth level</b> <strong class="qTitle">BUILDER</strong> <b><em>core energy</em> gives you the opportunity to live a balanced and successful life.</b></p>
 <p>
 Su valor primario es el poder, la aplicación de la pura energía. Este valor primario es apoyado por una fuerte fe en su propia capacidad de saber qué hacer, la fe de que sus acciones son para el bien, y la fe que una vez que crea el cambio, sabe qué hacer a continuación.
 </p>
 <p>
 Es un orgullo para usted el saber qué hacer. Es impulsado a hacer las cosas. Las personas que le rodean saben que está orientado a la tarea. Es fuertemente auto-motivado. Se enorgullece de la energía que gasta en proyectos. El iniciar nuevos proyectos y empresas, le hace feliz. Le gusta poner las cosas en movimiento.
 </p>
 <p>
 Decide rápida e intuitivamente. Sólo trabaja en cosas o proyectos que tienen un valor real. Desea que las cosas que hace, sean para hacer una diferencia tangible. Le gusta poner las cosas y la gente a trabajar. Le gusta trabajar y admira a los que trabajan. No tiene miedo de llevar las cosas a su fin; cuando ha terminado, ya está hecho. En general, siente que tiene suficientes recursos, energía y motivación para lograr sus objetivos.
 </p>
 <p>
 Es importante para usted mostrar buenos resultados por la energía invertida. Hay pocas situaciones en las que se siente inadecuado.
 </p>

 </div>