<div class="results clearfix"><a name="aWhoIAm" id="aWhoIAm"></a>
	<div class="imgRight">
		<img src="../CVIReportFiles/PCR_1200/images/WhoIAm.png"></img>
	</div>
	<h2>¿Quién soy?</h2>

<p>
Su puntaje indica que tiene tendencia a <strong class="qTitle">INNOVADOR/COMERCIANTE</strong>. Cuando entra en un salón, de pronto hay más sabiduría y amor. Es la presencia de sabiduría amorosa. Esa es su misión, el ser la presencia eficaz poderosa de la  sabiduría amorosa. Mira a las circunstancias y a las situaciones a su alrededor, por medio de la compasión y la verdad. Opera por medio de la razón y la intuición, viendo las cosas como son. El hacer preguntas y derivar respuestas correctas, las mejores estrategias y soluciones que funcionen. Esto se equilibra con su capacidad intuitiva y razonamiento para saber quien es quien. Intenta comprender sus necesidades y deseos. Trabaja para nutrirlos y apoyarlos y a usted mismo. Su más alta y mejor contribución puede hacerse sólo en situaciones en las que hay una necesidad significativa y constante de sabiduría amorosa.
</p>
<p>
Lo que usted es, a nivel bien profundo e innato de su naturaleza humana, es el elemento más importante en su vida. Lo que usted es, en este nivel profundo, es después de todo, lo único que realmente contribuye a este mundo. Es por medio de su asignación y opciones correctas, que usted puede hacer su más grande y alta contribución. Ésta es la misión universal de todo ser humano.
</p>
<p>
Entre más aprenda acerca de quién es realmente, y cómo elevar su presencia en este mundo, mayor será su éxito, felicidad y eficacia en su vida.
</p>
<p>
Su energía derivada de su valor primario de <strong class="qTitle">innovador</strong> se balancea con su valor secundario de <strong class="qTitle">COMERCIANTE</strong>. Sus acciones son rutinarias, casi iguales, guiadas por estas dos energías primarias. En momentos de angustia por lo general depende en las estrategias de conflicto de su energía dominante. En los conflictos menos críticos puede usar cualquiera de estas estrategias dada la situación.
</p>

<h3>Su energía única dominante de <strong class="qTitle">INNOVADOR</strong> hace que dependa de las siguientes estrategias, para el éxito y satisfacción.</h3>
<p>
Su valor primario es sabiduría. La comprensión y compasión son centrales para su vida.
</p>
<p>
El pensar estratégicamente es su fuerte. La gente ve su ingenio e inventiva. Se enorgullece en ver y comprender a la gente y las situaciones. El desarrollo de respuestas eficaces a situaciones es una de sus principales contribuciones. Está constantemente observando y midiendo el valor de las personas y las cosas. Si puede reunir cosas de diferentes recursos, lo hace. Se esfuerza para que la gente y las cosas funcionen juntas. 
</p>
<p>
Le gusta mantener variedad de gente, actividades y cosas en su vida. Le gusta comunicarse con visuales y descripciones. El inventar nuevos sistemas, procedimientos y cosas son puro placer. Nunca se da por vencido. Tiene una chispa y creatividad en su manera de pensar. Es importante para usted el observar, mirar y escuchar antes de actuar. Las situaciones y problemas complicados no son un reto para usted. 
</p>
<p>
El encontrar la mejor solución es una de sus principales contribuciones. Sus gustos son variados y diversos. Le gusta considerar todas las opciones. El intercambio rápido e inteligente de ideas es una alegría personal y un método de trabajo para usted. Puede ver las cosas como son, y sabe qué hacer al respecto. Es visto como un recurso valioso para guiar a los demás hacia las ideas y direcciones correctas. El actuar tonta o ilógicamente no es común para usted.
</p>
<p>
Utiliza todo lo que está disponible para cumplir con los requisitos. Valora y confía en su capacidad mental. El comprender a otros y trabajar con ellos, es clave para usted.
</p>

<h3>Su energía secundaria primaria es de <strong class="qTitle">COMERCIANTE</strong> apoya su energía dominante de <strong class="qTitle">INNOVADOR</strong>.</h3>
<p>
Su segundo valor primario es amor. El construir y sostener relaciones son su estrategia central. Está constantemente trabajando para conocer y comprender la verdad acerca de sí mismo y los demás. 
</p>
<p>
El tener prueba absoluta, conocimiento y comprensión no son requeridos para que actúe. Nada se siente bien cuando la gente que valora está distante o en conflicto. Quiere recibir buenas recompensas y reconocimiento por el tiempo y la energía gastada. Ningún plan potencial, idea o posibilidad se le escapa. Una de sus estrategias es trabajar eficazmente con otros. Le gusta trabajar con otros y a otros les gusta trabajar con usted. 
</p>
<p>
Es bueno en hacer que otros trabajen para y con usted. Le gusta tener una nueva responsabilidad en su vida y ser responsable de otros. Le gusta confiar en la gente y compartirse con ellos libremente. Le encanta la variedad de personas y actividades. La amabilidad y el entusiasmo son parte de su arsenal para el éxito. El motivar a otros con sus visiones e ideas es muy satisfactorio.
</p>
<p>
El hablar con los demás es su forma de aprender y enseñar. El ser de gran valor para los demás y valorarlos es primordial. Rara vez se siente derrotado; ve un gran potencial en la mayoría de las situaciones. Tiene la capacidad de ayudar a la gente a sentirse optimista y valiente. Su compromiso con los demás y consigo mismo es un estímulo para los demás. Es importante para usted ver a la gente y las cosas como realmente son.
</p>

<h3>INNOVADORES - Su valor dominante</h3>
<p>
Los innovadores son los creadores de soluciones en este mundo. Siempre pueden pensar en algo diferente. "Tiene que haber una manera mejor", es más que su lema; los “fragmentos” del ROM-- (memoria para leer solamente) son pre-programados en el receptor reticular de su cerebro. Los innovadores disfrutan el reto de un problema, especialmente a gran escala. Resuelven los problemas. Les encanta tanto esto, que odian quedarse con una solución. "Tiene que haber una manera mejor." La declaración: "si no está roto, no pierdas tiempo", no tiene lugar en su mente.
</p>
<p>
El poder de los innovadores proviene de su falta de voluntad para aceptar que hay algo que no puede entender. Están dispuestos a poner su ego en peligro una y otra vez, apostando su reputación de que van a ser capaces de llegar a un plan, una solución o una idea que va a hacer las cosas mejor.
</p>
<p>
Además, para completar, los innovadores les encanta desarrollar sistemas que aseguran la continuación de sus planes. Estos sistemas son los “monumentos” del innovador tanto como una pirámide es el monumento del constructor.
</p>
<p>
Cuando todos alrededor están asustados, el constructor gritando dando órdenes, el comerciante quejándose o vendiendo, y el banquero predicando justicia o paciencia, el innovador tiende a aislarse, agarrar una computadora o un pizarra limpia y se prepara para trabajar. 
</p>
<p>
Son altamente creativos en resolver problemas. Son capaces de llegar a las cosas desde un ángulo nuevo añadiendo elementos, sistemas o tecnologías que nadie más ha pensado añadir a la mezcla con el fin de lograr una verdadera innovación.
</p>
<p>
Mientras que las soluciones y sistemas que los innovadores establecen pueden ser bien fundamentados y prácticos en su concepto, los propios inventores, no son muy prácticos en su enfoque. No son buenos ejecutores porque quieren perfeccionar todo antes de actuar. El actuar significa inventar algo más; retrasando de nuevo la implementación de sus sistemas o nuevos productos.
</p>
<p>
A los innovadores les encanta tener gente alrededor, pero no para construir un equipo. Este es un público para su creatividad y una manera de rebotar ideas alrededor. Les encanta explorar sus últimas ideas con la gente. Ellos están tan fascinados con cada solución concebida personalmente como "potencial" que quieren que todos las aprecien todas con cada sutileza. Cuando ya han convencido a su público con esta nueva y brillante solución, les gusta añadir: "Espera, ¿qué pasaría si ...?"
</p>
<p>
Los innovadores pueden crear problemas solo por el placer de resolverlos. Los constructores se apoyan en los innovadores pero por lo general los dejan esperando en el corredor, a la mitad de una explicación acerca de una posible solución. Los banqueros alimentan retos a un propuesta hecha por un innovador, manteniéndolo cargado con nuevos problemas que enfrentar. Los comerciantes escuchan atentamente al innovador y se apoyan en ellos constantemente. Esto hace que un innovador se sienta “escuchado”. Ya que un comerciante nunca dejaría a un innovador parado en el corredor, se convierten en grandes amigos. Sus reuniones para compartir ideas son interminables. Si no se controlan pueden convertirse en un conducto sin fin de recursos de la empresa. 
</p>
<p>
Los innovadores son invaluables. Crean nuevos productos y sistemas para resolver los problemas administrativos y de producción. Nunca son derrotados y son capaces de llegar a nuevas estrategias y enfoques cuando todo el mundo se ha rendido. Se gozan tanto con esto, que odian la toma de decisiones, y en ocasiones añaden confusión al sistema inventando una manera mejor. Nada es lo suficientemente bueno, especialmente si fue concebido por otra persona, o si la solución ha estado en vigor durante unos meses no más.
</p>
<p>
El innovador empresario puede tener un gran éxito. Son personas que crean la “trampa” que lleva el mundo a su puerta. El problema es, que realmente creen que el mundo llegará a su puerta. Y puesto que aman el resolver problemas más que el proceso de construcción y venta de algo, tan pronto como un producto o servicio se implementa, están listos para crear otra solución mejor.
</p>


<h3>Desafíos de los innovadores</h3>
<p>
El pecado mortal de los innovadores es su desesperada necesidad del perfeccionamiento de un producto o sistema mucho después de haber servido su propósito. Se involucran en una solución específica o un problema mucho después de que ha producido una solución al problema.
</p>
<p>
Los innovadores activos necesitan un constructor en ellos o alrededor de ellos para que se decidan en una solución y la complete. Necesitan comerciantes para que realmente hagan que otros entiendan el valor de la "solución" que están vendiendo. Y necesitan banqueros que los apoyen, completando los detalles, ayudar a controlar los costos y obtener beneficios.
</p>
<p>
Los innovadores pueden ser personas muy obstinadas. Se niegan a moverse hasta que sienten que sus soluciones son perfectas. Y puesto que también valoran la evaluación, no sólo crean una nueva solución, sino que quieren evaluar su idoneidad, su corrección, su inteligencia y su perfección. De hecho, están seguros de que nadie más podía entender toda la sutileza y complejidad de su solución, de manera que no les gusta que los demás entren y exploren, por temor a que puedan haber pasado por alto un pequeño detalle.
</p>
<p>
El tomar decisiones para un innovador se convierte en una maratón añadiendo más a la ecuación, probando sus ramificaciones y anunciando: "Puedo ver cómo esto encaja." Entonces, cuando todo el mundo considera que la decisión está hecha, el innovador puede anunciar otras consideraciones que deben ser exploradas antes de la decisión final. Los innovadores son irritantes para los comerciantes y constructores que quieren seguir adelante.
</p>
<p>
Los innovadores son muy receptivos y abiertos al cambio, si ven y comprenden que provocan tensión. Están dispuestos a actuar diferente si ven cómo las medidas producen mejores resultados. Por este motivo, los innovadores y los constructores son compañeros de equipo maravillosos. Tienden a mantener un buen equilibrio en la acción en vez de la perfección.
</p>
<p>
La adaptación de los innovadores también es muy apreciada por los demás compañeros. Los innovadores no hacen distinción entre los problemas que se les pide que resolver. El solucionar es suficiente para hacerlos felices. Los innovadores son elementos clave en cada situación de negocios donde está ocurriendo un cambio. Su ingenio aporta nuevos métodos, herramientas, sistemas y mecanismos para aportar. Los innovadores siempre están abriendo nuevas oportunidades para el éxito.
</p>
<p>
Lo contrario también es cierto para muchos innovadores. Tienden a ser muy hábiles en la resolución de ciertos tipos de problemas. Por ejemplo, los ingenieros innovadores, pueden ser genios en el diseño de un nuevo circuito electrónico, pero distraídos cuando se trata de dar soluciones de negocios para sus departamentos.
</p>
<p>
Cuando los innovadores están fuera de control, se ponen tercos. Buscan otra manera de darle la vuelta a para que reconsidere. Reconsideran, se ponen a la defensiva y resisten el tomar una decisión. Pueden añadir otro número a la ecuación para confundirle. Niegan los hechos, cuestionan la validez o pertinencia de los datos existentes, y se niegan a tomar medidas, o a veces simplemente se dan por vencidos lo cual puede enfurecer otros grupos energéticos esenciales.
</p>
<p>
Cuando todo falla, los innovadores recurren al interrogatorio. Les gusta confundir el problema con preguntas secundarias y tangentes. Ellos saben cómo hacer preguntas, lo cual son acusaciones, más que preguntas. Saben cómo hacer que otros se sientan mal, haciendo preguntas que avergüenzan y hacen sentir mal, demostrando la ignorancia de los demás, o simplemente hacen que los demás se sientan ignorantes, confusos o inadecuados. La Interrogación es una potente estrategia; como la intimidación de los constructores, el de víctima "pobre de mí", de los comerciantes, o la posición distante resistente, y de crítica de los banqueros.
</p>

<h3>Innovador/comerciante</h3>
<p>
Los innovadores/comerciantes primero que todo, resuelven problemas y rompecabezas constantemente pero trabajan bien con los demás. Ven el panorama y dirigen con creatividad. El poder de un innovador/comerciante es derivada de una creatividad incansable. Esto crea un sentido profundo de optimismo. Si el sueño o visión del comerciante, no se está cumpliendo, el innovador entra en juego con soluciones apropiadas. Cuando las soluciones del innovador no se alinean perfectamente con la del comerciante, una nueva visión es hábilmente creada, lo cual puede abarcar soluciones y sistemas que el innovador ha concebido, y que todavía puede cumplir con todos los valores básicos previstos y deseados por el innovador/comerciante.
</p>
<p>
Esta constante creatividad hace que el innovador/comerciante un recurso muy valioso, en compañías donde la tecnología está  cambiando constantemente, o la competencia hace nuevas demandas en el mercado y los sistemas de ventas de la compañía. El innovador/comerciante, es escogido a menudo como representante de ventas. Ellos pueden vender cualquier cosa, ya que construyen relaciones, comprenden sus productos y saben cómo encajan en una amplia gama de necesidades de los clientes. 
</p>
<p>
El innovador/comerciante, no se deja intimidar por problemas de ninguna magnitud. De hecho, su estima personal se basa en el tamaño, la opresión y el valor de los problemas que tiene ante él. Busca oportunidades para demostrar su destreza en la resolución de problemas, o transformar relaciones difíciles que están en riesgo.
</p>
<p>
Al innovador/comerciante le gusta ser necesario, porque da soluciones, su tecnología, su humanidad, creatividad y amor. Esta necesidad, lo impulsa a alcanzar relaciones basadas en la visión y orientadas hacia el crecimiento, y desarrollar productos o sistemas que mejoren la riqueza de las relaciones formadas.
</p>
<p>
El innovador/comerciante va a donde sea, hace lo que sea, y lo hace para cualquier persona. Aún, es capaz de funcionar por largo tiempo aisladamente, siempre y cuando no falte la conexión y valor personal en su lado de comerciante, un valor primario. Al innovador, le absorbe solucionar problemas de cualquier trabajo; esto lo hace  por un tiempo, con tal de poder observar la evaluación y el aprecio de otros de su trabajo, una vez terminado. 
</p>
<p>
A pesar de que el innovador/comerciante es  independiente, desarrolla un ambiente de equipo. Son excelentes en construir equipos y grandes maestros. Son maestros de contexto y relevancia. No sólo son buenos, en la planificación de un programa de estudios basado en la lógica y lo razonable, sino que consideran el panorama. Prestan atención a su entorno, el entretenimiento, los niveles de energía y la motivación. Les encanta crear situaciones de aprendizaje estimuladoras e interesantes.
</p>
<p>
Un innovador/comerciante puede ser una persona de ventas increíble, o un poderoso empresario si se equilibra con suficiente características de constructor, para cumplir la tarea en cuestión. 
</p>
<p>
Sin embargo, el innovador/comerciante sin restricciones, puede ser improductivo para él mismo y la sociedad. Se pueden perder en el éxtasis explorando el panorama. El comerciante está constantemente pensando en nuevos proyectos y aventuras, y el innovador se nutre de estos desafíos.
</p>
<p>
A los innovadores no les gusta terminar los problemas. La resolución de problemas es su forma más elevada de placer; podría decirse que valoran este juego, por encima del sexo y ver películas. Así que, a un innovador/comerciante le gusta la novedad, y todo lo que se revolvió antes, “en mente”.  Si es un innovador/mercante, asegúrese de rodearse con constructores de alta energía, que lo empujen a “terminarlo”, y unos cuantos banqueros balanceados, que le harán preguntas que no querrá hacerse.
</p>
<p>
El innovador/comerciante está constantemente atraído de nuevas ideas, tales como el mejorar la interacción del trabajo en equipo y el ambiente.  Sin embargo, el concepto y estrategia de crearlo, es más importante que la aplicación en sí, en su lado de innovador.
</p>
<p>
Como líderes de empresas; los  innovadores/comerciantes nunca paran de vender ni de resolver el futuro. Se venden a sí mismos y a otros, aún cuando ya todos han aceptado. No son detallistas, y como la siguiente idea nueva les toma el 110% de toda su energía, las cosas se pueden quedar a menudo en el aire. El comerciante/innovador tiende a mantener tanta energía a su alrededor, que puede atraer a otros. A los constructores y banqueros, también les gusta una relación simbiótica.
</p>
<p>
Pero los innovadores/comerciantes pueden crear tal desilusión, como tengan oportunidad. Nadie puede ganar trabajando con ellos por mucho tiempo, a menos que existan limitaciones significativas en el lugar, y un fuerte equipo de constructores y banqueros alrededor de ellos, para hacerlos cumplir. Si es un innovador/comerciante, y todavía está leyendo esto, debe tener un poco de constructor o banquero en usted. Asegúrese de nutrir esa parte en usted --¡AHORA!
</p>



