Ihrer Wesensenergie kommen von Wissen und Macht.</p>
                </div>
            </div>
            <div class="clearfix" id="topResults">
                <div class="checkOver">
                    <div id="congrats">
					<span>
                        <p>
                            Das CVI Assessment hat herausgefunden, dass Sie <strong class="qTitlew">BEWAHRER-ERBAUER</strong> sind.</p>
<p>
Was heißt das? Das heißt, dass Ihr vorrangiger Grundwert Bewahrer ist. Die Wesensenergie eines Bewahrers ist Wissen. Wissen ist, die Fakten zu kennen durch Forschung, Messung Nachweis und Aufzeichnungen. Sie sind getrieben, das "Was", "Wie" und "Warum" der Dinge zu verstehen. Ihr sekundärer Grundwert ist Erbauer.- Die Wesensenergie eines Erbauers ist Macht. Macht ist persönliche Energie, die investiert wird, um einen positiven Unterschied auszumachen. Sie schreiten permanent zur Tat, um Ergebnisse zu erzielen.  
</p>