Ihrer Wesensenergie kommen von Liebe und Wissen.</p>
                </div>
            </div>
            <div class="clearfix" id="topResults">
                <div class="checkOver">
                    <div id="congrats">
					<span>
                        <p>
                            Das CVI Assessment hat herausgefunden, dass Sie <strong class="qTitlew">KAUFMANN-BEWAHRER</strong> sind.</p>
<p>Was heißt das? Das heißt, Ihr primärer Grundwert ist Kaufmann- Die Wesensenergie eines Kaufmanns ist Liebe. Liebe in diesem Sinne ist auf eine inspirierte Vision, dessen was sein kann, hin arbeiten indem man die Grundwerte im eigenen Selbst und anderen nährt. Sie blühen auf beim Aufbauen von Beziehungen und beim Bereiten einer inspirierten Vision für diejenigen um Sie herum. Ihr sekundärer Grundwert ist Bewahrer- Die Wesensenergie eines Bewahrers ist Wissen. Wissen ist die Fakten zu kennen durch Forschung, Messung Nachweis und Aufzeichnungen. Sie sind getrieben, das "Was", "Wie" und "Warum" der Dinge zu verstehen.
</p>