Ihrer Wesensenergie kommen von Liebe und Weisheit.</p>
                </div>
            </div>
            <div class="clearfix" id="topResults">
                <div class="checkOver">
                    <div id="congrats">
					<span>
                        <p>
                            Das CVI Assessment hat herausgefunden, dass Sie <strong class="qTitlew">KAUFMANN-ERNEUERER</strong> sind.</p>

<p>Was heißt das? Das heißt, dass Ihre primärer Grundwert Kaufmann ist- Die Wesensenergie eines Kaufmanns ist Liebe. Liebe in diesem Sinne ist auf eine inspirierte Vision, dessen was sein kann, hin arbeiten indem man die Grundwerte im eigenen Selbst und anderen nährt. Sie blühen auf beim Schaffen von Beziehungen und beim Schaffen einer inspirierten Vision für diejenigen, die Sie umgeben. Ihr sekundärer Grundwert ist Erneuerer- Die Wesensenergie eines Erneuerers ist Weisheit. Weisheit ist die Fähigkeit, Dinge zu sehen, wie sie sind und zu erkennen, wie man damit umgeht. Sie schätzen Situationen akkurat ein und stellen Lösungen bereit.
</p>