Ihrer Wesensenergie kommen von Liebe und Macht.</p>
                </div>
            </div>
            <div class="clearfix" id="topResults">
                <div class="checkOver">
                    <div id="congrats">
					<span>
                        <p>
                            Das CVI Assessment hat herausgefunden, dass Sie <strong class="qTitlew">KAUFFRAU-ERBAUERIN</strong> sind.</p>

<p>Was heißt das? Das heißt, Ihr primärer Grundwert ist Kaufmann- Die Wesensenergie eines Kaufmanns ist Liebe. Liebe in diesem Sinne ist auf eine inspirierte Vision, dessen was sein kann, hin arbeiten indem man die Grundwerte im eigenen Selbst und anderen nährt. Sie blühen auf beim Aufbauen von Beziehungen und beim Bereiten einer inspirierten Vision für diejenigen um Sie herum.  Ihr sekundärer Grundwert ist Erbauer. Die Wesensenergie eines Erbauers ist Macht. Macht ist persönliche Energie, die investiert wird, um einen positiven Unterschied auszumachen. Sie schreiten permanent zur Tat, um Ergebnisse zu erzielen.
</p>