van jouw kernwaarde energie komt voort uit kracht en kennis.</p>
                </div>
            </div>
            <div class="clearfix" id="topResults">
                <div class="checkOver">
                    <div id="congrats">
                        <p> 
                            <b>#FirstName#</b>, het CVI assessment toont aan dat je een <strong class="qTitlew">
                                #DominantValues#</strong> bent.</p>
<p>
Wat betekent dit? Dit betekent dat jouw primaire kernwaarde BUILDER is - De  aan de kernwaarde BUILDER gekoppelde energie is kracht. Kracht is persoonlijke energie die geïnvesteerd wordt om een positief verschil te maken. Je onderneemt consequent actie om resultaten te verkrijgen. Jouw secundaire kernwaarde is BANKER - De aan de kernwaarde BANKER gekoppelde energie is Kennis. Kennis is het kennen van de feiten door middel van onderzoek, metingen, bewijzen en verslagen. Je bent gedreven het "wat", "hoe" en "waarom" van de dingen te begrijpen en te doorgronden.
</p>