de su energía derivada de sus valores primarios viene de Poder y Amor</p>
                </div>
            </div>
            <div class="clearfix" id="topResults">
                <div class="checkOver">
                    <div id="congrats">
					<span>
                        <p><b>#FirstName#</b>, el evaluador the IVP encontró que usted es a <strong class="qTitlew">Constructor-Comerciante</strong>.</p>

<p>
¿Qué significa eso? Significa que su valor primario es Constructor. --La energía derivada de su valor primario es el poder. El poder es una energía personal que se invierte para hacer cambios positivos. Toma medidas durables para obtener resultados.  Su segundo valor primario es Comerciante-- la energía que mueve al comerciante es el amor. El amor en el sentido que trabaja hacia una visión inspirada de lo que puede ser, fomentando los valores primarios en sí mismo como en otros. Desarrolla relaciones y provee una visión inspiradora a aquellos que le rodean. 
</p>