<div class="results clearfix"><a name="aWhoIAm" id="aWhoIAm"></a>
	<div class="imgRight">
		<img src="../CVIReportFiles/PCR_1200/images/WhoIAm.png"></img>
	</div>
	<h2>¿Quién soy?</h2>
    <p>
    Sus resultados indican que tiene tendencias a <strong class="qTitle">CONSTRUCTOR/COMERCIANTE</strong>.  Cuando entra a un sitio, de repente hay más energía de poder y amor. Usted es la presencia del poder del amor. Esa esa su misión, ser la presencia positiva del amor. Opera con  la pura capacidad intuitiva para ver lo que hay que hacer, sin necesidad de pensarlo para tomar una acción, y crear un resultado positivo. Esto se compensa con su capacidad intuitiva de ver quiénes son los demás y lo que necesitan, buscando maneras de nutrir y apoyar a otros, así como la necesidad de una nueva visión, inspiración y ánimo. Su más alta contribución puede ser hecha sólo en situaciones en las que hay un amor tangible, significativo y constante.
    </p>
    <p>
    Lo que usted es, a nivel bien profundo e innato de su naturaleza humana, es el elemento más importante en su vida. Lo que usted es, en este nivel profundo, es después de todo, lo único que realmente contribuye a este mundo. Es por medio de su asignación y opciones correctas, que usted puede hacer su más grande y alta contribución. Ésta es la misión universal de todo ser humano.
    </p>
    <p>
    Entre más aprenda acerca de quién es realmente, y cómo elevar su presencia en este mundo, mayor será su éxito, felicidad y eficacia en su vida.
    </p>
    <p>
    Su energía derivada de su valor primario de <strong class="qTitle">constructor</strong> se balancea con su valor secundario del <strong class="qTitle">comerciante</strong>. Sus acciones son rutinarias, casi iguales, guiadas por estas dos energías primarias. En momentos de angustia por lo general depende en las estrategias de conflicto de su energía dominante. En los conflictos menos críticos puede usar cualquiera de estas estrategias dada la situación.
    </p>

    <h3>Su energía única dominante de <strong class="qTitle">CONSTRUCTOR</strong> hace que dependa de  las siguientes estrategias, para el éxito y satisfacción.</h3>
    <p>
    Su valor primario es poder, la aplicación de la pura energía para lo bueno. Este conductor primario es apoyado por una gran fe en su capacidad para saber qué hacer; la fe de que sus acciones son para el bien, y que una vez que crea el cambio, sabrá qué hacer a continuación.
    </p>
    <p>
    El completar las tareas ahora, es un conductor primario para usted. Es práctico y dispuesto a enfrentar la verdad. Haga lo que haga, lo hace sin mucha vacilación. Está inclinado a terminar las cosas. Actúa tan pronto sabe qué tiene que hacer. Le gusta ser el dueño de cosas que son importantes para usted.
    </p>
    <p>
    Trabaja mejor, cuando tiene bastante espacio para decidir y actuar. Usted es fuertemente  auto-motivado. Le gusta trabajar con cosas que son reales y tangibles. Se valora por la energía que gasta en proyectos. Valora la franqueza.. El comenzar nuevos proyectos y empresas, le hacen feliz. 
    </p>
    <p>
    Le gusta poner las cosas en movimiento. Si puede, maneja las cosas una a la vez. Quiere que las cosas que hace, sean para hacer una cambio tangible. Le gusta poner a los demás a trabajar. Conocer el costo y la ganancia de todas las acciones es importante para usted. Le gusta trabajar y admira a otros que trabajan. Para usted es importante demostrar buenos resultados por la energía invertida.
    </p>
    <p>
    La gente trabaja más duro y más cosas suceden cuando usted prepara las pautas. Hay pocas situaciones en las que se siente inadecuado. Utiliza su poder físico y personal, para conseguir lo que desea.
    </p>

    <h3>Su segunda energía de <strong class="qTitle">COMERCIANTE</strong>, apoya su energía dominante primaria de <strong class="qTitle">CONSTRUCTOR</strong>.</h3>
    <p>
    Su segundo valor primario es el amor. El construir y sostener relaciones es central en su vida. Está constantemente trabajando para saber y comprender la verdad acerca de usted y otros. 
    </p>
    <p>
    Su valor fuerte de <strong class="qTitle">COMERCIANTE</strong>,  le da suficiente balance a su vida para aprender a cambiar su estrategia en tiempos de alta oportunidad, o durante conflictos, lo cual  contribuirá significativamente a su éxito.
    </p>
    <p>
    Le gusta tener una buena conexión entre lo que esta haciendo hoy y lo que ve en su futuro. No se siente bien cuando la gente que valora esta distante o en conflicto. Tiene un entusiasmo natural y le gusta estar en situaciones atractivas y llenas de energía. Le gusta recibir recompensas y reconocimiento por el tiempo y la energía gastada. No hay plan potencial, idea o posibilidad que se le pase. Una estrategia central para usted es trabajar eficazmente con otros. El ser reconocido como un amigo es importante para usted.  
    </p>
    <p>
    Le gusta trabajar, y a otros les gusta trabajar con usted. Comparte su conocimiento e información con otros; le gusta y otros lo aprecian. Es bueno en animar a otros a trabajar para y con usted. El obtener lo que desea de otros es una negociación suave y amistosa. El sentido de unidad con otros, le da confianza. El hacer presentaciones le da ánimo. Le gusta una nueva responsabilidad en su vida, y le gusta ser responsable de otros. Le gusta confiar en la gente y compartir con ellos libremente.  
    </p>
    <p>
    El encanto y el entusiasmo son parte de su arsenal para el éxito. El exceso de formalidad es aburrido y restrictivo. El motivar a los demás con su visión e ideas es muy satisfactorio. El hablar con los demás es su forma de aprender y enseñar. Algo nuevo e inspirador todos los días, es el sabor de su vida. Rara vez se siente derrotado; ve un gran potencial en la mayoría de las situaciones. Tiene la capacidad de ayudar a la gente a que se sienta optimista y valiente.
    </p>
    <p>
    Su compromiso con los demás y con su propia vida es un estímulo para los demás. Es importante para usted el ver a la gente y las cosas como realmente son.
    </p>

<h3>CONSTRUCTOR - Su energía dominante primaria</h3>
<p>
Si usted quiere que se haga algo en un negocio, asegúrese de dárselo a un constructor. Los Constructores son los "hacedores" del mundo; un porcentaje significativo de empresarios y líderes de negocios son los constructores, y sin ellos, poco se conseguiría. Si usted es un constructor tiene éxito porque hace las cosas. Sabe cómo actuar y obtener resultados. Toma  responsabilidad personal no pone excusas y generalmente es impaciente con los que lo hacen. Toma decisiones en el momento y le gusta así. Su enfoque es a corto plazo, y conducido por la sensación de logro en el momento. 
</p>
<p>
Los constructores tienen un impulso interno que les permite ser decisivos, pasar a través de obstáculos y tomar decisiones al instante, sin dudarlo. Ellos están constantemente soltando sus energías en un objetivo específico, y no están dispuestos a aceptar la derrota --al menos--, no con gracia. El impulso del constructor es ver un problema y solucionarlo de inmediato. No son grandes solucionadores de problemas. Ellos esperan que su energía y su trabajo sea la solución.
</p>
<p>
Los constructores son gente poderosa. Actúan desde su instinto y confían en su propio juicio explícitamente. Esto los hace muy decisivos y, puede ser muy intimidante para los demás. De hecho, la intimidación, a menudo, es inherentemente la forma principal del constructor, de conseguir el control en cualquier situación. Si el poder de su personalidad y capacidad de decisión, no es suficiente para mantener el control, pueden recurrir a la ira o la hostilidad. Cuando un constructor está fuera de control, la intimidación es una herramienta eficaz para recuperar la autoridad.
</p>
<p>
Los constructores pueden tomar la visión de los comerciantes, las soluciones de los innovadores, la información de los banqueros, y poner todo en acción. Los Constructores tienen el poder de hacer que algo suceda.
</p>
<p>
Es obvio por qué los constructores hacen buenos líderes empresariales. Los banqueros, comerciantes e innovadores que tienen fuertes características secundarias de constructor, también tienen éxito.
</p>


<h3>Los retos del constructor</h3>
<p>
La primera debilidad de los líderes constructores es que tienden a hacer todo, ellos mismos. No son eficaces en enseñar a otros, porque son demasiado impacientes. Los constructores están tan centrados en hacer las cosas de inmediato, que suelen crear un entorno de crisis. Ellos se mueven como bomberos, lo cual es útil, ya que su estilo administrativo puede crear un fuego tras otro.
</p>
<p>
Debido a la aparente solidez de los constructores, otros tienden a no oponerse a ellos, sobre todo, cuando el constructor es el jefe. Hay secretarias y contadores ejecutando pequeñas empresas, o incluso, los departamentos de grandes corporaciones, ya que las estrategias de constructor en estos empleados, les permite ejercer un control inadecuado.
</p>
<p>
Los constructores, no están muy sintonizados hacia las reacciones y necesidades de los demás. Los constructores no son grandes jugadores en equipo, ni sus puntos fuertes están en construir uno. Si un constructor es bueno en esto, es porque está usando la estrategia del comerciante en él (relacional) y la estrategia del innovador (soluciones), para llevar a cabo la formación de equipos en un "proyecto". Los constructores, se enfocan en  la construcción, de la misma manera que se enfocan en cualquier proyecto o tarea diaria del equipo: -- “empiecen, muevanse, manos a la obra, y no esperen a que alguien los motive a hacerlo”. 
</p>
<p>
Los constructores valoran la acción y los resultados, por encima de todos los demás factores. Su modo de enseñar a otros es sacar a la gente del camino, tomar la herramienta en sus propias manos, y decir: "Mira cómo lo hago." Luego, se van y esperan que su "estudiante" sea tan eficiente como el constructor. Esto deja al estudiante sintiéndose inadecuado y al constructor confundido del por qué esto es así. Si los constructores entendieran, que su modo de enseñanza no es la  mejor para el trabajo, la pérdida de energía y confusión, se podría evitar de ambos lados. Los constructores confunden a menudo el tomar una acción con el resultado. Aunque tienden a ser personas muy pragmáticas y orientadas a la conclusión, cuando se trata de su propio desempeño están tan centradas en adoptar medidas, que a menudo se les olvida cuál es su misión. A veces pierden de vista sus objetivos, cuando se presenta un problema.
</p>
<p>
El actuar es igual de bueno para los constructores, como el completar un proyecto. El dar una orden para hacer algo es el "resultado" de un constructor. Han experimentado su energía, disfrutaron del trabajo y se sienten cargados de nueva energía, listos para la siguiente tarea. Ellos tienden a pasar por alto el detalle, y con frecuencia le dan menos importancia a los resultados. Cuando se les da mucha información, es como una afrenta a sus capacidades, y son impacientes con los innovadores, que pasan razonando demasiado tiempo una situación. También pueden ver a los comerciantes como poco fiables.
</p>
<p>
Los Constructores son impacientes con el mundo. y en particular con los banqueros, los comerciantes y los innovadores. En otras palabras, ninguno de los valores o consideraciones de otros, son importantes para un constructor como los suyos propios, cuando están detrás de un resultado específico, o simplemente quiere tomar medidas.
</p>
<p>
El tiempo es siempre de suma importancia para un constructor. Debido a que los constructores consideran a los comerciantes "pesos ligeros" y "flojos", debido a que los comerciantes valoran las relaciones altamente, los constructores no son buenos para motivarlos. Esto conduce a menudo, a que el constructor crea que el comerciante está haciéndole perder su valioso tiempo.
</p>
<p>
Los constructores también tienen baja tolerancia para dar instrucciones. Son tan motivados y autosuficientes que dicha instrucción se siente como una pérdida. Además, ellos no saben cómo decirle a nadie, cómo hacer nada. Ellos prefieren hacerlo por sí mismos.
</p>
<p>
Los constructores disfrutan inmensamente a los innovadores, siempre y cuando el constructor sea el que manda. Los Innovadores dan a los constructores soluciones a los problemas, y los constructores son los mejores ejecutores alrededor. Esta relación alimenta las necesidades personales del constructor muy bien.
</p>
<p>
El acabar con relaciones es un pasatiempo de los constructores inmaduros, y no tienen problema, en volar las ideas o los sistemas que son demasiado cómodos, o simplemente hacer que le obedezcan. Ya que los banqueros son reacios al riesgo, desean conocer los hechos antes de proceder, y dudan con cada decisión; los constructores ven a los banqueros como paredes que necesitan ser echadas fuera del camino y confinados al "Cuartel".
</p>
<p></p>
<p>
A los constructores les gusta la acción, la actividad y la energía, y pueden sacrificar relaciones, eficacia y la estabilidad para justificar el resultado final que buscan.
</p>


<h3>Constructor/Comerciante</h3>
<p>
El constructor/comerciante está orientado a proyectos en equipo, orientado a resultados, y al mando aun de gente amable. Cuando la situación requiere a alguien a arremangarse y ponerse a trabajar manteniendo siempre las relaciones de alta calidad y la visión a largo plazo en mente, un constructor/comerciante tiene la mejor energía central para el trabajo. Si también se requiere decisión, energía, corazón, entusiasmo, fuerza, imparcialidad y espontaneidad, el constructor/comerciante es el mejor de todos.
</p>
<p>
Estas personas saben cómo trabajar y conseguir que otros trabajen con ellos. El constructor en ellos es un hacedor. Si hay demasiado trabajo para una sola persona, el comerciante en ellos motivará y enseñará a otros a unirse y funcionar bien. Esta valiosa combinación de acción alineada con la visión, la formación, los resultados y las relaciones sólidas crean una fuerza irresistible.
</p>
<p>
Su visión crea el entusiasmo mientras que su acción crea valor. Su enseñanza libera nueva energía y amplía capacidades, mientras que lo decisivo genera resultados finales. El cuidar de sus relaciones se basa en la confianza y la lealtad, y su perspectiva exige respeto. Su creatividad edifica aprecio y valor.
</p>
<p>
El constructor/comerciante no es bueno en aislarse; necesita las personas alrededor. El lado constructor requiere una persona para demostrar y mandar, mientras que el lado del comerciante necesita un público y alguien con quien compartir la visión y todos los éxitos y fracasos correspondientes. A los comerciantes también les gusta enseñar la visión y valor (que para ellos es parte de su construcción de monumentos) y continuamente se esfuerzan por construir relaciones de calidad que a su vez va crean relaciones nuevas, continuas. Si se requiere la construcción de un equipo, o la apertura de un nuevo territorio de ventas, o si se está lanzando una nueva empresa, un constructor/comerciante es el candidato más probable para tener éxito.
</p>
<p>
Sin embargo, el constructor/comerciante tiende a creer en su propio punto de vista y se enamora fácilmente con sus propias ideas. Pueden tomar acciones dramáticas que pueden dejar un rastro de arranques, fracasos y decepciones detrás de ellos. Crean un campo de rastrojo para los innovadores a la hora de la verdad, y un vacío sin fin de datos que solo un banquero corrige. El constructor/comerciante puede parecer a veces como dos personas en una. En un momento son halagos, bromas e inspirador, luego, sin pestañear, cambiar a fanfarronería. "Hazlo”, demandan.
</p>
<p>
Un constructor/comerciante es propenso a tomar una decisión rápida y establecer un curso de acción. Entonces, cuando es desafiado por su equipo, puede negar responsabilidad, cambiar de opinión, establecer un nuevo curso de acción, cargar el equipo exigiendo resultados, y tener una nueva idea con pocas palabras sin perder el ritmo.
</p>
<p>
El estar al lado de estas personas es explosivo y emocionante. Pero, si tiene un corazón débil, es posible que desee evitarlos de la misma manera que las personas con marcapasos evitan los microondas. Un constructor/comerciante fuerte es bueno para conseguir que otros hagan cosas que no les gusta hacer y hacerles creer que son felices haciéndolo. Los constructores/comerciantes son los mejores motivadores.
</p>

