van jouw kernwaarde energie komt voort uit kennis en kracht.</p>
                </div>
            </div>
            <div class="clearfix" id="topResults">
                <div class="checkOver">
                    <div id="congrats">
                        <p> 
                            <b>#FirstName#</b>, het CVI assessment toont aan dat je een <strong class="qTitlew">
                                #DominantValues#</strong> bent.</p>
<p>Wat betekent dit? Dit betekent dat jouw primaire kernwaarde BANKER is – De  aan de kernwaarde BANKER gekoppelde energie is kennis. Kennis is het kennen van de feiten door middel van onderzoek, metingen, bewijzen en verslagen. Jouw drive is om het "wat", "hoe" en "waarom" van de dingen uit te zoeken. Jouw secundaire kernwaarde is BUILDER - De  aan de kernwaarde BUILDER gekoppelde energie is kracht. Kracht is persoonlijke energie die geïnvesteerd wordt om een positief verschil te maken. Je onderneemt consequent actie om resultaten te verkrijgen.</p>