van jouw kernwaarde energie komt voort uit kennis en liefde.</p>
                </div>
            </div>
            <div class="clearfix" id="topResults">
                <div class="checkOver">
                    <div id="congrats">
                        <p> 
                            <b>#FirstName#</b>, het CVI assessment toont aan dat je een <strong class="qTitlew">
                                #DominantValues#</strong> bent.</p>
<p>
Wat betekent dit? Dit betekent dat jouw primaire kernwaarde BANKER is – De  aan de kernwaarde BANKER gekoppelde energie is kennis. Kennis is het kennen van de feiten door middel van onderzoek, metingen, bewijzen en verslagen. Jouw drive is om het "wat", "hoe" en "waarom" van de dingen uit te zoeken. Jouw secundaire kernwaarde is MERCHANT - De aan de kernwaarde MERCHANT gekoppelde energie is Liefde. Liefde in deze zin is het toewerken naar een geïnspireerde visie van wat kan worden, door het voeden van de kernwaarden in jezelf en in anderen. Je gedijt in het opbouwen van relaties en je houdt ervan om de mensen om je heen een geïnspireerde visie te geven.
</p>