van jouw kernwaarde energie komt voort uit kracht en liefde.</p>
                </div>
            </div>
            <div class="clearfix" id="topResults">
                <div class="checkOver">
                    <div id="congrats">
                        <p> 
                            <b>#FirstName#</b>, het CVI assessment toont aan dat je een <strong class="qTitlew">
                                #DominantValues#</strong> bent.</p>
								
<p>
Wat betekent dit? Dit betekent dat jouw primaire kernwaarde BUILDER is - De  aan de kernwaarde BUILDER gekoppelde energie is kracht. Kracht is persoonlijke energie die geïnvesteerd wordt om een positief verschil te maken. Je onderneemt consequent actie om resultaten te verkrijgen. Jouw secundaire kernwaarde is MERCHANT - De aan de kernwaarde MERCHANT gekoppelde energie is Liefde. Liefde in deze zin is het toewerken naar een geïnspireerde visie van wat kan worden, door het voeden van de kernwaarden in jezelf en in anderen. Je gedijt in het opbouwen van relaties en je houdt ervan om de mensen om je heen een geïnspireerde visie te geven.

</p>