<p>Was heißt das? Das heißt, dass Ihr vorrangiger Grundwert Bewahrer ist. Die Wesensenergie eines Bewahrers ist Wissen. Wissen ist, die Fakten zu kennen durch Forschung, Messung Nachweis und Aufzeichnungen. Sie sind getrieben, das "Was", "Wie" und "Warum" der Dinge zu verstehen. Ihr sekundärer Grundwert ist Erneuerer- Die Wesensenergie eines Erneuerers ist Weisheit. Weisheit ist die Fähigkeit, Dinge zu sehen, wie sie sind und zu erkennen, wie man damit umgeht. Sie schätzen Situationen akkurat ein und stellen Lösungen bereit.
</p>

