<div class="results clearfix"><a name="aWhoIAm" id="aWhoIAm"></a>
	<div class="imgRight">
		<img src="../CVIReportFiles/PCR_1200/images/WhoIAm.png"></img>
	</div>
		<h2>Wie ik ben</h2>
<p>
Jouw scores tonen aan dat je <strong class="qTitle">INNOVATOR / BANKER</strong> kwaliteiten hebt. Wanneer je een kamer binnenkomt is er plotseling meer wijsheid en kennis energie in die kamer. Je bent de aanwezigheid van goed geïnformeerde wijsheid. Dit is jouw opdracht, om de effectieve aanwezigheid van deskundige wijsheid te zijn. Je kijkt naar de omstandigheden en situaties om je heen door de ogen van compassie en rechtvaardigheid. Je opereert vanuit intuïtief en cognitief denken, je observeert de manier waarop de dingen zijn en beslist welke oplossingen, strategieën en tactieken het beste zijn. Dit wordt in evenwicht gehouden door je zuivere cognitieve capaciteit om feiten en informatie tot je te nemen. Je werkt aan  het creëren van standaarden, efficiëntie en hoe je verspilling van middelen kunt voorkomen. Jouw hoogste en beste bijdrage kan dan ook alleen in situaties waarin er een grote en constante behoefte is aan goed geïnformeerde wijsheid.
</p>
<p>
Wie je bent op het diepste niveau van je aangeboren menselijke natuur is het belangrijkste element in je leven. Wie je bent op dit diepe niveau, is immers je enige echte bijdrage aan deze wereld. Het is door juiste taakstelling en effectieve keuzes die je je hoogste en beste bijdrage laten leveren. Dit is de universele opdracht van alle mensen.
</p>
<p>
Hoe meer je leert over wie je werkelijk bent, en hoe je jouw aanwezigheid kunt optimaliseren in deze wereld, hoe groter je succes, geluk en effectiviteit in dit leven.
</p>
<p>
Jouw dominante <strong class="qTitle">INNOVATOR</strong> energiewaarde wordt in evenwicht gebracht door jouw secundaire <strong class="qTitle">BANKER</strong> kernwaarde. Jouw acties worden routinematig, bijna onbewust geleid door deze twee kernwaarde-energieën. In tijden van nood leun je meestal op de conflictstrategieën van je dominante kernwaarde. In minder kritische conflicten kun je één van beide conflictstrategieën gebruiken, afhankelijk van de situatie.
</p>


<h3>Jouw unieke dominante <strong class="qTitle">INNOVATOR</strong> kernwaarde zorgt ervoor dat je vertrouwen stelt in de volgende strategieën voor succes en voldoening.</h3>
<p>
Jouw hoeksteen kernwaarde energie is wijsheid. Begrip en mededogen staan centraal in jouw levensstrategie.
</p>
<p>
Strategisch denken is jouw sterke punt. Je ziet en begrijpt de relatieve waarde van mensen en dingen. Je bent er trots op dat je mensen en situaties kunt doorzien. Je observeert en meet consequent de waarde van mensen en dingen. Wanneer verschillende dingen kunnen worden samengebracht uit verschillende bronnen, dan zal je dat doen. Je streeft ernaar om mensen en dingen om goed met elkaar samen te laten werken. Je wilt graag een goede mix van mensen, activiteiten en dingen in je leven.
</p>
<p>
Jouw bereidheid om dingen tot een goed einde te brengen en ze uit te zitten is een belangrijke toevoeging. Je houdt ervan om te communiceren met beelden en beschrijvingen. Het uitvinden van nieuwe systemen, processen en dingen is puur plezier. Mensen kijken naar jou voor creatie-, en verbetering van de workflow en procedures. Je ziet altijd een andere manier om dingen samen te stellen Het vinden van de beste oplossing is één van je belangrijkste bijdragen. Snelle en slimme uitwisseling van ideeën is een persoonlijke vreugde en jouw favoriete manier van werken.
</p>
<p>
Je bent in staat om de manier waarop dingen in elkaar zitten te zien en te onderscheiden wat te doen. Je wordt gezien als een waardevolle bron om mensen naar de juiste ideeën en in de juiste richting te leiden. Je geeft leiding door het presenteren van intelligente alternatieven. Op dom of onlogisch handelen zal je niet gauw betrapt worden Je gebruikt alles wat je ter beschikking staat om aan de  gestelde eisen te voldoen. Je waardeert- en vertrouwt op je mentale vermogens. Het begrijpen van anderen en het samenwerken met hen is een belangrijk pluspunt van jou.
</p>


<h3>Jouw unieke secundaire <strong class="qTitle">BANKER</strong> kernwaarde ondersteunt jouw dominante <strong class="qTitle">INNOVATOR</strong> kernwaarde.</h3>
<p>
Jouw tweede kernwaarde energie is kennis, ondersteund door de sterke wens om gerechtigheid in de wereld te creëren.
</p>
<p>
Je wilt graag een voorgeschreven koers volgen, vooral wanneer je betrokken bent bij het vaststellen van deze koers. Je handelt graag in overeenstemming met specifieke kennis en historisch bewijs. De juiste informatie voor handen hebben is belangrijk voor je. Je doet wat je zegt dat je gaat doen. De betrouwbaarheid van jouw woorden en handelingen zijn essentieel voor je gevoel van eigenwaarde. Wanneer de situatie onoverzichtelijk wordt, kun je prikkelbaar worden.  Je omringt jezelf met feiten, cijfers en gegevens.
</p>
<p>
Je geniet ervan de bron van informatie en bewezen methodologie te zijn. Kennis van het verleden levert bewijs voor de toekomst. Je gelooft in het meten en in de presentatie van die meting en de meetgegevens als een effectieve leiderschapstool. Het hebben van alle informatie is voor jou belangrijk, zelfs de kleine details. Sociale structuur en de juiste maniertjes zijn goed voor de ziel. Je houdt ervan om systemen en processen soepel te laten verlopen. Je wilt graag de details van situaties en problemen begrijpen.
</p>
<p>
Nul verspilde beweging, nul verspilling van middelen, nul verspilde moeite; dit is wat je nastreeft. Je wilt graag anderen voorzien van ideeën en beproefde methodieken. Je streeft naar een strikte naleving van acties en woorden. Je wilt graag degene zijn die het allemaal weet; gelijk hebben en de mogelijkheid om dat te bewijzen is belangrijk voor je.
</p>



<h3>INNOVATOR- Jouw dominante kernwaarde</h3>
<p>
INNOVATORS zijn de scheppers van oplossingen in deze wereld. Ze kunnen altijd een andere aanpak bedenken. "Er moet een betere manier zijn," is meer dan hun motto; deze mindset zit voorgeprogrammeerd in ROM-chips in de reticulaire receptor in hun hersenen. INNOVATORS genieten van de uitdaging van een probleem, vooral op grote schaal. Ze zijn probleemoplossers. Ze genieten hier zozeer van dat ze er een hekel aan hebben om genoegen te nemen met slechts één oplossing - "Er moet een nog betere manier zijn." Het statement, "als het niet kapot is, repareer het dan niet" heeft geen plaats in hun bewustzijn.
</p>
<p>
De kracht van INNOVATORS komt van hun onwil om te accepteren dat er iets is dat ze niet kunnen oplossen. Ze zijn bereid om hun ego keer op keer in gevaar te brengen, waarbij ze hun reputatie dat ze altijd een plan, een oplossing, of een idee hebben dat dingen beter zal maken op het spel zetten.
</p>
<p>
Daarbovenop houden INNOVATORS van systemen die de voortzetting van hun plannen waarborgen. Deze systemen zijn "monumenten" van INNOVATOR-creativiteit net zoals een piramide het monument is van zijn bouwer.
</p>
<p>
Wanneer iedereen om hen heen in paniek is en de BUILDER orders schreeuwt, de MERCHANT weeklaagt of nog grotere ideeën verkoopt,  de BANKER geduld of rechtvaardigheid predikt, zal de INNOVATOR de neiging hebben om zich te isoleren, een computer of een whiteboard te pakken en aan het werk te gaan.
</p>
<p>
Ze zijn zeer creatief in hun benadering van het oplossen van problemen. Ze zijn altijd in staat de dingen vanuit een nieuwe invalshoek te benaderen door nieuwe elementen, systemen of technieken aan de mix toe te voegen waar niemand anders ooit aan heeft gedacht om zodoende een echte innovatie te realiseren.
</p>
<p>
Terwijl de oplossingen en systemen die INNOVATORS maken goed kunnen worden onderbouwd en praktisch van aard zijn, zijn INNOVATORS van zichzelf niet erg praktisch in hun aanpak. Ze zijn niet goed in het implementeren, omdat ze alles willen perfectioneren alvorens te handelen. In actie komen betekent voor hen op de proppen komen met een andere innovatie, de implementatie van hun systemen of nieuwe producten telkens opnieuw uitgesteld wordt.
</p>
<p>
INNOVATORS hebben graag mensen om zich heen, maar niet om redenen van teambuilding. Voor hen is dit een publiek voor hun creativiteit en een manier voor hen om nieuwe ideeën mee te klankborden. Ze houden ervan om hun nieuwste ideeën samen met anderen te onderzoeken. Ze zijn zo gefascineerd door iedere persoonlijk bedachte "potentiële" oplossing dat ze willen dat alles en iedereen elke subtiliteit ervan zal waarderen. En net wanneer ze hun publiek ervan overtuigd hebben dat deze nieuwe oplossing briljant is, houden ze ervan om toe te voegen: "Wacht, maar wat als we ...?'
</p>
<p>
INNOVATORS kunnen voor de lol problemen oproepen om deze vervolgens weer op te kunnen lossen. BUILDERS steunen op INNOVATORS maar laten ze vaak in de gang staan, terwijl ze nog halverwege een verklaring over een mogelijke oplossing zijn. BANKERS dagen voortdurend de voorgestelde strategieën van een INNOVATOR uit, waardoor de INNOVATOR constant met nieuwe problemen wordt geconfronteerd. MERCHANTS luisteren aandachtig naar INNOVATORS en steunen voortdurend op hen. Dit geeft de INNOVATOR het gevoel dat hij "gehoord" wordt. Aangezien de MERCHANT een INNOVATOR nooit in de gang zou laten staan, zijn INNOVATORS en MERCHANTS vaak goede vrienden. Hun brainstormsessies zijn vaak eindeloos. Wanneer dit ongecontroleerd voortduurt, kunnen ze daarmee in feite de bedrijfsmiddelen uitputten.
</p>
<p>
INNOVATORS zijn van onschatbare waarde. Ze creëren nieuwe producten en zetten systemen in elkaar om productie- en administratieve problemen op te lossen. Ze zijn nooit verslagen en zijn altijd in staat om met nieuwe strategieën en benaderingen op de proppen te komen als iedereen het allang heeft opgegeven. Ze genieten hier zo van dat ze een hekel hebben aan het nemen van beslissingen, en ze af en toe verwarring scheppen in het systeem om een betere manier uit te vinden. Niets is goed genoeg, vooral als het bedacht is door iemand anders, of wanneer de oplossingen al langer dan enkele maanden oud zijn.
</p>
<p>
Ondernemende INNOVATORS kunnen zeer succesvol zijn. Zij zijn de mensen die een product ontwikkelen die de wereld brengt aan hun voeten legt. Het probleem is dat ze ook écht geloven dat de hele wereld bij hen op de stoep zal staan. Aangezien ze het proces van het oplossen van problemen leuker vinden dan het proces van het daadwerkelijk iets bouwen en dit te verkopen zijn ze, zodra een product of dienst idee wordt uitgevoerd, alweer bezig om een andere, betere oplossing te vinden.
</p>


<h3>Uitdagingen voor de INNOVATOR</h3>
<p>
De meest dodelijke zonde van INNOVATORS is hun wanhopige behoefte om een product of systeem constant verder te perfectioneren, lang nadat deze al volledig zijn doel zou dienen. Ze raken verslaafd aan een specifieke oplossing of een interessant probleem lang nadat er een oplossing voor het probleem gevonden is.
</p>
<p>
Actieve INNOVATORS moeten een BUILDER in of om hen heen hebben om van hen te eisen dat zij zich beperken tot één oplossing en deze af te maken. Zij hebben ook behoefte aan MERCHANTS die anderen daadwerkelijk kunnen laten begrijpen wat de toegevoegde waarde is van de 'oplossing' die verkocht wordt. En zij hebben BANKERS nodig die hen helpen de details in te vullen en hen helpen de kosten te beheersen en winst te maken.
</p>
<p>
INNOVATORS kunnen erg koppig zijn. Ze kunnen onwrikbaar standhouden totdat ze het gevoel hebben dat hun oplossingen geperfectioneerd zijn. En omdat ze ook van evalueren houden, zullen ze niet alleen graag een nieuwe oplossing creëren, maar ze zijn ook degenen die de geschiktheid, de correctheid, de slimheid en de mate van perfectie beoordelen. In feite zijn ze er zeker van dat niemand anders ooit zou alle subtiliteit en complexiteit van hun oplossing kan begrijpen waardoor ze er een hekel aan hebben om anderen er echt in te laten duiken en het te laten onderzoeken, uit angst dat ze wellicht een aantal kleine details over het hoofd gezien hebben.
</p>
<p>
Beslissingen kunnen voor een INNOVATOR uitlopen op een marathon van het constant toevoegen van meer overwegingen, deze te testen op de gevolgen en dan aankondigen: "ik zie hoe dat zal passen." Dan, wanneer iedereen denkt dat de beslissing genomen is, kan de INNOVATOR weer nieuwe overwegingen inbrengen die eerst getest moeten worden voordat het finale besluit wordt genomen. INNOVATORS kunnen MERCHANTS en BUILDERS voortgang willen boeken flink ergeren.
</p>
<p>
INNOVATORS zijn erg ontvankelijk en staan open voor verandering wanneer ze de spanningen die ze veroorzaken begrijpen. Ze zijn bereid om zich anders te gedragen als maar kunnen inzien hoe dit verschil in gedrag gaat betere resultaten voortbrengt. Om deze reden kunnen INNOVATORS en BUILDERS geweldige teamgenoten zijn. Ze hebben beiden de neiging om een goede balans tussen actiegerichtheid en drang naar perfectie te behouden.
</p>
<p>
Het aanpassingsvermogen van INNOVATORS wordt ook zeer gewaardeerd door alle andere spelers. INNOVATORS maken weinig onderscheid tussen welke problemen ze gevraagd worden op te lossen. Het proces van het vinden van een oplossing is voldoende om hen gelukkig te maken. INNOVATORS zijn een belangrijk element in elke zakelijke situatie waarin verandering optreedt. Hun vindingrijkheid brengt nieuwe methoden, instrumenten, systemen en mechanismen voort. INNOVATORS openen altijd nieuwe wegen voor succes.
</p>
<p>
Een omgekeerde inclinatie is ook waar voor vele INNOVATORS. Ze hebben de neiging om zeer bedreven te zijn  in het oplossen van bepaalde typen problemen. INNOVATOR-ingenieurs, bijvoorbeeld, zijn vaak genieën in het ontwerpen van een nieuw elektronisch circuit, maar gedragen zich meer als verstrooide professoren als het gaat om de ontwikkeling van zakelijke oplossingen voor hun afdeling.
</p>
<p>
Als INNOVATORS niet aangestuurd worden, worden ze koppig. Ze zoeken naar wegen zodat ze om je heen kunnen  gaan of om je tot andere gedachten te brengen. Ze bedenken zich en kunnen in de verdediging gaan en verzetten zich tegen een beslissing. Zij kunnen een nieuw elementje aan de vergelijking toevoegen om je te verwarren. Zij ontkennen feiten, betwisten de geldigheid of de relevantie van bestaande gegevens en weigeren om actie te ondernemen. Soms gooien ze gewoon het bijltje erbij neer, waardoor ze andere kern energieën weer woedend maken.
</p>
<p>
Wanneer al het andere faalt, nemen INNOVATORS toevlucht tot verhoor. Ze vinden het leuk om een kwestie te verwarren met niet ter zake doende- of zijdelingse vragen. Ze weten hoe ze vragen moeten stellen die meer als beschuldigingen klinken dan als vragen. Ze weten hoe ze andere mensen zo onder de huid kunnen kruipen door vragen te stellen die schaamte en verlegenheid voorbij gaan, dat ze de onwetendheid van anderen te laten zien, of anderen zich onwetend, verward of ontoereikend laten voelen. Ondervraging is net zo'n krachtige strategie als de intimidatie van de BUILDERS, de "arme ik" slachtofferrol van MERCHANTS, of de afstandelijke, opstandige, veroordelende stellingname van BANKERS.
</p>


<h3>INNOVATOR / BANKERS</h3>
<p>
INNOVATOR / BANKERS leiden door creatieve oplossingen, zorgvuldige analyse, feiten, gegevens, vast werk en helder denken. INNOVATOR / BANKERS zijn rationeel, werken vanuit feiten, bewijsbare systemen en logische gevolgtrekkingen. Deze kernwaarde energie kan een situatie snel beoordelen en met meerdere oplossingen of systemen komen om de gestelde doelen te ondersteunen. Eenmaal bedacht, worden de ideeën geanalyseerd, georganiseerd, op papier bewezen en geperfectioneerd in de documentatie.
</p>
<p>
Elk bedrijf dat creatieve oplossingen nodig heeft in een veeleisende, praktische situatie zal de bijdragen van een INNOVATOR / BANKER weten te waarderen. Wanneer de situatie vraagt om het terugbrengen van het aantal goede concepten om te ontwerpen, en vervolgens het terugdringen van documentatie en kwaliteits-controle, dan wordt de  INNOVATOR / BANKER onvervangbaar.
</p>
<p>
De kracht van INNOVATOR / BANKERS op het gebied van product of systeemontwerp is het tegenovergestelde van  de sterke punten van de MERCHANT / BANKER in riskante situaties. De BANKER / INNOVATOR neigt ernaar om zorgvuldig de technologische- of systematische horizon te verruimen. De INNOVATOR probeert het best mogelijke eindproduct te realiseren, terwijl de BANKER, de andere helft van de kernwaarde, zich voortdurend zorgen maakt over de details
</p>
<p>
INNOVATOR / BANKERS, daarom zijn de meest waarschijnlijke kernwaardes die de grenzen van het nieuwe product of de ontwikkeling van het systeem opzoeken en verruimen, waarbij ze met echte innovaties die echt werken op de proppen komen. Er is voor een technisch ontwerpteam niets waardevoller dan onbeperkte innovatie in die in evenwicht gehouden wordt door het vermogen om dergelijke innovaties tot in de perfectie te ontwerpen en te eindigen met documentatie die zowel door de productie- en testafdeling alsook door de afdeling kwaliteitszorg gebruikt wordt.
</p>
<p>
Het is waarschijnlijk dat BANKER / INNOVATORS het systeem van calls en puts ontwikkeld heeft in de aandelenhandel. Dit is een goed voorbeeld van innovatie in het belang van risico-verminderring.
</p>
<p>
INNOVATOR / BANKERS echter, hebben het moeilijk als ze beslissingen moeten nemen. 'Nee' zeggen zonder na te denken is niet het maken van een beslissing. Informatie bewijst dat er nieuwe oplossingen nodig zijn, en nieuwe oplossingen kunnen alleen gevalideerd worden door het verzamelen van verdere informatie, waardoor het proces in een eindeloze lus beland. Wanneer je INNOVATOR / BANKER bent én president van een bedrijf (of het hoofd van een afdeling), dan is jouw weg naar succes het aantrekken van MERCHANTS en BUILDERS met persoonlijkheden die sterk genoeg zijn om op eigen gezag te handelen en die niet wachten tot jij een beslissing genomen hebt. Zij moeten ook bereid zijn om je te vertellen dat een deel van de informatie waarvan jij denkt dat die "noodzakelijk" is feitelijk niet nodig is om de dingen gedaan te krijgen.
</p>
<p>
Wanneer INNOVATOR / BANKERS in hun "vandaag geen beslissing" houding volharden, is er weinig kans dat je hen hieruit krijgt. De INNOVATOR-kant isoleert zich koppig
 van anderen tot "ik dit heb opgelost," en de BANKER-kant begint een langdurig proces van het verzamelen en analyseren van data die "alleen ik kan managen." Deze houding is vrijwel ondoordringbaar, tenzij een moedige BUILDER het risico op zich neemt en een ongeautoriseerde actie uitvoert, en de MERCHANT in het tumult dat hiervan het gevolg is probeert iedereen gefocust te houden op de corporate doelstellingen.
</p>
<p>
Het is praktisch onmogelijk om te proberen een INNOVATOR / BANKER een spontane actie te laten plegen. Zelfs MERCHANTS zien dat niet gebeuren, in ieder geval niet vaker dan één keer in een mensenleven.
</p>
