<div class="results clearfix"><a name="aWhoIAm" id="aWhoIAm"></a>
	<div class="imgRight">
		<img src="../CVIReportFiles/PCR_1200/images/WhoIAm.png"></img>
	</div>
	<h2>Wie ik ben</h2>
<p>Jouw scores tonen aan dat je <strong class="qTitle">MERCHANT/INNOVATOR</strong> kwaliteiten hebt. 
Wanneer je een kamer binnenkomt is er plotseling meer liefde en wijsheid energie in die ruimte. 
Je bent de aanwezigheid van wijze liefde. Dit is jouw opdracht, om de effectieve aanwezigheid van wijze liefde te zijn. Je kijkt naar de omstandigheden en situaties om je heen door de ogen van waarheid en compassie. Je opereert vanuit de rede en het cognitieve denken, om uit te zoeken wie de mensen echt zijn, en wat ze nodig hebben en willen. Je richt je op het voeden en ondersteunen van anderen en jezelf. Dit wordt in evenwicht gehouden door jouw intuïtieve redenatievermogen om te observeren wat er werkelijk om je heen gebeurt. Je observeert situaties totdat je ze werkelijk begrijpt, waarna je gaat toewerken naar de juiste reacties, strategieën en oplossingen. Jouw hoogste en beste bijdrage kan dan ook alleen geleverd worden in situaties waarin er een grote en constante behoefte is aan wijze liefde.
</p>
<p>
Wie je bent op het diepste niveau van je aangeboren menselijke natuur is het belangrijkste element in je leven. Wie je bent op dit diepe niveau, is immers je enige echte bijdrage aan deze wereld. Het is door juiste taakstelling en het maken van effectieve keuzes dat je je hoogste en beste bijdrage kunt leveren. Dit is de universele opdracht van alle mensen.
</p>
<p>
Hoe meer je leert over wie je werkelijk bent en hoe je jouw aanwezigheid kunt optimaliseren in deze wereld, hoe groter je succes, geluk en effectiviteit in dit leven.
</p>

<p>
Jouw dominante <strong class="qTitle">MERCHANT</strong> energiewaarde wordt in evenwicht gebracht door jouw secundaire <strong class="qTitle">INNOVATOR</strong> kernwaarde. 
Jouw acties worden routinematig, bijna onbewust geleid door deze twee kernwaarde-energieën. 
In tijden van nood of spanning leun je meestal op de conflictstrategieën van je dominante kernwaarde. In minder kritische conflicten kun je één van beide conflictstrategieën gebruiken, afhankelijk van de situatie.
</p>

<h3>Jouw unieke dominante <strong class="qTitle">MERCHANT</strong> kernwaarde zorgt ervoor dat je vertrouwen stelt in de volgende strategieën voor succes en voldoening.</h3>
<p>
Jouw hoeksteen kernwaarde energie is liefde. Het opbouwen en onderhouden van relaties staat centraal in de strategie van jouw leven. Je bent voortdurend bezig om de waarheid over jezelf en anderen te weten en te begrijpen.
</p>
<p>
Je wilt graag een goed gevoel van verbondenheid tussen wat je vandaag doet en wat je voor de toekomst voorziet. Je houdt ervan om nieuwe mogelijkheden te ontdekken, 
en je bent hier consequent naar op zoek. Niets voelt goed wanneer de mensen die je waardeert ver van je af staan of wanneer je in conflict met hen bent. 
Je bent van nature enthousiast en verkeert graag in situaties die je volledig in beslag nemen en je energie geven. Geen potentieel plan, idee of mogelijkheid gaat aan jou voorbij. 
Effectief samenwerken met anderen is voor jou een kernstrategie. Je deelt je kennis en informatie met anderen; jij geniet ervan en anderen waarderen het.
</p>
<p>
Je motiveert anderen om voor- en met je samen te werken en daar ben je goed in. Het zorgvuldig kiezen van je woorden werkt goed voor je. 
Een gevoel van saamhorigheid met mensen geeft je vertrouwen. Je houdt van een nieuwe lading in je leven en je houdt ervan om de levens van anderen nieuwe betekenis te geven. 
Je houdt ervan om mensen te vertrouwen en om jezelf vrijelijk met hen te delen.  Je geniet van veel verschillende mensen en activiteiten. 
Charme en enthousiasme zijn een onderdeel van jouw arsenaal voor succes.
</p>
<p>
Te veel formaliteit is saai en restrictief. Vrije en open discussie is een belangrijk element in jouw stijl van leidinggeven. Het motiveren van anderen met jouw visie en ideeën ervaar je als zeer bevredigend. Praten met anderen is jouw manier om te leren en te onderwijzen. Iedere dag iets nieuws en inspirerends geeft je leven pit. Om van grote waarde te zijn voor anderen en de grote waarde in anderen te herkennen is voor jou van het grootste belang. Je bezit de vaardigheid om mensen te helpen zich hoopvol en moedig te voelen.
</p>
<p>
Het is belangrijk voor je om mensen en dingen te zien zoals ze werkelijk zijn.
</p>

<h3>Jouw unieke secundaire <strong class="qTitle">INNOVATOR</strong> kernwaarde ondersteunt jouw dominante <strong class="qTitle">MERCHANT</strong> kernwaarde.</h3>
<p>
Jouw tweede kernwaarde energie is wijsheid. Begrip, mededogen, compassie en oprechte betrokkenheid staan centraal in je levensstrategie.
</p>
<p>
Strategisch denken is jouw sterke punt. Je ziet en begrijpt de relatieve waarde van mensen en dingen. Ontwikkeling van effectieve reacties op situaties is één van jouw belangrijkste bijdragen.  Als verschillende onderdelen uit verschillende bronnen kunnen worden samengebracht, dan zal je dat doen. Je streeft ernaar om mensen en dingen  goed samen te laten werken. Je wilt graag een goede mix van mensen, activiteiten en dingen in je leven. Jouw bereidheid om zaken tot een goed einde te brengen en hierin te volharden is een belangrijke toevoeging.

</p>
<p>
Je houdt ervan om te communiceren met beelden en beschrijvingen. Mensen kijken naar jou voor creatie-, en de verbetering van de workflow en procedures. Je hebt scherpte en creativiteit in je denken. Je ziet altijd een andere manier om dingen samen te stellen.  Het is voor jou belangrijk om te observeren en te luisteren voordat je handelt. Het vinden van de beste oplossing is één van jouw belangrijkste bijdragen. Je wilt graag alle opties overwegen. 
</p>
<p>
Snelle en slimme uitwisseling van ideeën is een persoonlijke vreugde en jouw favoriete manier van werken. 
Je bent in staat om te zien hoe de dingen werkelijk zijn en je weet wat je eraan moet doen. Je wordt gezien als een waardevolle bron om mensen naar de juiste ideeën en in de juiste richting te leiden. 
Je geeft leiding door het presenteren van intelligente alternatieven. Op dom of onlogisch handelen zal je niet gauw betrapt worden. Je gebruikt alles wat je ter beschikking staat om aan de  gestelde eisen te voldoen. Je waardeert- en vertrouwt op je mentale vermogens.
</p>




<h3>MERCHANT-Jouw Dominante Kernwaarde</h3>
<p>
MERCHANTS zijn vaak uitzonderlijke teambuilders. Ze motiveren, zijn voortdurend enthousiast over nieuwe ideeën en vragen nooit of iets wel mogelijk is.  
Ze nemen elk idee over als een mogelijkheid. Feitelijk is het hebben van een idee al een reden tot een feestje en een beloning als het aan de MERCHANT lag. 
Zij geloven dat er niets gebeurt zonder een goed idee.
</p>
<p>
De kracht van een MERCHANT komt voort uit zijn bereidheid om na te denken over- en het in overweging nemen van de ene na de andere goede gedachte of idee. Ze denken wanneer ze spreken en, al pratend, kunnen ze hun visie veranderen en in real time aanpassen. Aangezien elk bedrijf is een voortdurend veranderend organisme is, zijn MERCHANTS  bronnen van onschatbare waarde.
</p>
<p>
Hun enthousiasme werkt aanstekelijk, en mensen werken beter wanneer ze opgevrolijkt worden. In tegenstelling tot de BUILDERS, ervaren MERCHANTS  weinig voldoening van hun eigen energie. MERCHANTS gedijen op het feit dat zij de wereld om hen heen aansteken met hun enthousiasme richting een gemeenschappelijke visie. Zij creëren niet alleen teams, maar inspireren, motiveren en leiden deze ook in de richting van echte (en soms ingebeelde) kansen.
</p>
<p>
MERCHANTS hebben ook een waardering voor cultuur, kunst, literatuur, de kwaliteit van de presentatie en esthetiek. Zonder een MERCHANT in een bedrijf, kan het werk leiden tot een afgrond van chaos wanneer een BUILDER commando’s uitdeelt vanaf een notitieblok, een BANKER vanaf spreadsheets en rapporten, of een INNOVATOR vanaf diagrammen en technische handleidingen.
</p>
<p>
MERCHANTS motiveren anderen, een eigenschap die van onschatbare waarde is in het bedrijfsleven.
</p>
<p>
MERCHANTS verkopen, ongeacht of zij betrokken zijn bij de verkoop als onderdeel van hun functieomschrijving. MERCHANTS verkopen en beloven net zoveel aan zichzelf als aan anderen. MERCHANTS zorgen voor hun vrienden en klanten. Ze koesteren langdurige relaties. In feite hebben ze de neiging om relaties meer te waarderen dan de resultaten.
</p>
<p>
Een ondernemer of bedrijfsleider die overwegend MERCHANT is, zal een ongelooflijke energie ontwikkelen en zal bijna onmiddellijk daarvoor beloond worden. Ze kunnen niet lang zonder enige vorm van beloning (persoonlijke feedback, geld, of de bevestiging van een idee) functioneren. Maar de beloning komt vaak voort uit vele verschillende richtingen en  hebben zelden betrekking op eigen lange-termijn visie van de MERCHANT. Een MERCHANT is volkomen bereid om zijn lange termijn visie zo vaak als nodig (en soms zelfs vaker dan nodig is) te herzien.
</p>
<p>
MERCHANTS krijgen resultaten, maar meestal indirect. MERCHANTS zijn degenen die anderen helpen de kansen te zien. MERCHANTS zien vooral kansen die nog niet helemaal zichtbaar zijn. 
MERCHANTS houden ervan zo vaak mogelijk iets nieuws te starten. Ze maken projecten af, omdat ze niemand willen teleurstellen en niet omdat ze zelf waarde hechten aan afronding en resultaten.
 In het spel zijn is wat goed voelt voor een MERCHANT.
</p>
<p>
Zakelijke leiders die voornamelijk MERCHANT zijn hebben de neiging om goed gediversifieerde bedrijven te bouwen. Er zijn maar weinig kansen die aan hen voorbij gaan. Zonder een BANKER  die hen op de nek zit om ze tegen te houden, kunnen ze roekeloos zijn. Het zou MERCHANTS ook helpen wanneer ze enige BUILDER kenmerken bezitten en ze wat INNOVATOR probleemoplossende- en strategievormende eigenschappen hebben. Zonder dit evenwicht, hebben ze de neiging om aan veel dingen te beginnen, maar slechts weinig dingen tot een goed einde te brengen, waarbij ze wel een geweldige tijd hebben maar achteraf weinig resultaat kunnen laten zien.
</p>
<p>
MERCHANTS handelen vanuit liefde, handelen met energie en gedijen op de opwinding en het enthousiasme. Ze hebben een hekel aan overbodigheid, vooral in hun eigen activiteitspatronen. Zij vinden het over het algemeen prettig in de gaten gehouden te worden wanneer ze presteren, een visie vormen, onderwijzen, of inspireren, maar ze hebben er een hekel aan wanneer ze worden beoordeeld, geëvalueerd, getest of bekritiseerd.
</p>
<p>
Omdat MERCHANTS boven alles waarde hechten aan visie en relaties, zien zij de toekomst al wanneer anderen nog vastzitten in het verleden of in de huidige crisis. Ze weten hoe ze hun visie kunnen verkopen aan anderen en hoe ze in anderen een enorme hoeveelheid energie kunnen creëren. En, in tegenstelling tot de mening van de BUILDERS, hebben MERCHANTS de neiging om heel realistisch zijn, waarbij zij het grootste deel van hun visie samenstellen uit de huidige situatie.
</p>
<p>
Hun extrapolaties zijn normaal gesproken los en zonder detail zodat BANKERS, iedere keer wanneer de MERCHANT weer een nieuwe visie heeft, ineenkrimpt en huivert. 
Maar INNOVATORS vinden het heerlijk om op te trekken met een MERCHANT omdat INNOVATORS ervan houden om een nieuw probleem op te lossen of een nieuwe oplossing te verkennen. 
Zij vullen de benodigde systemen en maken de stappen waarvan de MERCHANT slechts een vaag besef heeft en geven dan het plan door aan een BUILDER.
</p>



<h3>Uitdagingen voor de MERCHANT</h3>
<p>
MERCHANTS moeten echter het gevoel hebben dat hun bijdragen belangrijk en speciaal zijn. Zij kunnen te hoog van zichzelf denken en willen geloven dat iedereen van hen houdt. Wanneer ze dit niet geloven, krijgen ze niet veel gedaan. Ze kunnen een genot zijn om in de buurt te hebben, maar ze zijn niet gedreven om taken ook uit te voeren. MERCHANTS zijn geweldig starters maar zwakke finishers. Zonder een BUILDER in de buurt om dingen te laten gebeuren, en een BANKER om dingen in de hand te houden, zal een sterke MERCHANT voortdurend meer kansen creëren dan iemand kan opvolgen en tot een goed einde kan brengen.
</p>
<p>
MERCHANTS raken ook snel gefrustreerd en kunnen niet goed met afwijzing omgaan. INNOVATORS moeten MERCHANTS voortdurend helpen een nieuwe aanpak te zien, omdat MERCHANTS de neiging hebben om te denken dat “aardig gevonden te worden" het enig benodigde is. MERCHANTS ervaren angst wanneer ze het gevoel krijgen niet gewaardeerd te worden. Bijna alles wat een BUILDER of BANKER doet kan de MERCHANT het gevoel geven niet gewaardeerd te worden.
</p>
<p>
MERCHANTS slagen er vaak heel goed in hun team op te bouwen, maar waar ze te kort schieten is het machtigen van hun teamleden om de grillen van de MERCHANT en diens behoefte aan een constante stimulatie te beheersen. Om MERCHANTS een sterk bedrijf of afdeling te laten leiden, hebben zij iemand naast zich nodig die het recht en de bevoegdheid heeft om de baas in toom te houden. Ze hebben bevrediging nodig van hun voortdurende hang naar nieuwe dingen en stimulansen buiten de werkplek. "Get a life", zouden sommigen zeggen.
</p>
<p>
Wanneer je erin slaagt een MERCHANT te managen, dan is dat door het verkrijgen van diens loyaliteit en hun wens om jou te behagen in het belang van behoud van hun relatie met jou. Je kunt hen ook overtuigen door praktisch te zijn en hen de belofte voor te houden dat één van hun andere ideeën in de toekomst een rol zal gaan spelen.
</p>
<p>
Wanneer MERCHANTS het gevoel krijgen de controle kwijt te zijn, misbruikt of ondergewaardeerd te worden, hebben ze een aantal zeer effectieve strategieën voor het terugkrijgen 
van de controle. Ze jammeren, een geluid dat de aandacht en sympathie van alle andere MERCHANTS binnen gehoorsafstand oproept. 
Ze vleien, manipuleren en laten hun hoofd in schaamte hangen om een ander terug te doen trekken.
</p>
<p>
Als al het andere faalt, overdrijven MERCHANTS de kansen of veranderen ze van onderwerp van huidige prestaties naar visie op de toekomst. 
Wanneer je hen mishandelt (volgens hun maatstaven), kunnen zij je als minderwaardig bestempelen. Ze blijven verkopen en staan anderen niet toe te spreken. 
Ze zien er onschuldig uit, ze praten onschuldig en worden aangetrokken tot eenieder die ondersteunend kijkt of klinkt. 
Zij zullen proberen om je dood te knuffelen en je dan over te halen omdat het onderhouden van een relatie immers het hoogste goed is.
</p>
<p>
Als dat niet werkt, kunnen ze proberen om je te beschamen in verband met de manier waarop je ze behandeld, waardoor jij er, in de ogen van alle toeschouwers, uit ziet als de 'bad guy'. 
Ongelukkige MERCHANTS trekken een pruillip totdat iedereen toegeeft. Ze neigen ertoe de martelaar te spelen. Zij kennen de "arme ik" drama's van het leven zeer goed. 
Ze zijn geweldige acteurs. Je kunt de MERCHANTS in een basketbal team herkennen door hun succes in het krijgen van "aanvalsovertredingen” op hun tegenstanders te spotten.
</p>



<h3>Merchant/Innovators</h3>
<p>
MERCHANT / INNOVATORS leiden met een lange termijn visie, gecombineerd met creatieve oplossingen voor alle problemen. Ze bouwen teams en systemen. De MERCHANT / INNOVATOR ontleent zijn kracht aan een onuitputtelijke bron van creativiteit. Dit creëert een diep gevoel van optimisme. Als de droom van de MERCHANT niet wordt gerealiseerd, komt de INNOVATOR in hem op de proppen met passende oplossingen. Wanneer de oplossingen van de INNOVATOR niet perfect aansluiten bij de visie van de MERCHANT, wordt er behendig een nieuwe visie gevormd die de oplossingen en systemen bevat die de INNOVATOR heeft bedacht, terwijl alle fundamentele waarden zoals voorzien en gewenst door de MERCHANT / INNOVATOR nog steeds vervuld worden.
</p>
<p>
Deze constante creativiteit maakt de MERCHANT / INNOVATOR tot een bron van onschatbare waarde in die bedrijven waar technologieën snel veranderen of waar de concurrentie nieuwe eisen stelt aan de marketing- en salessystemen van het bedrijf. MERCHANT / INNOVATORS worden vaak ingezet als vertegenwoordigers. Ze kunnen alles verkopen, omdat ze relaties opbouwen, hun producten begrijpen en snappen hoe deze in te passen in een breed scala van behoeften van de klant.
</p>
<p>
MERCHANT / INNOVATORS worden niet afgeschrikt door eventuele problemen van welke omvang dan ook. feitelijk is hun gevoel van eigenwaarde vaak gebaseerd op de grootte, het gewicht en de waardigheid van de problemen die zij voor zich hebben. Zij zoeken naar mogelijkheden om hun kunsten in het oplossen van problemen of het omkeren van moeilijke relaties, die risico liepen te demonstreren.
</p>
<p>
MERCHANT / INNOVATORS willen graag nodig zijn, hetzij voor hun oplossingen en technologieën of vanwege hun menselijkheid, creativiteit en liefde. Deze onontkoombare drang om nodig te willen zijn drijft hen tot het realiseren van langdurige relaties en om producten en systemen te ontwikkelen die de levensduur van de gevormde relaties verzekeren.
</p>
<p>
MERCHANT / INNOVATORS zijn “gaan-overal-heen-en-doen-aan-alles-mee” type mensen. Ze staan voor alles open. Ze kunnen zelfs langere tijd functioneren in afgelegen, zo niet ietwat geïsoleerde situaties, zolang het gevoel van verbinding en eigenwaarde maar gewaarborgd is voor MERCHANT kant van de kernwaarde energie. Voor de INNOVATOR brengt het opgaan in de probleemoplossende aspecten van elke opdracht hem ver, zolang er nog maar gelegenheid is om anderen te observeren in de beoordeling van en het op waarde schatten van zijn werk wanneer het eenmaal klaar is. 
</p>
<p>
MERCHANT / INNOVATORS gedijen het best in een team, ondanks hun vermogen om onafhankelijk te opereren. Ze zijn uitstekende teambuilders en de beste docenten. Ze zijn niet alleen goed in het plannen van een curriculum en dit te baseren op logica en redelijkheid, maar zij besteden ook aandacht aan het milieu, entertainment, energieniveaus en motivatie wanneer zij spannende en uitdagende leersituaties creëren.
</p>
<p>
Een MERCHANT / INNOVATOR kan een ongelooflijk goede verkoper zijn of een sterke entrepreneur wanneer hij in balans gehouden wordt door net genoeg BUILDER kenmerken om daadwerkelijk de taak tot het einde toe af te maken.
</p>
<p>
Echter, wanneer MERCHANT / INNOVATORS ongebreideld hun gang kunnen gaan, kunnen zij onproductief voor zichzelf en de samenleving zijn. Ze kunnen als het ware verdwalen in de gelukzaligheid van het verkennen van het grotere plaatje. De MERCHANT denkt voortdurend aan nieuwe mogelijkheden voor projecten en nieuwe avonturen, en de INNOVATOR gedijt op dergelijke uitdagingen.
</p>
<p>
INNOVATORS hebben er een hekel aan om het proces van probleemoplossing te beëindigen. Het oplossen van problemen is de hoogste vorm van genot, misschien waarderen ze dit spel wel boven seks en films. De INNOVATOR / MERCHANT zorgt constant voor nieuwe uitdagingen en brengt alles in beroering totdat het "weer onder constructie is." Wanneer jij een MERCHANT / INNOVATOR bent, zorg er dan voor dat je jezelf omringt met sterke BUILDERS die je pushen naar "het gedaan krijgen van de taak," en een paar nuchtere BANKERS die je helpen jouw ideeën te onderbouwen door te vragen: "Meen je dat?"
</p>
<p>
MERCHANT / INNOVATORS zitten voortdurend gevangen in de verleiding van nieuwe ideeën, zoals het verbeteren van personeelssystemen. Echter, zijn aan de INNOVATOR kant het concept en de strategie belangrijker dan de uitvoering op zich.
</p>
<p>
MERCHANT / INNOVATORS kunnen net zo veel teleurstellingen als kansen creëren. Niemand heeft op langere termijn baat bij het samenwerken met hen, tenzij er belangrijke beperkingen aanwezig zijn en een sterk team van BUILDERS en BANKERS om deze beperkingen af te dwingen. Als je een MERCHANT / INNOVATOR bent en je dit leest, moet je gewoon een beetje de BUILDER of BANKER in je aanspreken. Zorg ervoor dat je dit deel van jezelf te voedt of jezelf omringt met dat type van de kernwaarde energie persoonlijkheid.
</p>
<p>
Als bedrijfsleiders, zullen MERCHANT / INNOVATORS nooit stoppen met het verkopen of het oplossen van de toekomst. Ze verkopen zichzelf en anderen zelfs wanneer iedereen al heeft ingestemd. Er kan weinig aandacht voor detail zijn, omdat het volgende nieuwe idee 110% van alle energie neemt en de dingen die er zijn blijven voortdurend in de lucht zweven. MERCHANT / INNOVATORS zijn in staat om zoveel energie op te werken dat ze daardoor anderen aantrekken. BUILDERS en BANKERS genieten van een symbiotische relatie met hen.
</p>


