Ihrer Wesensenergie kommen von Wissen und Liebe.</p>
                </div>
            </div>
            <div class="clearfix" id="topResults">
                <div class="checkOver">
                    <div id="congrats">
					<span>
                        <p>
                            Das CVI Assessment hat ergeben, dass Sie <strong class="qTitlew">BEWAHRER-KAUFMANN</strong> sind.</p>

<p>Was heißt das? Das heißt, dass Ihr vorrangiger Grundwert Bewahrer ist. Die Wesensenergie eines Bewahrers ist Wissen. Wissen ist, die Fakten zu kennen durch Forschung, Messung Nachweis und Aufzeichnungen. Sie sind getrieben, das "Was", "Wie" und "Warum" der Dinge zu verstehen. Ihr sekundärer Grundwert ist Kaufmann. Die Wesensenergie eines Kaufmanns ist Liebe. Liebe in diesem Sinne ist in Richtung einer inspirierten Vision dessen, was sein kann, zu arbeiten indem man die Grundwerte in einem selbst und anderen nährt. Sie blühen auf beim Herstellen von Beziehungen und Bereitstellen einer inspirierten Vision für andere um Sie herum.
</p>