Ihrer Wesensenergie kommen von Macht und Wissen.</p>
                </div>
            </div>
            <div class="clearfix" id="topResults">
                <div class="checkOver">
                    <div id="congrats">
					<span>
                        <p>
                            Das CVI Assessment hat herausgefunden, dass Sie <strong class="qTitlew">ERBAUER-BEWAHRER</strong> sind.</p>

<p>Was heißt das? Das heißt, Ihr primärer Grundwert ist Erbauer.-Die Wesensenergie eines Erbauers ist Macht. Macht ist persönliche Energie, die investiert wird, um einen positiven Unterschied auszumachen. Sie schreiten permanent zur Tat, um Ergebnisse zu erzielen.  Ihr sekundärer Grundwert ist Bewahrer- Die Wesensenergie eines Bewahrers ist Wissen. Wissen ist die Fakten zu kennen durch Forschung, Messung Nachweis und Aufzeichnungen. Sie sind getrieben, das "Was", "Wie" und "Warum" der Dinge zu verstehen.
</p>