Ihrer Wesensenergie kommen von Weisheit und Macht.</p>
                </div>
            </div>
            <div class="clearfix" id="topResults">
                <div class="checkOver">
                    <div id="congrats">
					<span>
                        <p>
                            Das CVI Assessment hat herausgefunden, dass Sie <strong class="qTitlew">ERNEUERER-ERBAUER</strong> sind.</p>

<p>Was bedeutet das? Ihr vorrangiger Grundwert ist Erneuerer. Die Wesensenergie eines Erneuerers ist Weisheit. Weisheit ist die Fähigkeit, Dinge zu sehen, wie sie sind und festzustellen, wie man damit umgeht. Sie schätzen Situationen zutreffend ein und sorgen für Lösungen. Ihr sekundärer Grundwert  ist Erbauer. Die Grundwert- Energie eines Erbauers ist Macht. Macht ist persönliche Energie, die  investiert wird, um ein positives Ergebnis zu erzeugen. Sie schreiten konsequent zur Tat um Ergebnisse zu bekommen.
</p>