<div class="results clearfix"><a name="aWhoIAm" id="aWhoIAm"></a>
	<div class="imgRight">
		<img src="../CVIReportFiles/PCR_1200/images/WhoIAm.png"></img>
	</div>
	<h2>Wie ik ben</h2>
<p>
Jouw scores tonen aan dat je <strong class="qTitle">BUILDER / INNOVATOR</strong> kwaliteiten hebt. kwaliteiten hebt. 
Wanneer je een kamer binnenkomt is er plotseling meer kracht en wijsheid energie in die kamer. Je bent de aanwezigheid van wijze kracht. 
Dit is jouw opdracht, om de daadwerkelijke aanwezigheid van wijze kracht te zijn. Je kijkt naar de omstandigheden en situaties om je heen door de ogen van geloof, compassie en oprechte betrokkenheid. 
Je opereert vanuit pure intuïtie, je ziet wat er gedaan moet worden en handelt zonder aarzeling om de benodigde resultaten te behalen. 
Deze kracht energie wordt in evenwicht gehouden door zuivere rede en het intuïtieve vermogen om de manier waarop de dingen zijn te zien en te weten wat je te doen staat vanuit dit begrip, 
waarbij je wijze strategieën en oplossingen aandraagt voor anderen. Jouw hoogste en beste bijdrage kan dan ook alleen in die situaties geleverd worden waarin er een grote en constante behoefte aan wijze kracht is.
</p>
<p>
Wie je bent op het diepste niveau van je aangeboren menselijke natuur is het belangrijkste element in je leven. Wie je bent op dit diepe niveau, is immers je enige echte bijdrage aan deze wereld. Het is door juiste taakstelling en effectieve keuzes die je je hoogste en beste bijdrage laten leveren. Dit is de universele opdracht van alle mensen.
</p>
<p>
Hoe meer je leert over wie je werkelijk bent, en hoe je jouw aanwezigheid kunt optimaliseren in deze wereld, hoe groter je succes, geluk en effectiviteit in dit leven.
</p>
<p>
Jouw dominante <strong class="qTitle">BUILDER</strong> energiewaarde wordt in evenwicht gebracht door jouw secundaire <strong class="qTitle">INNOVATOR</strong> secundaire energiewaarde. kernwaarde. Je acties worden routinematig, bijna onbewust geleid door deze twee kernwaarde-energieën. In tijden van nood leun je meestal op de conflictstrategieën van je dominante kernwaarde. In minder kritische conflicten kun je één van beide conflictstrategieën gebruiken, afhankelijk van de situatie.
</p>



<h3>Jouw unieke dominante <strong class="qTitle">BUILDER</strong> kernwaarde zorgt ervoor dat je vertrouwen stelt in de volgende strategieën voor succes en voldoening.</h3>
<p>
Jouw hoeksteen kernwaarde energie is kracht, de aanwending van pure energie voor het goede. Deze primaire driver wordt ondersteund en beïnvloed door een sterk vertrouwen in je eigen vermogen om te weten wat te doen,
 vertrouwen dat je acties nuttig zijn, en het vertrouwen dat wanneer je eenmaal verandering teweeg brengt, en ook weet wat de vervolgstappen zijn.
 
</p>
<p>
Het vervullen van taken is jouw primaire drive. Je bent praktisch ingesteld en bereid om de waarheid onder ogen te zien. Je bent gedreven om dingen gedaan te krijgen. Je handelt zodra je weet wat je te doen staat. Mensen om je heen weten dat je over het algemeen taakgericht bent. Het is belangrijk voor je om zelfvoorzienend te zijn, zonder grenzen. Je bent sterk gemotiveerd.
</p>
<p>
Het geven van richtlijnen gaat je van nature goed af. Je werkt graag met dingen die echt en tastbaar zijn. Je bent trots op de energie die je aan projecten besteedt Het opstarten van nieuwe projecten en ondernemingen maakt je gelukkig. Je houdt ervan om dingen in beweging te zetten. Je werkt het liefst aan dingen of projecten die werkelijke waarde hebben. Je wil dat de dingen die je doet een tastbaar verschil maken.
</p>
<p>
Je wilt graag dingen en mensen aan het werk zetten. Het kennen van de kosten en de opbrengsten van elke actie is belangrijk voor je. Je werkt graag en je bewondert anderen die werken.  
Je voelt over het algemeen dat je genoeg middelen, , energie en drive hebt om jouw doelen te bereiken. Je vind het belangrijk om goede resultaten voor geïnvesteerde energie te krijgen. Er zijn maar weinig situaties waarin je je ontoereikend voelt. Je gebruikt je kracht (fysieke- en persoonlijke) om te krijgen wat je wilt.
</p>
<p>
Je vind het belangrijk dat je het juiste doet.
</p>


<h3>Jouw unieke secundaire <strong class="qTitle">INNOVATOR</strong> <kernwaarde ondersteunt jouw dominante <strong class="qTitle">BUILDER</strong> kernwaarde.</h3>
<p>
Jouw tweede kernwaarde energie is wijsheid. Begrip, mededogen, compassie en oprechte betrokkenheid staan centraal in je levensstrategie.
</p>
<p>
Strategisch denken is jouw sterke punt. Je bent er trots op dat je mensen en situaties kunt doorzien. Het ontwikkelen van effectieve reacties op situaties is één van jouw belangrijkste bijdragen. Je observeert en meet consequent de waarde van mensen en dingen. Wanneer verschillende dingen kunnen worden samengebracht uit verschillende bronnen, dan zal je dat doen.  Je communiceert het liefst in beelden en beschrijvingen. Het is voor jou belangrijk om te observeren en te luisteren voordat je handelt.
</p>
<p>
Het vinden van de beste oplossing is één van jouw belangrijkste bijdragen. Jouw smaak is gevarieerd en divers. Je wilt graag alle opties overwegen. Snelle en slimme uitwisseling van ideeën is een persoonlijke vreugde en jouw favoriete manier van werken. Je houdt van moeilijke situaties en uitdagende vragen. Je bent in staat om te zien hoe de dingen werkelijk zijn, en je weet wat je eraan moet doen. Je wordt gezien als een waardevolle bron om mensen naar de juiste ideeën en in de juiste richting te leiden.
</p>
<p>
Je leidt middels het presenteren van intelligente alternatieven. Op dom of onlogisch handelen zal je niet gauw betrapt worden.  Uw gebruik alles wat ter beschikking aan de eisen te voldoen is. Je waarde en vertrouwen op je mentale vermogens. Je gebruikt alles wat je ter beschikking staat om aan de eisen te voldoen. Je waardeert én vertrouwt op je mentale vermogens.
</p>


<h3>BUILDER-Jouw Dominante kernwaarde</h3>
<p>
Wanneer je iets gedaan wilt krijgen in een bedrijf, zorg er dan voor dat je een BUILDER inschakelt. BUILDERS zijn de 'doeners' van deze wereld; 
een aanzienlijk percentage van de ondernemers en zakelijk leiders zijn BUILDERS en zonder hen zou er weinig tot stand komen. 
Als je BUILDER bent, ben je succesvol omdat je dingen gedaan krijgt. Je weet hoe je actie moet ondernemen en resultaten krijgt. Je neemt persoonlijke verantwoordelijkheid. 
Je verzint meestal geen uitvluchten, en je bent over het algemeen ongeduldig met hen die dat wel doen. Je neemt ter plekke beslissingen en daar hou je van. 
Je hebt een korte-termijn focus en je wordt gedreven door het gevoel van voldoening op dat moment.
</p>
<p>
BUILDERS hebben een interne drive die hen in staat stelt om besluitvaardig te zijn, obstakels op te blazen en onmiddellijk en zonder aarzeling beslissingen te nemen. 
Ze laten voortdurend hun energie los op een vastgestelde doelstelling, en zijn niet bereid om een nederlaag te aanvaarden, althans niet lijdzaam. 
Het is voor de BUILDER een sport om een probleem snel te herkennen en dit direct op te lossen. BUILDERS zijn geen grote probleemoplossers. 
Ze verwachten dat hun energie en hun harde werk samen de oplossing vormen.
</p>
<p>
BUILDERS zijn krachtige mensen. Zij handelen vanuit onderbuik-gevoel en vertrouwen alleen op hun eigen oordeel. Dit maakt hen zeer bepalend. 
Dit kan bijzonder intimiderend zijn voor anderen. In feite is intimidatie vaak de inherente, primaire manier voor de BUILDER om controle over elke situatie te krijgen. 
Als de pure kracht van hun persoonlijkheid en daadkracht niet voldoende is om de controle te houden, kunnen ze hun toevlucht tot woede of vijandigheid nemen. 
Wanneer een BUILDER stuurloos is, is intimidatie is een doeltreffend instrument om het gezag terug te vorderen.
</p>
<p>
BUILDERS kunnen de visie van de MERCHANTS, de oplossingen van INNOVATORS en de informatie van BANKERS nemen en deze omzetten in actie. 
BUILDERS hebben de kracht om het te laten gebeuren.
</p>
<p>
Het is duidelijk waarom BUILDERS goede zakelijke leiders zijn. BANKERS, MERCHANTS en INNOVATORS die secundaire BUILDER kenmerken hebben zullen ook zeer goed slagen.
</p>


<h3>Uitdagingen voor de BUILDER </h3>
<p>
De grootste zwakheid van een BUILDER in leiderschap is diens neiging om alles zelf te doen. 
Ze zijn niet effectief in het onderwijzen van anderen omdat ze te ongeduldig zijn. 
BUILDERS zijn er zo op gefocust om de dingen nú gedaan te krijgen dat ze daardoor meestal crisis scheppen in hun omgeving. 
Ze zullen het goed doen als brandweerman, wat handig is, omdat zij door hun stijl van leidinggeven het ene brandje na het andere stichten. 
</p>
<p>
Vanwege de duidelijke kracht van BUILDERS, zijn anderen vaak niet tegen hen opgewassen, vooral niet wanneer de BUILDER de baas is. 
Secretaresses en boekhouders met deze kernwaarde energie leiden soms kleine bedrijven, 
of zelfs afdelingen in grote bedrijven, omdat de BUILDER strategieën van deze werknemers de vrije hand krijgt om op 
ongepaste manier controle uit te oefenen.
</p>
<p>
BUILDERS zijn niet echt afgestemd op het lezen van de reacties en behoeften van anderen. 
BUILDERS zijn geen geweldige teamspelers en hun kracht ligt niet in het opbouwen van een team. 
Als een BUILDER hier al goed in is, dan maakt hij gebruik van de MERCHANT (relatie) strategie of de INNOVATOR (oplossing) strategie om dit teambuilding "project" te volbrengen. 
BUILDERS benaderen het opbouwen van een team op dezelfde manier als waarop ze elk ander project of dagelijkse taak benaderen: 
aan de slag  gaan, in beweging krijgen en in beweging blijven en niet wachten tot iemand komt om je te motiveren.
</p>
<p>
BUILDERS waarderen actie en resultaten boven alle andere zakelijke factoren. Hun manier van onderwijzen van anderen is om mensen aan de kant te duwen, de zaak in eigen hand te nemen, en te zeggen: 
"Kijk hoe ik het doe." Vervolgens gaat de BUILDER weg en verwacht hij dat zijn "student" dan net zo bedreven in de taak zal zijn als hij. 
Dit geeft de studenten vaak gevoel dat zij te kort schieten en laat de BUILDER verward achter omdat hij niet snapt waarom dit zo is. 
Wanneer BUILDERS begrijpen dat hun manier van lesgeven meestal niet beste is, kan er aan beide zijden veel verspilde energie en verwarring worden vermeden. 
BUILDERS verwarren vaak het ondernemen van actie met het verkrijgen van resultaat. 
Hoewel BUILDERS meestal heel pragmatisch en resultaat georiënteerd zijn, wanneer het gaat om hun eigen prestaties, zijn ze zo gefocust op het ondernemen van actie dat ze vaak vergeten wat hun missie is. Ze verliezen in de hitte van de strijd soms hun doelstellingen uit het oog.
</p>
<p>
Het ondernemen van actie voelt voor BUILDERS net zo goed als het voltooien van een project. 
Wanneer zij de opdracht krijgen om iets gedaan te krijgen, is dat voor een BUILDER op zich al een "resultaat". 
Zij hebben hun energie ervaren, hebben genoten van het werk, en voelen zich geladen met nieuwe energie, klaar voor de volgende opdracht. 
Ze hebben de neiging om details over het hoofd te zien en vinden resultaten vaak van minder belang. Ze zien te veel informatie als een belediging van hun capaciteiten en ze zijn ongeduldig jegens INNOVATORS die een situatie te lang beredeneren. 
Zij kunnen MERCHANTS soms ook als onbetrouwbaar beschouwen.
</p>
<p>
BUILDERS zijn ongeduldig met de wereld en in het bijzonder met BANKERS, MERCHANTS en INNOVATORS. Met andere woorden, de waarden of overwegingen van anderen zijn altijd ondergeschikt aan die van hem, de BUILDER, wanneer hij uit is op een specifiek resultaat of gewoon actie wil ondernemen.
</p>
<p>
Tijd is voor een BUILDER altijd van het grootste belang. Omdat BUILDERS MERCHANTS beschouwen als "lichtgewichten" en "excentriek," en omdat MERCHANTS zoveel waarde hechten aan relaties, kunnen BUILDERS hen niet goed motiveren. Dit laat de BUILDER vaak geloven dat de MERCHANT zijn kostbare tijd verspilt.
</p>
<p>
BUILDERS hebben ook een lage tolerantie voor het geven van instructies. Ze zijn zo gemotiveerd en zelfvoorzienend dat een dergelijke instructie al gauw voelt als tijdverspilling. Bovendien, weten ze gewoon niet hoe ze iemand moeten vertellen hoe ze iets moeten doen. Ze doen het liever zelf.
</p>
<p>
BUILDERS genieten heel erg van INNOVATORS zolang de BUILDER maar de baas is. INNOVATORS geven BUILDERS oplossingen voor problemen, en BUILDERS zijn verreweg de beste uitvoerders. Deze symbiose voedt persoonlijke wensen van de BUILDER heel goed.
</p>
<p>
Het opblazen van relaties is een favoriet tijdverdrijf van onvolwassen BUILDERS en heeft voor hen niet meer betekenis dan het opblazen van ideeën of het verstoren van systemen die te comfortabel zijn, of gewoon gehoorzaamheid vragen om te zien of ze die kunnen krijgen. Aangezien BANKERS afkerig zijn van risico's, en feiten willen weten voordat ze verder gaan en aarzelen bij elke beslissing, zien BUILDERS BANKERS als bakstenen muren die regelmatig uit de weg moeten worden geruimd en naar de achtergrond moeten worden gedrukt.
</p>
<p>
BUILDERS houden van actie, activiteiten, en energie en ze kunnen relaties, effectiviteit, en stabiliteit opofferen om het eindresultaat waar ze naar hunkeren te rechtvaardigen.
</p>


<h3>Builder/Innovators</h3>
<p>
BUILDER / INNOVATORS zijn actiegerichte, oplossingsgerichte en onafhankelijke mensen. Zakelijke situaties die blijvende structuren of systemen vereisen moeten een BUILDER / INNOVATOR kracht aan het roer te hebben. Of het nu nodig is om van iets complex iets eenvoudigs te maken, of juist een eenvoudig systeem robuuster te maken en dit te laten inspelen op de huidige behoeften, de BUILDER / INNOVATOR is de juiste persoon voor de job.
</p>
<p>
BUILDER / INNOVATORS bedenken passende oplossingen en ondernemen onmiddellijk actie. Het implementeren van een oplossing voor een probleem is een rijke vorm van beloning voor de BUILDER en het in werking gezet zien worden van een systeem is de hoogste erkenning voor een INNOVATOR. Dus, in de BUILDER / INNOVATOR, hebben we een persoon die een monument ontwerpt en het vervolgens bouwt.
</p>
<p>
Deze krachtige persoonlijkheid functioneert goed wanneer hij los van anderen staat. Ze gedijen op onafhankelijkheid en rebelleren onder het gezag van iemand anders. Wanneer hen een algemeen idee gegeven wordt van het op te lossen probleem, of het te bouwen monument, zullen ze een manier vinden om het gedaan te krijgen. Maar geef ze ruimte en doe een stapje terug. Zonder een open schootsveld, verandert hun energie van creativiteit en actie naar slimme ontduiking van beperkingen, onzichtbaarheid en eventueel zelfs boosheid.
</p>
<p>
BUILDER / INNOVATORS zijn niet snel door iets geïntimideerd behalve dan door intieme relaties en spreken in het openbaar. Ze zijn vindingrijk, behendig, voortdurend in beweging, slim, inventief, in staat om anderen te onderwijzen (INNOVATOR-zijde), en krachtig en veeleisend in een situatie waar een gewenste effect bereikt moet worden (BUILDER-kant). Ze leiden hun eigen oplossingen af en zetten deze zonder aarzeling om in actie.
</p>
<p>
In de snel veranderende omgevingen, in gebrekkige situaties en in situaties met extreme groeimogelijkheden zijn BUILDER / INNOVATORS ongeëvenaard.
</p>
<p>
BUILDER / INNOVATORS geloven dat ze het antwoord op elke vraag hebben en de kracht bezitten om alles te doen. Hun INNOVATOR kernwaarde energie ontwikkelt de ene onweerlegbaar geldige oplossing na de andere, en de BUILDER in hen schuift ofwel iedereen aan de kant terwijl ze bezig zijn met de uitvoering van het plan, of ze sturen iemand anders op een belerende manier aan over hoe de klus doelmatig gedaan kan worden. Met andere woorden, als ze het niet zelf kunnen doen verwachten ze toch dat het precies zo zal gebeuren als wanneer zij de opdracht zélf hadden uitgevoerd.
</p>
<p>
Aangezien BUILDERS ongeduldig met de wereld om hen heen zijn, kunnen zij elk onderwijsmoment als "babysitten" beschouwen. 
BUILDER / INNOVATORS zijn ervan overtuigd dat ze zelfvoorzienend zijn. Omdat ze ongeduldig zijn, vinden zij het moeilijk om begeleid te worden en kunnen ze het gevoel hebben dat hun ideeën de enige zijn met echte kwaliteit of waarde.
</p>

 <div id="merchant-banker">
 <p><b>Jouw derde niveau</b> <strong class="qTitle">MERCHANT</strong> <b>kernwaarde geeft je de mogelijkheid om adequaat te reageren op een breed spectrum van situaties.</b></p>
<p>
Jouw hoeksteen kernwaarde energie is liefde. Het opbouwen en onderhouden van relaties staat centraal in de strategie van jouw leven. Je bent voortdurend bezig om de waarheid over jezelf en anderen te weten en te begrijpen.
</p>
<p>
Jouw <strong class="qTitle">MERCHANT</strong> waarden zijn sterk genoeg om balans in je leven te brengen. Leren hoe je jouw strategie kunt verschuiven naar deze kernwaarde op momenten waarin nieuwe kansen zich aandienen of hoe je deze tijdens conflicten kunt aanwenden zal aanzienlijk bijdragen aan jouw succes.
</p>
<p>
Je geniet ervan een helder licht in de wereld te zijn. Je hebt een natuurlijk enthousiasme en verkeert graag in situaties die je volledig in beslag nemen en je energie geven. Je wilt een goede beloning en waardering krijgen voor bestede tijd en energie. Geen potentieel plan, idee of mogelijkheid gaat aan jou voorbij.  Effectief samenwerken met anderen is voor jou een kernstrategie.  Je deelt je kennis en informatie met anderen; jij geniet ervan en anderen waarderen het.  Je houdt van een nieuwe lading in je leven en je houdt ervan om de levens van anderen nieuwe lading te geven.
</p>
<p>
Je houdt ervan om mensen te vertrouwen en om jezelf vrijelijk met hen te delen. Charme en enthousiasme zijn een onderdeel van jouw arsenaal voor succes.  Het motiveren anderen met jouw visie en ideeën ervaar je als zeer bevredigend.  Omdat van grote waarde voor anderen te zijn en het zien van grote waarde in anderen belangrijk voor je. Je bezit de vaardigheid om mensen te helpen zich hoopvol en moedig te voelen. Jouw inzet voor anderen en de inzet in je eigen leven is een aanmoediging voor anderen.
</p>
<p>
Je bezit de vaardigheid om mensen te helpen zich hoopvol en moedig te voelen. Het is belangrijk voor je om mensen en dingen te zien zoals ze werkelijk zijn.
</p>

 
 <p><b>Jouw vierde niveau</b> <strong class="qTitle">BANKER</strong> <b>kernwaarde geeft je de mogelijkheid om een evenwichtig en succesvol leven te leiden.</b></p>
<p>
Jouw hoeksteen kernwaarde energie is kennis, ondersteund door jouw sterke verlangen om rechtvaardigheid in deze wereld te brengen
</p>
<p>
Je handelt graag in overeenstemming met specifieke kennis en historisch bewijs. De juiste informatie voor handen hebben is belangrijk voor je. Je doet wat je zegt dat je gaat doen. Je werkt hard om middelen bijeen te brengen en op te slaan. Je geeft de voorkeur aan stabiele, solide situaties met weinig verandering. Het leven is gemakkelijker wanneer mensen en dingen redelijk vergelijkbaar zijn. De betrouwbaarheid van jouw woorden en handelingen zijn essentieel voor je gevoel van eigenwaarde.
</p>
<p>
Wanneer de situatie onoverzichtelijk wordt, kun je prikkelbaar worden. Wanneer je eenmaal begonnen bent, geef je niet meer zo gemakkelijk op.  Je houdt ervan de bron van informatie en beproefde methodieken te zijn. Kennis van het verleden levert bewijs voor de toekomst. Iets creëren zonder effectieve schriftelijke plannen en procesbeschrijvingen is zinloos. Het hebben van alle informatie is voor jou belangrijk, zelfs de kleine details.
</p>
<p>
Je wilt graag degene zijn die het allemaal weet; gelijk hebben en de mogelijkheid om dat te bewijzen zijn belangrijk voor je. Effectieve beslissingen worden ondersteund door analyse van overeenkomsten en verschillen.
</p>

 </div>