<div class="results clearfix"><a name="aWhoIAm" id="aWhoIAm"></a>
	<div class="imgRight">
		<img src="../CVIReportFiles/PCR_1200/images/WhoIAm.png"></img>
	</div>
	<h2>Wie ik ben</h2>
<p>
Jouw scores tonen aan dat je <strong class="qTitle">INNOVATOR / BUILDER</strong> kwaliteiten hebt. Wanneer je een kamer binnenkomt is er plotseling meer wijsheid en kracht energie in die kamer. 
Je bent de aanwezigheid van krachtige wijsheid. Dit is jouw opdracht, om de effectieve aanwezigheid van krachtige wijsheid te zijn. Je kijkt naar de omstandigheden en situaties om je heen door de ogen van betrokkenheid en (zelf)vertrouwen. Je opereert vanuit rede en intuïtie, het zien van de manier waarop dingen zijn. Het stellen van vragen en het daaruit afleiden van de juiste antwoorden, de beste strategieën en meest werkbare oplossingen. Dit wordt in evenwicht gehouden door je zuivere intuïtie. Je weet wat er gedaan moet worden, zonder erover na te hoeven denken. Je onderneemt actie en je zet je zonder aarzeling in voor het creëren van positieve resultaten Jouw hoogste en beste bijdrage kan dan ook alleen geleverd worden in situaties waarin er een grote en constante behoefte aan krachtige kennis.
</p>
<p>
Wie jij bent, op het diepste niveau van je aangeboren menselijke natuur, vormt de belangrijkste bouwsteen in je leven. Wie jij bent op dit diepe niveau is immers je meest wezenlijke bijdrage aan deze wereld. Door het uitvoeren van de juiste taken en het maken van effectieve keuzes lever je vervolgens je hoogste en beste bijdrage. Dit is de universele opdracht van de mensheid.
</p>
<p>
Hoe meer je leert over wie je werkelijk bent, en hoe je jouw aanwezigheid kunt optimaliseren in deze wereld, hoe groter je succes, geluk en effectiviteit in dit leven.
</p>
<p>
Jouw unieke dominante <strong class="qTitle">INNOVATOR</strong> kernwaarde wordt in evenwicht gebracht door jouw secundaire <strong class="qTitle">BUILDER</strong> kernwaarde. Jouw acties worden routinematig, bijna onbewust geleid door deze twee kernwaarde-energieën. In tijden van nood leun je meestal op de conflictstrategieën van je dominante kernwaarde. In minder kritische conflicten kun je één van beide conflictstrategieën gebruiken, afhankelijk van de situatie.
</p>



<h3>Jouw unieke dominante <strong class="qTitle">INNOVATOR</strong> kernwaarde zorgt ervoor dat je vertrouwen stelt in de volgende strategieën voor succes en voldoening.</h3>
<p>
Jouw hoeksteen kernwaarde energie is wijsheid. Begrip en mededogen staan centraal in jouw levensstrategie.
</p>
<p>
Strategisch denken is jouw sterke punt. Je ziet en begrijpt de relatieve waarde van mensen en dingen. Mensen zien jouw vernuft en vindingrijkheid. Je bent er trots op dat je mensen en situaties kunt doorzien. Ontwikkeling van effectieve reacties op situaties is een van jouw belangrijkste bijdragen. Het zien van mogelijkheden en kansen is een primair talent. Je streeft ernaar om mensen en dingen om goed met elkaar samen te laten werken.
</p>
<p>
Je houdt ervan om te communiceren met beelden en beschrijvingen. Het uitvinden van nieuwe systemen, processen en dingen is puur plezier. Je geeft nooit op. Je hebt mentale kracht en creativiteit in je denken. Gecompliceerde situaties en problemen vormen geen bedreiging voor je. Het vinden van de beste oplossing is één van jouw belangrijkste bijdragen. Jouw smaak is gevarieerd en divers.
</p>
<p>
Je wilt graag alle opties overwegen. Snelle en slimme uitwisseling van ideeën is een persoonlijke vreugde en jouw favoriete manier van werken. Je houdt van moeilijke situaties en uitdagende vragen. Je bent in staat om te zien hoe de dingen werkelijk zijn, en je weet wat je eraan moet doen. Anderen kijken naar jou vanwege je snelle en responsieve geest. Je wordt gezien als een waardevolle bron om mensen naar de juiste ideeën en in de juiste richting te leiden. Je gebruikt alles wat je ter beschikking staat om aan de eisen te voldoen.
</p>
<p>
Je waardeert én vertrouwt op je mentale vermogens. Het begrijpen van anderen en het samenwerken met hen is een belangrijk pluspunt van jou.
</p>



<h3>Jouw unieke secundaire <strong class="qTitle">BUILDER</strong> kernwaarde ondersteunt jouw dominante <strong class="qTitle">INNOVATOR</strong> kernwaarde.</h3>
<p>
Jouw tweede kernwaarde energie is kracht, de aanwending van pure energie voor het goede. Deze primaire driver wordt ondersteund en beïnvloed door een sterk vertrouwen in je eigen vermogen om te weten wat te doen, het vertrouwen dat je acties nuttig zijn en het vertrouwen dat wanneer je eenmaal verandering teweeg hebt gebracht, je ook weet wat de vervolgstappen zijn.
</p>
<p>
Het vervullen van taken is jouw primaire drive. Je bent praktisch ingesteld en bereid om de waarheid onder ogen te zien. Je bent gedreven om dingen gedaan te krijgen. Je handelt zodra je weet wat je te doen staat. Je werkt het beste wanneer je genoeg ruimte krijgt om te beslissen en te handelen. Het is belangrijk voor je om zelfvoorzienend te zijn, zonder grenzen. Je hebt een sterke zelfmotivatie. 
</p>
<p>
Je werkt graag met dingen die echt en tastbaar zijn. Je diepe verlangen is om je persoonlijke energie aan te wenden om een positief verschil te maken. Je waardeert duidelijkheid en openhartige discussie. Wanneer je de verantwoordelijkheid voor resultaten draagt lopen de dingen het lekkerst. Het opstarten van nieuwe projecten en ondernemingen maakt je gelukkig. Je houdt ervan om dingen in beweging te brengen Je neemt snelle en intuïtieve beslissingen. 
</p>
<p>
Je werkt graag en je bewondert anderen die werken. Je vind het belangrijk om goede resultaten voor geïnvesteerde energie te krijgen. Er zijn maar weinig situaties waarin je je ontoereikend voelt. Je gebruikt je kracht (fysieke- en persoonlijke) om te krijgen wat je wilt. Je vind het belangrijk dat je het juiste doet.
</p>



<h3>INNOVATOR- Jouw dominante kernwaarde</h3>
<p>
INNOVATORS zijn de scheppers van oplossingen in deze wereld. Ze kunnen altijd een andere aanpak bedenken. "Er moet een betere manier zijn," is meer dan hun motto; deze mindset zit bij wijze van spreken voorgeprogrammeerd in ROM-chips in de reticulaire receptor in hun hersenen. INNOVATORS genieten van de uitdaging van een probleem, vooral op grote schaal. Ze zijn probleemoplossers. Ze genieten hier zozeer van dat ze er een hekel aan hebben om genoegen te nemen met slechts één oplossing - "Er moet een nog betere manier zijn." Het statement, "als het niet kapot is, repareer het dan niet" heeft geen plaats in hun bewustzijn.
</p>
<p>
De kracht van INNOVATORS komt van hun onwil om te accepteren dat er iets is dat ze niet kunnen oplossen. 
Ze zijn bereid om hun ego keer op keer in gevaar te brengen, en ze hun reputatie dat ze altijd een plan, een oplossing, of een idee hebben voor verbeteringen op het spel zetten.
</p>
<p>
Daarbovenop houden INNOVATORS van systemen die de voortzetting van hun plannen waarborgen. Deze systemen zijn "monumenten" van INNOVATOR-creativiteit net zoals een piramide het monument is van zijn bouwer.
</p>
<p>
Wanneer iedereen om hen heen in paniek is en de BUILDER orders schreeuwt, de MERCHANT weeklaagt of nog grotere ideeën verkoopt,  de BANKER geduld of rechtvaardigheid predikt, zal de INNOVATOR de neiging hebben om zich te isoleren, een computer of een whiteboard te pakken en aan het werk te gaan.
</p>
<p>
Ze zijn zeer creatief in hun benadering van het oplossen van problemen. Ze zijn altijd in staat de dingen vanuit een nieuwe invalshoek te benaderen door nieuwe elementen, systemen of technieken aan de mix toe te voegen waar niemand anders ooit aan heeft gedacht om zodoende een echte innovatie te realiseren.
</p>
<p>
Terwijl de oplossingen en systemen die INNOVATORS maken goed kunnen worden onderbouwd en praktisch van aard zijn, zijn INNOVATORS van zichzelf niet erg praktisch in hun aanpak. Ze zijn niet goed in het implementeren, omdat ze alles willen perfectioneren alvorens te handelen. 
In actie komen betekent voor hen op de proppen komen met een andere innovatie, waardoor de implementatie van hun systemen of nieuwe producten telkens opnieuw uitgesteld wordt.
</p>
<p>
INNOVATORS hebben graag mensen om zich heen, maar niet om redenen van teambuilding. Voor hen is dit een publiek voor hun creativiteit en een manier voor hen om nieuwe ideeën mee te klankborden. Ze houden ervan om hun nieuwste ideeën samen met anderen te onderzoeken. Ze zijn zo gefascineerd door iedere persoonlijk bedachte "potentiële" oplossing dat ze willen dat alles en iedereen elke subtiliteit ervan zal waarderen. En net wanneer ze hun publiek ervan overtuigd hebben dat deze nieuwe oplossing briljant is, houden ze ervan om toe te voegen: "Wacht, maar wat als we ...? '
</p>
<p>
INNOVATORS kunnen voor de lol problemen oproepen om deze vervolgens weer op te kunnen lossen. BUILDERS steunen op INNOVATORS maar laten ze vaak in de gang staan, terwijl ze nog halverwege een verklaring over een mogelijke oplossing zijn. BANKERS dagen voortdurend de voorgestelde strategieën van een INNOVATOR uit, waardoor de INNOVATOR constant met nieuwe problemen wordt geconfronteerd. MERCHANTS luisteren aandachtig naar INNOVATORS en steunen voortdurend op hen. Dit geeft de INNOVATOR het gevoel dat hij "gehoord" wordt. Aangezien de MERCHANT een INNOVATOR nooit in de gang zou laten staan, zijn INNOVATORS en MERCHANTS vaak goede vrienden. Hun brainstormsessies zijn vaak eindeloos. Wanneer dit ongecontroleerd voortduurt, kunnen ze daarmee in feite de bedrijfsmiddelen uitputten.
</p>
<p>
INNOVATORS zijn van onschatbare waarde. Ze creëren nieuwe producten en zetten systemen in elkaar om productie- en administratieve problemen op te lossen. Ze zijn nooit verslagen en zijn altijd in staat om met nieuwe strategieën en benaderingen op de proppen te komen als iedereen het allang heeft opgegeven. Ze genieten hier zo van dat ze een hekel hebben aan het nemen van beslissingen, en ze af en toe verwarring scheppen in het systeem om een betere manier uit te vinden. Niets is goed genoeg, vooral als het bedacht is door iemand anders, of wanneer de oplossingen al langer dan enkele maanden oud zijn.
</p>
<p>
Ondernemende INNOVATORS kunnen zeer succesvol zijn. Zij zijn de mensen die een product ontwikkelen die de wereld brengt aan hun voeten legt. Het probleem is dat ze ook écht geloven dat de hele wereld bij hen op de stoep zal staan. Aangezien ze het proces van het oplossen van problemen leuker vinden dan het proces van het daadwerkelijk iets bouwen en dit te verkopen zijn ze, zodra een product of dienst idee wordt uitgevoerd, alweer bezig om een andere, betere oplossing te vinden.
</p>


<h3>Uitdagingen voor de INNOVATOR</h3>
<p>
De meest dodelijke zonde van INNOVATORS is hun wanhopige behoefte om een product of systeem constant verder te perfectioneren, lang nadat deze al volledig zijn doel zou dienen. Ze raken verslaafd aan een specifieke oplossing of een interessant probleem lang nadat er een oplossing voor het probleem gevonden is.
</p>
<p>
Actieve INNOVATORS moeten een BUILDER in of om hen heen hebben om van hen te eisen dat zij zich beperken tot één oplossing en deze af te maken. Zij hebben ook behoefte aan MERCHANTS die anderen daadwerkelijk kunnen laten begrijpen wat de toegevoegde waarde is van de 'oplossing' die verkocht wordt. En zij hebben BANKERS nodig die hen helpen de details in te vullen en hen helpen de kosten te beheersen en winst te maken.
</p>
<p>
INNOVATORS kunnen erg koppig zijn. Ze kunnen onwrikbaar standhouden totdat ze het gevoel hebben dat hun oplossingen geperfectioneerd zijn. En omdat ze ook van evalueren houden, zullen ze niet alleen graag een nieuwe oplossing creëren, maar ze zijn ook degenen die de geschiktheid, de correctheid, de slimheid en de mate van perfectie beoordelen. In feite zijn ze er zeker van dat niemand anders ooit alle subtiliteit en complexiteit van hun oplossing kan begrijpen waardoor ze er een hekel aan hebben om anderen er echt in te laten duiken en het te laten onderzoeken, uit angst dat ze wellicht een aantal kleine details over het hoofd gezien hebben.
Beslissingen kunnen voor een INNOVATOR uitlopen op een marathon van het constant toevoegen van meer overwegingen, deze te testen op de gevolgen en dan aankondigen: "ik zie hoe dat zal passen." Dan, wanneer iedereen denkt dat de beslissing genomen is, kan de INNOVATOR weer nieuwe overwegingen inbrengen die eerst getest moeten worden voordat het finale besluit wordt genomen. 
INNOVATORS kunnen MERCHANTS en BUILDERS die voortgang willen boeken flink ergeren.
</p>
<p>
INNOVATORS zijn erg ontvankelijk en staan open voor verandering wanneer ze de spanningen die ze veroorzaken begrijpen. 
Ze zijn bereid om zich anders te gedragen als maar kunnen inzien hoe dit verschil in gedrag betere resultaten voortbrengt.
Om deze reden kunnen INNOVATORS en BUILDERS geweldige teamgenoten zijn. Ze hebben beiden de neiging om een goede balans tussen actiegerichtheid en drang naar perfectie te behouden.
</p>
<p>
Het aanpassingsvermogen van INNOVATORS wordt ook zeer gewaardeerd door alle andere spelers. INNOVATORS maken weinig onderscheid tussen welke problemen ze gevraagd worden op te lossen. Het proces van het vinden van een oplossing is voldoende om hen gelukkig te maken. INNOVATORS zijn een belangrijk element in elke zakelijke situatie waarin verandering optreedt. Hun vindingrijkheid brengt nieuwe methoden, instrumenten, systemen en mechanismen voort. INNOVATORS openen altijd nieuwe wegen voor succes.
</p>
<p>
Het omgekeerde verschijnsel kan voor veel INNOVATORS net zo goed gelden; ze hebben de neiging om zeer bedreven te zijn  in het oplossen van bepaalde typen problemen. INNOVATOR-ingenieurs, bijvoorbeeld, zijn vaak genieën in het ontwerpen van een nieuw elektronisch circuit, maar gedragen zich meer als verstrooide professoren als het gaat om de ontwikkeling van zakelijke oplossingen voor hun afdeling.
</p>
<p>
Als INNOVATORS niet aangestuurd worden, worden ze koppig. Ze zoeken naar wegen zodat ze om je heen kunnen  gaan of om je tot andere gedachten te brengen. 
Ze bedenken zich en kunnen in de verdediging gaan en verzetten zich tegen een beslissing. Zij kunnen een nieuw elementje aan de vergelijking toevoegen om je te verwarren. 
Zij ontkennen feiten, betwisten de geldigheid of de relevantie van bestaande gegevens en weigeren om actie te ondernemen. 
Soms gooien ze gewoon het bijltje erbij neer, waardoor ze andere aanwezigen met andere kernwaarden weer woedend maken.
</p>
<p>
Wanneer al het andere faalt, nemen INNOVATORS toevlucht tot verhoor. Ze vinden het leuk om een kwestie te verwarren met niet ter zake doende- of zijdelingse vragen. Ze weten hoe ze vragen moeten stellen die meer als beschuldigingen klinken dan als vragen. Ze weten hoe ze andere mensen zo onder de huid kunnen kruipen door vragen te stellen die de onwetendheid van anderen te laten zien, of anderen zich onwetend, verward of ontoereikend laten voelen. Ondervraging is net zo'n krachtige strategie als de intimidatie van de BUILDERS, de "arme ik" slachtofferrol van MERCHANTS, of de afstandelijke, opstandige, veroordelende stellingname van BANKERS.
</p>




<h3>INNOVATOR / BUILDERS</h3>
<p>
INNOVATOR / BUILDERS besteden aandacht aan vooruitdenken, lossen problemen op, kennen de beste respons, nemen maatregelen, stellen eisen, en zorgen voor de gewenste resultaten. Zakelijke situaties die blijvende structuren of systemen vereisen moeten een BUILDER / INNOVATOR kracht aan het roer te hebben. Of het nu nodig is om van iets complex iets eenvoudigs te maken, of juist een eenvoudig systeem robuuster te maken en dit te laten inspelen op de huidige behoeften, de INNOVATOR / BUILDER is de juiste persoon voor de job.
</p>
<p>
INNOVATOR / BUILDERS bedenken passende oplossingen en ondernemen onmiddellijk actie. Het implementeren van een oplossing voor een probleem is een rijke vorm van beloning voor de BUILDER en het in werking gezet zien worden van een systeem is de hoogste erkenning voor een INNOVATOR. Dus, in de INNOVATOR / BUILDER, hebben we een persoon die een monument ontwerpt en het vervolgens bouwt.
</p>
<p>
Deze krachtige persoonlijkheid functioneert goed wanneer hij los van anderen staat. Ze gedijen op onafhankelijkheid en rebelleren onder het gezag van iemand anders. Wanneer hen een algemeen idee gegeven wordt van het op te lossen probleem, of het te bouwen monument, zullen ze een manier vinden om het gedaan te krijgen. Maar geef ze ruimte en doe een stapje terug. Zonder een open schootsveld, verandert hun energie van creativiteit en actie naar slimme ontduiking van beperkingen, onzichtbaarheid en eventueel zelfs boosheid.
</p>
<p>
"Wat is hij nu weer aan het ontwerpen?" en "Waar is hij nu?" zijn vragen die soms gesteld worden over INNOVATOR / BUILDERS door de mensen om hen heen.
</p>
<p>
INNOVATOR / BUILDERS zijn niet snel door iets geïntimideerd behalve dan door intieme relaties en spreken in het openbaar. Ze zijn vindingrijk, behendig, voortdurend in beweging, slim, inventief, in staat om anderen te onderwijzen (INNOVATOR-zijde), en krachtig en veeleisend in een situatie waar een gewenste effect bereikt moet worden (BUILDER-kant). Ze leiden hun eigen oplossingen af en zetten deze zonder aarzeling om in actie.
</p>
<p>
In de snel veranderende omgevingen, in gebrekkige situaties en in situaties met extreme groeimogelijkheden zijn INNOVATOR / BUILDERS ongeëvenaard.
</p>
<p>
INNOVATOR / BUILDERS geloven dat ze het antwoord op elke vraag hebben en de kracht bezitten om alles te doen. Hun INNOVATOR kernwaarde energie ontwikkelt de ene onweerlegbaar geldige oplossing na de andere, en de BUILDER in hen schuift ofwel iedereen aan de kant terwijl ze bezig zijn met de uitvoering van het plan, of ze sturen iemand anders op een belerende manier aan over hoe de klus doelmatig gedaan kan worden. Ze roepen vaak: "Als jij het niet kan, dan zorg ik wel voor iemand die dat wel kan!"
</p>
<p>
Aangezien BUILDERS ongeduldig met de wereld om hen heen zijn, kunnen zij elk onderwijsmoment als "babysitten" beschouwen. BUILDER / INNOVATORS zijn ervan overtuigd dat ze zelfvoorzienend zijn. Omdat ze ongeduldig zijn, vinden zij het moeilijk om begeleid te worden en kunnen ze het gevoel hebben dat hun ideeën de enige zijn met echte kwaliteit of waarde
</p>




 <div id="merchant-banker">
 <p><b>Jouw derde niveau</b> <strong class="qTitle">MERCHANT</strong> <b>kernwaarde geeft je de mogelijkheid om adequaat te reageren op een breed spectrum van situaties.</b></p>
<p>
Jouw hoeksteen kernwaarde energie is liefde. Het opbouwen en onderhouden van relaties staat centraal in de strategie van jouw leven. Je bent voortdurend bezig om de waarheid over jezelf en anderen te weten en te begrijpen.
</p>
<p>
Jouw <strong class="qTitle">MERCHANT</strong> waarden zijn sterk genoeg om balans in je leven te brengen. Leren hoe je jouw strategie kunt verschuiven naar deze kernwaarde op momenten waarin nieuwe kansen zich aandienen of hoe je deze tijdens conflicten kunt aanwenden zal aanzienlijk bijdragen aan jouw succes.
</p>
<p>
Je geniet ervan een helder licht in de wereld te zijn. Je hebt een natuurlijk enthousiasme en verkeert graag in situaties die je volledig in beslag nemen en je energie geven. Je wilt een goede beloning en waardering krijgen voor bestede tijd en energie. Geen potentieel plan, idee of mogelijkheid gaat aan jou voorbij.  Effectief samenwerken met anderen is voor jou een kernstrategie.  Je deelt je kennis en informatie met anderen; jij geniet ervan en anderen waarderen het.  Je houdt van een nieuwe lading in je leven en je houdt ervan om de levens van anderen nieuwe lading te geven.
</p>
<p>
Je houdt ervan om mensen te vertrouwen en om jezelf vrijelijk met hen te delen. Charme en enthousiasme zijn een onderdeel van jouw arsenaal voor succes.  Het motiveren anderen met jouw visie en ideeën ervaar je als zeer bevredigend.  Omdat van grote waarde voor anderen te zijn en het zien van grote waarde in anderen belangrijk voor je. Je bezit de vaardigheid om mensen te helpen zich hoopvol en moedig te voelen. Jouw inzet voor anderen en de inzet in je eigen leven is een aanmoediging voor anderen.
</p>
<p>
Je bezit de vaardigheid om mensen te helpen zich hoopvol en moedig te voelen. Het is belangrijk voor je om mensen en dingen te zien zoals ze werkelijk zijn.
</p>

 
 <p><b>Jouw vierde niveau</b> <strong class="qTitle">BANKER</strong> <b>kernwaarde geeft je de mogelijkheid om een evenwichtig en succesvol leven te leiden.</b></p>
<p>
Jouw hoeksteen kernwaarde energie is kennis, ondersteund door jouw sterke verlangen om rechtvaardigheid in deze wereld te brengen
</p>
<p>
Je handelt graag in overeenstemming met specifieke kennis en historisch bewijs. De juiste informatie voor handen hebben is belangrijk voor je. Je doet wat je zegt dat je gaat doen. Je werkt hard om middelen bijeen te brengen en op te slaan. Je geeft de voorkeur aan stabiele, solide situaties met weinig verandering. Het leven is gemakkelijker wanneer mensen en dingen redelijk vergelijkbaar zijn. De betrouwbaarheid van jouw woorden en handelingen zijn essentieel voor je gevoel van eigenwaarde.
</p>
<p>
Wanneer de situatie onoverzichtelijk wordt, kun je prikkelbaar worden. Wanneer je eenmaal begonnen bent, geef je niet meer zo gemakkelijk op.  Je houdt ervan de bron van informatie en beproefde methodieken te zijn. Kennis van het verleden levert bewijs voor de toekomst. Iets creëren zonder effectieve schriftelijke plannen en procesbeschrijvingen is zinloos. Het hebben van alle informatie is voor jou belangrijk, zelfs de kleine details.
</p>
<p>
Je wilt graag degene zijn die het allemaal weet; gelijk hebben en de mogelijkheid om dat te bewijzen zijn belangrijk voor je. Effectieve beslissingen worden ondersteund door analyse van overeenkomsten en verschillen.
</p>

 </div>
 