<h2>Core Values Learning Styles&trade;</h2>
<br/>
<p>
    <span>Once we understand a person’s core values, we gain great insight into the <b><i>
        learning styles</i></b> of the individual. We know that everyone is able to complete
        some level of learning in each learning style; but lessons learned in harmony with
        primary learning styles are far more easily and enjoyably learned than lessons derived
        from learning styles that do not come as naturally to the individual.</span>
</p>
<p><span>&nbsp;<br/><br/><br/></span></p>
<h1>
    <span>The Four Learning Styles</span></h1>
<p>
    <span>The learning style of an individual is directly related to his Core Values Profile&trade;.
        When lessons are provided in a manner harmonious with a person’s core values - learning
        is easy, fun, and long lasting. When lessons are given in a manner that is contrary
        to learning style, the work of learning is arduous, boring and irritating; it takes
        far too much energy and disappears as soon as the lesson is ended.</span>
</p>
<p>
    <span>We remember everything that supports our core values. We easily forget anything
        that does not support our core values. The reason is simple. We are all geared to
        approach life in a specific and consistent manner, based upon our unique recipe
        of core values. We all have these same values, but in different degrees. Our life
        strategy is based upon these core values, and we intuitively know that we develop
        self-esteem when we work within this value structure, and that we are most likely
        to succeed in making our contribution when we are functioning in harmony with our
        core values. </span>
</p>
<p>
    <span>When we are involved in learning things that support and relate directly to fulfillment
        of our core values, we are filled with enthusiasm, energy and motivation. When these
        lessons serve our desire to make important contributions to the world, our self-esteem
        is increased, our confidence is improved and we perform at our highest levels of
        productivity, creativity and effectiveness. Our desire and ability to learn is inherently
        increased when the lessons themselves come to us closely aligned with our core values.</span></p>
<h1>
    <span>1. Builders – The <i>Decide and Do</i> Style of Learning</span></h1>
<p>
    <span>The <b><i>Decide and Do</i></b> style of learning is the most difficult to accommodate
        in a classroom. The drive of these persons is to make gut level decisions and to
        take action. They want to make things different—now. They want to experience their
        own power in real life situations. </span>
</p>
<p>
    <span>Create contests that involve making dozens of decisions quickly, with little information.
        Fast action—physical contests that create the sense of personal power and ability.
        Stacking blocks – large blocks—as a team—competing to build the highest stack, or
        the stack that can hold the most weight. Illustrations of ideas with physical games
        and contests. Leadership exercises—the ability to make clear commands and cause
        a team to work together toward a short-term goal.</span>
</p>
<p>
    <span>The learning style of these people requires a connection to Power (The application
        of personal energy for good effect). Whatever happens in the classroom must either
        relate to a decision that promises a powerful effect, or the direct application
        of personal power (commands serve nicely). The balancing social cornerstone is faith
        (I know what to do. I will get the results I intend. I will know what to do next.)
        Putting <i>Decide and Do</i> people in a situation that requires these issues of
        faith, with quick decisions and physical consequences satisfies their deepest drives.</span>
</p>
<p>
    <b><span>Communication Methods that Don’t Work for Builder <i>Decide and Do </i>People</span></b>
</p>
<p>
    <span>If you make <b><i>Decide and Do</i></b> (power) people sit and listen they will
        not only<b><i> not</i></b> listen, but they may not remain seated. These people
        are action oriented. Give them physical things to do or decisions to make. Do not
        expect one-on-one dyad work at the intimate level, unless the work is to make specific
        decisions that promise concrete action and measurable results. Do not ask them to
        analyze data, or to solve complex problems. Don’t give them more information than
        they ask for. Make them ask for it. </span>
</p>
<p>
    <span>Give <b><i>Decide and Do</i></b> individuals situations that require assertiveness
        and direct responses spontaneously. Don’t ask them to draw pretty pictures—back
        of the napkin strategy sessions that are directly related to decisive action is
        okay. Don’t ask them to do solitary research, or to participate in long (more than
        10 minutes) brainstorming or lecture sessions. Promise them a chance to take action
        soon, before every <b><i>short</i></b> presentational session. Don’t show them long
        non-work, non-action videos or movies. </span>
</p>
<h1><span>2. Merchants - The <i>Talk and Listen</i> Style of Learning</span></h1>
<p>
    <span>The <b><i>Talk and Listen</i></b> style of learning is a high energy, fun and
        team oriented experience.The most engaging methods for teaching in this style involve
        games, situation dramas,group and individual presentations—lots of pictures, drawing
        exercises, illustrations, videos—short informative lectures (5-10 minutes) with
        instant application in a fun exercise. Personal sharing in small teams and one-on-one
        encounters relating to personal topics are also important and desired by people
        in this group.</span>
</p>
<p>
    <span>The core value of this learning style is love (nurturing the core values in one's
        self and in others) and truth (seeing the way things are, the way people are relating).
        Anything that teaches about these things is of interest. Any method that utilizes
        these values is preferred. Purchase one or more of the <a href="#aBook">resource guides below</a>
        to develop a thorough understanding of these principles.</span>
</p>
<p>
    <b><span>Communication Methods that Don’t Work for Merchant <i>Talk and Listen</i> People</b></span></p>
<p>
    <span>Talk and Listen (love) people are not patient with data and information sessions.
        They are bored and frustrated by research and other solitary assignments. Books
        and literature should not be academic or highly literal. Listening to long lectures
        without interaction is an attention killer. If classroom sessions do not allow extended
        conversations, Socratic discussions and small team interactions you cannot engage
        these people. They think and make decisions as they talk. They work out problems
        through discussions. They enjoy supporting each other in the process. The best learning
        happens when these elements are pervasive in the learning environment. Merchants
        are embarrassed by direct measurement of results. They don’t like situations that
        involve personal conflict. They resist exercises that require them to hear personal
        criticism in front of other people. They like games that are high energy and competitive
        in a friendly way. But don’t press them to make personal responses or to speak more
        directly, or to rush their talk and listen decision processes with others.</span>
</p>
<h1><span>3. Innovators - The <i>Observe and Solve</i> Style of Learning</span></h1>
    <p>
    <span>Complex, difficult challenges must be the core of this learning experience. Situation
        stories with multifaceted and varied possible outcomes, brainstorming, scheming,
        gathering of information using all five senses (not detailed research) — these elements
        must be in place to capture the observant, problem-solving mind. Cleaver mysteries,
        puzzles, systems assessments and recommendations, real life, hard edged stories
        with complex, interconnected stratagems make the <i><b>Observe and Solve</b></i>
        style of learning creative and engaging.</span> 
    </p>
    <p>
        <span>The core value that must be honored in this learning style is Wisdom. These people
            need to have a complex situation to evaluate. Complex and difficult problems intrigue
            these people and their self-esteem is significantly based on the size, importance
            and difficulty of the problems they solve. </span>
    </p>
    <p>
        <span>They must be asked to make individual assessments, developing their own intellectual
            powers. They must also be allowed to share their observations—brainstorm and derive
            a wise response or solution. They are competitive with their ideas, enjoy having
            their solutions accepted and put into practice, and they thrive on interactive "storm
            and solve" sessions. They are able and willing to remain compassionate with people,
            so discussions are generally high energy and confrontational without being combative.
            All lessons that require observation, understanding and wisdom will captivate this
            type of student.</span>
    </p>
    <p>
        <b><span>Communication Methods that Don’t Work for Innovator <i>Observe and Solve </i>
            People</span></b>
    </p>
    <p>
        <span>It is ineffective to give <b><i>Observe and Solve</i></b> people spontaneous,
            high-energy exercises that do not allow them to develop a comfort level for the
            process and environment, or time to work out a good solution (response). Don’t give
            them easy problems to solve. Don’t provide answers for them. Let them develop their
            own. Don’t give them repetitive tasks, or a simple transference of numbers into
            different forms-- No analysis. These people want to be creative, clever. You can
            talk to them for hours if there are lots of engaging questions, good Socratic dialogue
            and debate.</span>
    </p>
    <p>
        <span>Give them ample time to make their assessments and to derive their solutions.
            Homework is good for these people. They need isolation and total quiet to do their
            best wisdom work. Don’t give these people a controlling, irrational or emotional
            teacher. They will simply not participate, or they will disrupt by asking embarrassing
            and interrogative questions. Don’t belittle their ideas or set them up to make quick
            decisions, then face ridicule or even thoughtful feedback. If you don’t give them
            time to make an assessment, ask questions, process their observations and experiments,
            they will feel ill-used, disrespected. They will become stubborn and unmanageable
            very quickly under this kind of learning system.</span>
    </p>
    <h1><span>4. Bankers – The <i>Read and Analyze</i> Style of Learning</span></h1>
    <p>
        <span style='font-size: 9.0pt; font-family: "Verdana","sans-serif"; font-weight: normal'>
            The<i><b> Read and Analyze</b></i> learning style is very straightforward. There
            should be almost no talking without details, information, charts, graphs and statistics.
            If you don’t give this group something concrete to memorize you won’t get high marks
            for teaching. Reading materials that offer hard evidence plus the opportunity to
            analyze, dissect and re-organize are the core ingredients. Methodology, mathematics,
            historic proofs, and precise experimentation cause these persons to engage and learn.
            All directions for activities should be in writing.</span>
    </p>
    <p>
        <span>The core value that must be honored for these people is Knowledge (the how and
            why of things). Don’t bother trying to teach them anything if you can’t substantiate
            it, or better yet, if <i>they</i> can’t substantiate it. Read and Analyze people
            value justice. They like being asked to determine the level of justice and appropriate
            responses in situations. They also like to create a presentation of knowledge that
            is easily conveyed to others. Give them lots of opportunity to create their own
            demonstration of knowledge, or identify and prove an injustice.</span>
    </p>
    <p>
        <b><span>Communication Methods that Don’t Work for Banker <i>Read and Analyze </i>People</span></b>
    </p>
    <p>
        <span>It is not effective to ask Read and Analyze people to be highly spontaneous, to
            do role- playing or to make off-the-cuff presentations. They like to be perfect
            and right. Don’t put them in situations where they may be made to look ignorant,
            or foolish. Don’t give them a lot of verbal information. Put things in writing.
            Don’t offer information that they can’t use, or that is beneath their development
            level. And don’t just hand it to them. Make them work to find the data, and work
            to analyze and reconstruct data into an analytical form.</span>
    </p>
    <p>
        <span>Don’t ask them to make snap decisions. Don’t expect dyad work at an intimate/relational
            level. Don’t ask for solutions to complex problems, especially abstract problems.
            These people like to be concrete and linear in their thinking.</span>
    </p>
