de su energía derivada de sus valores primarios 
<br/>&nbsp;&nbsp;&nbsp;&nbsp;
viene de Poder y Conocimiento.</p>
                </div>
            </div>
            <div class="clearfix" id="topResults">
                <div class="checkOver">
                    <div id="congrats">
					<span>
                        <p>
						El evaluador the IVP encontró que usted es <strong class="qTitlew">Constructor-Banquero</strong>.</p>

<p>
¿Qué significa eso? Significa que su valor primario es constructor. --La energía derivada de su valor primario es el poder. El poder es una energía personal que se invierte para hacer cambios positivos. Toma medidas durables para obtener resultados. Su valor primario secundario es Banquero - la energía del valor primario de un banquero es el conocimiento. El conocimiento es saber los hechos a través de la investigación, medición, pruebas y registros. Está impulsado a entender el "qué", "cómo" y "por qué" de las cosas.
</p>