de su energía derivada de sus valores primarios 
<br/>&nbsp;&nbsp;&nbsp;&nbsp;
viene de Amor y Conocimiento.</p>
                </div>
            </div>
            <div class="clearfix" id="topResults">
                <div class="checkOver">
                    <div id="congrats">
					<span>
                        <p>
						El evaluador the IVP encontró que usted es <strong class="qTitlew">Comerciante-Banquero</strong>.</p>

<p>
¿Qué significa eso? Significa que su valor primario es comerciante. --La energía derivada de su valor primario es amor. El amor en este sentido esta trabajando hacia un visión inspirada de lo que puede ser, nutriendo su valor primario y el de otros. Busca construir relaciones y proveer una visión inspiradora para aquellos que lo rodean, su valor secundario es el de banquero --el valor primario de un banquero es el conocimiento. El conocimiento es saber los hechos por medio de investigación, medidas, pruebas y récords. Es motivado por el “qué”, “cómo”, y "por qué" de las cosas. 
</p>